<template>
  <div>
    <NavCharity />
    <div class="pa-16">
      <v-row>
        <v-spacer></v-spacer>
        <v-col cols="12" lg="6" xl="6" class="text-center">
          <v-card class="pa-5" outlined>
            <v-row>
              <v-col cols="12" lg="1" xl="1">
                <v-avatar color="grey lighten-4" size="70">
                  <v-img max-width="300" contain :src="getCOMById.src"></v-img
                ></v-avatar>
              </v-col>
              <v-col cols="12" lg="5" xl="5" class="ml-5 mt-3">
                <h1 class="text-left">{{ getCOMById.title }}</h1>
                <h4 class="text-left grey--text">
                  Advised By {{ getCOMById.advised }} . Public Fund
                </h4>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="1" xl="1">
                <v-btn icon x-large><v-icon x-large>mdi-link</v-icon></v-btn>
              </v-col>
            </v-row>
            <v-divider class="mt-8"></v-divider>
            <v-row class="pa-3 mt-3">
              <v-col cols="12" lg="8" xl="8" class="text-left">
                <h4 class="font-weight-regular orange--text">Total Impact</h4>
                <h1 class="font-weight-bold orange--text text-h2 mt-2">
                  ${{ getCOMById.impact }}
                </h1>
                <div>
                  <v-progress-linear
                    class="mt-8"
                    color="orange"
                    height="10"
                    rounded
                    :value="getCOMById.value"
                  ></v-progress-linear>
                </div>
                <div class="mt-3">
                  <v-row>
                    <v-col cols="12" lg="4" xl="4">
                      <h4 class="orange--text">
                        {{getCOMById.value}}% <span class="grey--text">Distributed</span>
                      </h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="4" xl="4" class="text-right">
                      <h4 class="orange--text">
                        ${{ getCOMById.grantable }}
                        <span class="grey--text">Grantable</span>
                      </h4>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="3" xl="3" class="text-right">
                <v-dialog v-model="dialog" persistent max-width="800">
                  <template v-slot:activator="{ on, attrs }">
                    <v-btn
                      v-bind="attrs"
                      v-on="on"
                      block
                      rounded
                      text
                      x-large
                      dark
                      class="orange text-capitalize mt-7"
                      >Donate Now</v-btn
                    >
                  </template>
                  <v-card width="800px" class="pa-5">
                    <v-card-title class="text-h3 font-weight-bold"><v-spacer />Payment <v-spacer /> <v-btn x-large icon @click="dialog=false"><v-icon>mdi-close</v-icon></v-btn></v-card-title>
                    <div class="pa-5">
                        <v-text-field type="number" solo flat background-color="grey lighten-1"></v-text-field>
                        <v-row>
                            <v-spacer></v-spacer>
                        <v-btn @click="dialog=false" x-large dark class="purple" width="200">Fund</v-btn>
                        <v-spacer></v-spacer>
                        </v-row>
                    </div>
                  </v-card>
                </v-dialog>
              </v-col>

              <div>
                <v-card-text
                  class="text-h6 font-weight-regular text-left mt-10"
                >
                  {{ getCOMById.description }}
                </v-card-text>
              </div>
            </v-row>
          </v-card>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>
    </div>
  </div>
</template>

<script>
import { useDAOSStore } from "@/stores/daos";

export default {
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  data() {
    return {
        dialog: false,
      id: this.$route.params.id,
    };
  },
  computed: {
    getCOMById() {
      let res = this.daosStore.getCOMById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    overview() {
      return this.daosStore.root;
    },
    proposals() {
      return this.daosStore.root + "/proposals";
    },
    newproposal() {
      return this.daosStore.root + "/newproposal";
    },
    vaults() {
      return this.daosStore.root + "/vaults";
    },
    members() {
      return this.daosStore.root + "/members";
    },
    settings() {
      return this.daosStore.root + "/settings";
    },
    socials() {
      return this.daosStore.root + "/socials";
    },
    socialfeed() {
      return this.daosStore.root + "/social-feed";
    },
    groupCall() {
      return this.daosStore.root + "/groupcall";
    },
  },
  /* computed: {
      dao () {
        return this.$store.state.daos.all.find(dao => dao.id === this.id)
      }
    }, */
  created() {
    let daoRoot = this.$route.path;
    let daoId = this.$route.params.id;
    console.log(`_ID Index.vue - #186 is ${daoRoot}`);
    console.log(`_ID Index.vue - #187 is ${daoId}`);

    if (isNaN(daoId)) {
      console.log(`_ID Index.vue - #190 : ${daoId} is not a number`);
    } else {
      console.log(`_ID Index.vue - #192 : ${daoId} is a number`);
    }

    if (daoRoot) {
      this.daosStore.setDAORoot(daoRoot);
    }

    if (daoId) {
      this.daosStore.setDAOId(daoId);
    }
  },
};
</script>

<style></style>
