<template>
  <div class="charityhome">
    <NavFund />
    <CrowdMain />
    <v-row>
      <v-col cols="1"></v-col>
      <v-col cols="6">
        <v-chip class="mt-8 mb-4" label color="#6638be" dark>
          Featured Project
        </v-chip>
        <v-card height="410" class="rounded-xl" flat>
          <v-img
            :src="`https://picsum.photos/200/300?image=${getImage()}`"
            height="410px"
          >
            <span class="text-h5 white--text pl-4 pt-4 d-inline-block"></span>
          </v-img>
        </v-card>
        <v-card class="" elevation="0" color="transparent">
          <v-card-title>Digital For Youth</v-card-title>

          <v-card-text>
            <div>By Logino Dujardin</div>
          </v-card-text>
          <v-card-text>
            <div>
              Digital For Youth Computers and digital education are a crucial
              part of our life, even among the youngest. People who...
            </div>
          </v-card-text>
          <v-card-actions>
            <div class="text-center">
              <v-btn
                outlined
                rounded
                style="text-transform: none"
                color="success"
                x-large
                dark
                to="/charity/projects"
              >
                Go to project
              </v-btn>
            </div>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col cols="5">
        <v-chip class="mt-8 mb-4" label color="#6638be" dark>
          Recommended
        </v-chip>
        <span class="mx-5 my-7">View more projects</span>
        <v-row v-for="i in 3" :key="i">
          <v-col cols="2">
            <v-card flat height="118" class="rounded-xl mx-0" max-width="201">
              <v-img
                :src="`https://picsum.photos/200/300?image=${getImage()}`"
                height="118px"
                max-width="201"
              >
                <span
                  class="text-h5 white--text pl-4 pt-4 d-inline-block"
                ></span>
              </v-img>
            </v-card>
          </v-col>
          <v-col cols="4">
            <p class="my-0">
              A helping hand to the victims of Australia’s Wildfire
            </p>
            <p class="grey--text font-weight-regular">By Timo S</p>
            <p class="blue--text text--darken-3 mt-3">19% funded</p>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols=""></v-col>
    </v-row>
    <!-- Stat Section -->
    <div class="mt-8">
      <v-row>
        <v-col cols="12" lg="1" xl="1"></v-col>
        <v-col
          class="text-center"
          cols="12"
          lg="3"
          xl="3"
          v-for="dao in getCharity"
          :key="dao.id"
        >
          <v-card outlined class="pa-8">
            <h1 class="text-h2 font-weight-bold orange--text">
              {{ dao.value }}
            </h1>
            <v-card-title class=""
              ><v-spacer />{{ dao.name }}<v-spacer
            /></v-card-title>
          </v-card>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
      </v-row>
    </div>
    <v-divider class="mt-15"></v-divider>

    <!-- Oss Section -->
    <div class="mt-14">
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <h1 class="text-h2 text-center font-weight-medium">
            Browse Open-Source Software (OSS) Projects
          </h1>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
        <v-col
          cols="12"
          lg="3"
          xl="3"
          class="mt-10"
          v-for="dao in getOss"
          :key="dao.id"
        >
          <v-card
            outlined
            class="pa-8"
            :to="{
              name: 'ossDetail',
              params: { id: dao.id },
            }"
          >
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h1 class="text-right">{{ dao.title }}</h1>
              </v-col>

              <v-col cols="12" lg="10" xl="10">
                <v-row>
                  <v-col cols="12" lg="1" xl="1">
                    <v-avatar color="blue" size="50">{{ dao.avatar }}</v-avatar>
                  </v-col>
                  <v-col cols="12" lg="8" xl="8" class="mt-3 ml-5">
                    <h3 class="text-end">{{ dao.address }}</h3>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-card-text>
              {{ dao.description }}
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="12" xl="12" class="text-center">
          <v-btn
            x-large
            text
            class="orange--text text-capitalize text-h5"
            to="/crowdfund/oss"
            >See all oss Projects</v-btn
          >
        </v-col>
      </v-row>
    </div>
    <v-divider class="mt-15"></v-divider>

    <!-- Community Section -->
    <div class="mt-14">
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <h1 class="text-h2 text-center font-weight-medium">
            Browse Community Funds
          </h1>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
        <v-col
          cols="12"
          lg="3"
          xl="3"
          class="mt-10"
          v-for="dao in getCommunity"
          :key="dao.id"
        >
          <v-card
            :to="{
              name: 'communityDetail',
              params: { id: dao.id },
            }"
            outlined
            class="px-5 pt-5"
          >
            <v-row>
              <v-col cols="12" lg="1" xl="1">
                <v-avatar size="" class="">
                  <v-img max-width="300" contain :src="dao.src"></v-img>
                </v-avatar>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4" class="text-right">
                <h2 class="orange--text">${{ dao.impact }}</h2>
                <h3 class="font-weight-regular orange--text">Total Impact</h3>
              </v-col>
            </v-row>
            <v-card-title>{{ dao.title }}</v-card-title>
            <v-card-text class="text-h6"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              explicabo provident unde praesentium laboriosam ipsam nisi
              molestias repudiandae sint sequi, soluta odit exercitationem eius
              ex. Exercitationem consequatur optio illum explicabo.</v-card-text
            >
            <v-row class="pa-4">
              <v-col cols="12">
                <div>
                  <v-progress-linear
                    color="orange"
                    height="13"
                    rounded
                    :value="dao.value"
                  ></v-progress-linear>
                </div>

                <div class="mt-3">
                  <v-row>
                    <v-col cols="12" lg="4" xl="4">
                      <h4 class="orange--text">
                        {{ dao.value }}% <span class="grey--text">Distributed</span>
                      </h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="4" xl="4" class="text-right">
                      <h4 class="orange--text">{{ dao.grant }} Grants</h4>
                    </v-col>
                  </v-row>
                </div>
                <v-divider class="mt-5"></v-divider>
                <div class="mt-5">
                  <v-row>
                    <v-col cols="12" lg="7" xl="7">
                      <h4 class="grey--text">
                        Advised By
                        <span class="orange--text">{{ dao.advised }}</span>
                      </h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="3" xl="3" class="text-right">
                      <h4 class="orange--text">Community Fund</h4>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="12" xl="12" class="text-center">
          <v-btn
            x-large
            text
            class="orange--text text-capitalize text-h5"
            to="/crowdfund/community"
            >See all community funds</v-btn
          >
        </v-col>
      </v-row>
    </div>
    <div class="pa-16">
      <v-divider class="ma-16"></v-divider>
    </div>

    <!-- Orgs Section -->
    <div class="">
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <h1 class="text-h2 text-center font-weight-medium">
            Browse Organizations
          </h1>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
        <v-col
          cols="12"
          lg="3"
          xl="3"
          class="mt-10"
          v-for="dao in getOrganization"
          :key="dao.id"
        >
          <v-card
            :to="{
              name: 'orgsDetail',
              params: { id: dao.id },
            }"
            outlined
            class="px-5 pt-5"
          >
            <v-row>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="2" xl="2" class="text-center">
                <v-icon size="100">{{ dao.icon }}</v-icon>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
            <v-divider class="mt-8"></v-divider>
            <v-row class="mt-8">
              <v-col cols="12" lg="1" xl="1">
                <v-avatar size="80" class="">
                  <v-img contain :src="dao.src"></v-img>
                </v-avatar>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4" class="text-right">
                <h2 class="orange--text">${{ dao.donate }}</h2>
                <h3 class="font-weight-regular orange--text">Total Donated</h3>
              </v-col>
            </v-row>
            <v-card-title>{{ dao.title }}</v-card-title>
            <v-card-text class="text-h6"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              explicabo provident unde praesentium laboriosam ipsam nisi
              molestias repudiandae sint sequi, soluta odit exercitationem eius
              ex. Exercitationem consequatur optio illum explicabo.</v-card-text
            >
            <v-row class="pa-4">
              <v-col cols="12">
                <v-divider class="mt-5"></v-divider>
                <div class="mt-5">
                  <v-row>
                    <v-col cols="12" lg="7" xl="7">
                      <h4 class="grey--text">
                        EIN: <span class="orange--text">{{ dao.ein }}</span>
                      </h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="3" xl="3" class="text-right">
                      <h4 class="orange--text">{{ dao.location }}</h4>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="12" xl="12" class="text-center">
          <v-btn
            x-large
            text
            class="orange--text text-capitalize text-h5"
            to="/crowdfund/orgs"
            >See all Organizations</v-btn
          >
        </v-col>
      </v-row>
    </div>

    <div>
      <Float />
    </div>
  </div>
</template>

<script>
import { useDAOSStore } from "@/stores/daos";
import Float from "../../components/Float.vue";
import NavFund from "../../components/NavFund.vue";
import CrowdMain from '../../components/CrowdMain.vue';
// import idl from "@/idl/idl.json";
// import { Connection, PublicKey, clusterApiUrl } from "@solana/web3.js";
// import {
//   Program,
//   AnchorProvider,
//   web3,
//   utils,
//   BN,
// } from "@project-serum/anchor";
// import { Buffer } from "buffer";
//window.Buffer = Buffer

export default {
  components: { Float, NavFund, CrowdMain },
  setup() {
   const daosStore = useDAOSStore();

    return { daosStore };
  },
  data: () => ({
    // programID: new PublicKey(idl.metadata.address),
    // network: clusterApiUrl("devnet"),
    // opts: {
    //   preflightCommitment: "processed",
    // },
    types: ["Places to Be", "Places to See"],
    // cards: ["Good", "Best", "Finest"],
    socials: [
      {
        icon: "mdi-facebook",
        color: "indigo",
      },
      {
        icon: "mdi-linkedin",
        color: "cyan darken-1",
      },
      {
        icon: "mdi-instagram",
        color: "red lighten-3",
      },
    ],
  }),
  computed: {
    getDAOById() {
      let res = this.daosStore.getDAOById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getDAOs() {
      return this.daosStore.categories;
    },
    getCharity() {
      return this.daosStore.charity;
    },
    getOss() {
      return this.daosStore.oss;
    },
    getCommunity() {
      return this.daosStore.community;
    },
    getOrganization() {
      return this.daosStore.organization;
    },
  },
  methods: {
    getImage() {
      const min = 550;
      const max = 560;

      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    // getProvider() {
    //   const connection = new Connection(network, opts.preflightCommitment);
    //   const provider = new AnchorProvider(
    //     connection,
    //     window.solana,
    //     opts.preflightCommitment
    //   );
    //   return provider;
    // },
    // async createCampaign() {
    //   const { SystemProgram } = web3;
    //   // seeds=[b"CAMPAIGN_DEMO".as_ref(), user.key().as_ref()], bump)]
    //   try {
    //     const provider = getProvider();
    //     const program = new Program(idl, programID, provider);
    //     const [campaign] = await PublicKey.findProgramAddress(
    //       [
    //         utils.bytes.utf8.encode("CAMPAIGN_DEMO"),
    //         provider.wallet.publicKey.toBuffer(),
    //       ],
    //       program.programId
    //     );
    //     await program.rpc.create(
    //       "campaign name",
    //       "campaign description",
    //       "campaign hash",
    //       {
    //         accounts: {
    //           campaign,
    //           user: provider.wallet.publicKey,
    //           SystemProgram: SystemProgram.programId,
    //         },
    //       }
    //     );
    //     console.log(
    //       "Created a new campaign with address:",
    //       campaign.toString()
    //     );
    //   } catch (error) {
    //     console.error(error);
    //   }
    // },
  },
};
</script>
