<template>
  <div>
    <NavFund />
    <div class="mt-16">
      <v-row>
        <v-col cols="12" lg="1" xl="1"></v-col>
        <v-col
          cols="12"
          lg="3"
          xl="3"
          class="mt-10"
          v-for="dao in getOrganization"
          :key="dao.id"
        >
          <v-card
            :to="{
              name: 'orgsDetail',
              params: { id: dao.id },
            }"
            outlined
            class="px-5 pt-5"
          >
            <v-row>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="2" xl="2" class="text-center">
                <v-icon size="100">{{ dao.icon }}</v-icon>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
            <v-divider class="mt-8"></v-divider>
            <v-row class="mt-5">
              <v-col cols="12" lg="4" xl="4" class="text-left">
                  <v-img class="mr-16" contain height="50" :src="dao.src"></v-img>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4" class="text-right">
                <h2 class="orange--text">${{ dao.donate }}</h2>
                <h3 class="font-weight-regular orange--text">Total Donated</h3>
              </v-col>
            </v-row>
            <v-card-title>{{ dao.title }}</v-card-title>
            <v-card-text class="text-h6"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              explicabo provident unde praesentium laboriosam ipsam nisi
              molestias repudiandae sint sequi, soluta odit exercitationem eius
              ex. Exercitationem consequatur optio illum explicabo.</v-card-text
            >
            <v-row class="pa-4">
              <v-col cols="12">
                <v-divider class="mt-5"></v-divider>
                <div class="mt-5">
                  <v-row>
                    <v-col cols="12" lg="7" xl="7">
                      <h4 class="grey--text">
                        EIN: <span class="orange--text">{{ dao.ein }}</span>
                      </h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="3" xl="3" class="text-right">
                      <h4 class="orange--text">{{ dao.location }}</h4>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { useDAOSStore } from "@/stores/daos";
import NavFund from '../../components/NavFund.vue';
export default {
  components: { NavFund },
  data() {
    return {};
  },
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  computed: {
    getDAOById() {
      let res = this.daosStore.getDAOById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getDAOs() {
      return this.daosStore.categories;
    },
    getCharity() {
      return this.daosStore.charity;
    },
    getCommunity() {
      return this.daosStore.community;
    },
    getOrganization() {
      return this.daosStore.organization;
    },
  },
};
</script>

<style></style>
