<template>
  <div>
    <NavFund />
    <div class="mt-16">
      <v-row>
        <v-col cols="12" lg="1" xl="1"></v-col>
        <v-col
          cols="12"
          lg="3"
          xl="3"
          class="mt-10"
          v-for="dao in getOss"
          :key="dao.id"
        >
          <v-card
            :to="{
              name: 'ossDetail',
              params: { id: dao.id },
            }"
            outlined
            class="px-5 pt-5"
          >
            <v-row>
              <v-col cols="12" lg="1" xl="1">
                <v-avatar size="80" class="">
                  <v-img contain :src="dao.src"></v-img>
                </v-avatar>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4" class="text-right">
                <h2 class="orange--text">${{ dao.impact }}</h2>
                <h3 class="font-weight-regular orange--text">Total Impact</h3>
              </v-col>
            </v-row>
            <v-card-title>{{ dao.title }}</v-card-title>
            <v-card-text class="text-h6"
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
              explicabo provident unde praesentium laboriosam ipsam nisi
              molestias repudiandae sint sequi, soluta odit exercitationem eius
              ex. Exercitationem consequatur optio illum explicabo.</v-card-text
            >
            <v-row class="pa-4">
              <v-col cols="12">
                <div>
                  <v-progress-linear
                    color="orange"
                    height="13"
                    rounded
                    :value="dao.value"
                  ></v-progress-linear>
                </div>

                <div class="mt-3">
                  <v-row>
                    <v-col cols="12" lg="4" xl="4">
                      <h4 class="orange--text">
                        {{ dao.value }}% <span class="grey--text">Distributed</span>
                      </h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="4" xl="4" class="text-right">
                      <h4 class="orange--text">{{ dao.grant }} Grants</h4>
                    </v-col>
                  </v-row>
                </div>
                <v-divider class="mt-5"></v-divider>
                <div class="mt-5">
                  <v-row>
                    <v-col cols="12" lg="7" xl="7">
                      <h4 class="grey--text">
                        Advised By
                        <span class="orange--text">{{ dao.advised }}</span>
                      </h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="3" xl="3" class="text-right">
                      <h4 class="orange--text">Community Fund</h4>
                    </v-col>
                  </v-row>
                </div>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12" lg="1" xl="1"></v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { useDAOSStore } from "@/stores/daos";
import NavFund from '../../components/NavFund.vue';
export default {
  components: { NavFund },
  data() {
    return {};
  },
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  computed: {
    getDAOById() {
      let res = this.daosStore.getDAOById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getDAOs() {
      return this.daosStore.categories;
    },
    getCharity() {
      return this.daosStore.charity;
    },
    getOss() {
      return this.daosStore.oss;
    },
    getCommunity() {
      return this.daosStore.community;
    },
    getOrganization() {
      return this.daosStore.organization;
    },
  },
};
</script>

<style></style>
