<template>
  <div>
    <NavFund />
    <CrowdMain />
    <div class="pa-14 pt-8">
      <v-row>
        <v-col cols="12" sm="1" md="1" lg="1" xl="1"> </v-col>
        <v-col
          cols="12"
          xs="3"
          sm="3"
          md="3"
          xl="3"
          lg="3"
          v-for="item in details"
          :key="item.id"
        >
          <v-card
            class="mx-auto my-12"
            flat
            outlined
            link
            :to="{
              name: 'projectDetail',
              params: { id: item.id },
            }"
          >
            <v-img height="300" :src="item.image"></v-img>

            <v-divider class="mx-4"></v-divider>

            <v-card-text>
              <div>
                {{ item.name }}
              </div>
            </v-card-text>

            <v-card-title>{{ item.title }}</v-card-title>

            <v-card-text>
              <div>
                {{ item.description }}
              </div>
            </v-card-text>

            <v-card-actions class="pa-5">
              <span class="teal--text font-weight-bold"
                >{{ item.percent }} % funded</span
              >
              <v-spacer></v-spacer>
              <v-btn
                class="font-weight-bold text-capitalize"
                color="teal lighten-2"
                text
                link
              >
                Project details
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-col cols="12" sm="1" md="1" lg="1" xl="1"> </v-col>
      </v-row>
    </div>
    <div>
      <Float />
    </div>
  </div>
</template>

<script>
import CrowdMain from '../../components/CrowdMain.vue';
import Float from "../../components/Float.vue";
import NavFund from "../../components/NavFund.vue";
export default {
  components: {
    NavFund,
    Float,
    CrowdMain,
  },
  data: () => ({
    loading: false,
    selection: 0,

    details: [
      {
        id: 1,
        title: "Digital For Youth",
        name: "By Logino Dujardin",
        raised: 0,
        goal: "25,000",
        percent: 0,
        button: "Click to Invest",
        image: require("@/assets/charity1.jpeg"),
        description:
          "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
      },
      {
        id: 2,
        title: "A helping hand to the victims of Australia’s Wildfire",
        name: "By Timo S",
        raised: 0,
        goal: "25,000",
        percent: 0,
        button: "Click to Donate",
        image: require("@/assets/charity2.jpeg"),
        description:
          "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
      },
      {
        id: 3,
        title: "Support for the victims of Australia’s Wildfire",
        name: "By Timo S",
        raised: "25,000",
        goal: "25,000",
        percent: 100,
        button: "Click to Donate",
        image: require("@/assets/charity3.jpeg"),
        description:
          "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
      },
    ],
    socials: [
      {
        icon: "mdi-facebook",
        color: "indigo",
      },
      {
        icon: "mdi-linkedin",
        color: "cyan darken-1",
      },
      {
        icon: "mdi-instagram",
        color: "red lighten-3",
      },
    ],
  }),

  methods: {
    // reserve() {
    //   this.loading = true
    //   setTimeout(() => (this.loading = false), 2000)
    // },
    // getImage() {
    //   const min = 550
    //   const max = 560
    //   return Math.floor(Math.random() * (max - min + 1)) + min
    // },
  },
};
</script>
