<template>
  <div>
    <NavFund />
    <CrowdMain />
    <div class="pa-14 pt-5">
      <v-container>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" xl="12">
            <h1 class="text-h1 text-center">
              {{ details[$route.params.id - 1].title }}
            </h1>
          </v-col>
          <v-col cols="12" sm="1" md="1" lg="1" xl="1"></v-col>
          <v-col cols="12" sm="6" md="6" lg="6" xl="6">
            <v-card outlined class="pa-5">
              <v-img :src="details[$route.params.id - 1].image" />
            </v-card>
            <h1 class="text-h3 mt-10">
              {{ details[$route.params.id - 1].title }}
            </h1>
            <h1 class="text-h4 mt-10 font-weight-light">
              {{ details[$route.params.id - 1].description }}
            </h1>
          </v-col>

          <v-col cols="12" sm="4" md="4" lg="4" xl="4">
            <v-card outlined class="pa-2">
              <div class="pa-5">
                <v-row>
                  <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                    <v-avatar class="green" size="100"></v-avatar>
                    <span class="text-h4 ml-4 grey--text font-weight-medium">
                      {{ details[$route.params.id - 1].name }}
                    </span>
                    <div class="pa-10">
                      <v-row>
                        <v-icon class="teal--text" large>mdi-ribbon</v-icon>
                        <h1 class="teal--text ml-5">
                          Raised: {{ details[$route.params.id - 1].raised }}
                          {{ accountStore.nativeCurrency }}
                        </h1>
                      </v-row>

                      <v-row class="mt-10">
                        <v-icon class="teal--text" large>mdi-flag</v-icon>
                        <h1 class="teal--text ml-5">
                          Goal: {{ details[$route.params.id - 1].goal }}
                          {{ accountStore.nativeCurrency }}
                        </h1>
                      </v-row>
                    </div>

                    <div class="pa-10">
                      <v-progress-linear
                        rounded
                        height="30"
                        :value="details[$route.params.id - 1].percent"
                        color="teal"
                      >
                        {{ details[$route.params.id - 1].percent }}%
                      </v-progress-linear>
                    </div>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" sm="12" md="12" lg="12" xl="12"></v-col>
                </v-row>
              </div>
            </v-card>

            <v-card outlined class="pa-2 mt-5">
              <v-card-title class="text-h5 font-weight-bold">
                Donate
              </v-card-title>
              <div class="pa-5">
                <v-row>
                  <v-col cols="12" sm="4" md="4" lg="4" xl="4">
                    <h1>{{ accountStore.nativeCurrency }}</h1>
                  </v-col>
                  <v-col cols="12" sm="8" md="8" lg="8" xl="8">
                    <v-text-field value="0.01" outlined></v-text-field>
                  </v-col>
                </v-row>

                <v-row>
                  <v-col cols="12" sm="12" md="12" lg="12" xl="12">
                    <v-card class="grey lighten-3 pa-5" flat>
                      <!-- <h2 class="teal--text text-center font-weight-regular">
                        1 SBTC = 1.00 USD
                      </h2> -->
                      <div class="mt-8">
                        <!-- <v-row>
                          <v-col cols="12" sm="5" md="5" lg="5" xl="5">
                            <h1 class="text-center font-weight-medium">SBTC</h1>
                          </v-col>
                          <v-col cols="12" sm="7" md="7" lg="7" xl="7">
                            <h1 class="text-center font-weight-regular">
                              100,000
                            </h1>
                          </v-col>
                        </v-row> -->
                        <v-btn class="teal mt-8" large block text dark>
                          Invest {{ accountStore.nativeCurrency }} 0.01
                        </v-btn>
                      </div>
                    </v-card>
                  </v-col>
                </v-row>
              </div>
            </v-card>
          </v-col>
          <v-col cols="12" sm="1" md="1" lg="1" xl="1"></v-col>
        </v-row>
      </v-container>
    </div>
    <div>
      <Float />
    </div>
  </div>
</template>

<script>
import Float from '../../components/Float.vue'
import NavFund from '../../components/NavFund.vue'
import { useAccountStore } from '@/stores/account'
import CrowdMain from '../../components/CrowdMain.vue'

export default {
  setup() {
    const accountStore = useAccountStore()

    return { accountStore }
  },
  components: {
    NavFund,
    Float,
    CrowdMain
  },
  data: () => ({
    nativeCurrency: '',
    details: [
      {
        id: 1,
        title: 'Digital For Youth',
        name: 'By Logino Dujardin',
        raised: 0,
        goal: '25,000',
        percent: 0,
        button: 'Click to Invest',
        image: require('@/assets/charity1.jpeg'),
        description:
          'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
      },
      {
        id: 2,
        title: 'A helping hand to the victims of Australia’s Wildfire',
        name: 'By Timo S',
        raised: 0,
        goal: '25,000',
        percent: 0,
        button: 'Click to Donate',
        image: require('@/assets/charity2.jpeg'),
        description:
          'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
      },
      {
        id: 3,
        title: 'Support for the victims of Australia’s Wildfire',
        name: 'By Timo S',
        raised: '25,000',
        goal: '25,000',
        percent: 100,
        button: 'Click to Donate',
        image: require('@/assets/charity3.jpeg'),
        description:
          'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.',
      },
    ],
  }),
}
</script>

<style></style>
