<template>
  <div>
    <nav-fund />
    <CrowdMain />
    <div class="pa-14">
      <v-row class="pa-5">
        <v-col cols="12" xs="2" sm="2" md="2" lg="2" xl="2"></v-col>
        <v-col cols="12" xs="8" sm="8" md="8" lg="8" xl="8">
          <h1 class="text-h font-weight-bold text-center">
            Create a New Proposal - Start a Fund on RaiseBlock
          </h1>
        </v-col>
        <v-col cols="12" xs="2" sm="2" md="2" lg="2" xl="2"></v-col>
      </v-row>

      <v-container>
        <v-card outlined>
          <v-container>
            <v-row class="pa-5">
              <v-col cols="12" xs="1" sm="1" md="1" lg="1" xl="1"></v-col>
              <v-col cols="12" xs="1" sm="1" md="1" lg="1" xl="1"></v-col>
              <v-col xs="12" sm="12" md="12" xl="12" lg="12">
                <v-card class="blue pa-4 lighten-4 mt-3" flat>
                  <v-row>
                    <v-icon class="blue--text ml-5">mdi-information</v-icon>
                    <h4
                      class="blue--text text--darken-3 font-weight-light ml-3"
                    >
                      Organizations may apply to raise with RaiseBlock more than
                      once. If your application is not accepted, we recommend
                      waiting 2-4 months before applying again.
                    </h4>
                  </v-row>
                </v-card>

                <v-card class="orange lighten-4 mt-5" flat>
                  <v-row>
                    <v-col xs="1" sm="1" md="1" xl="1" lg="1">
                      <v-icon class="orange--text ml-5">mdi-information</v-icon>
                    </v-col>
                    <v-col xs="11" sm="11" md="11" xl="11" lg="11">
                      <h4
                        class="orange--text text--darken-3 font-weight-light ml-3"
                      >
                        Add 0.1 {{ accountStore.nativeCurrency }} to create a proposal. If
                        proposal is accepted, you will be refunded 0.1
                        {{ accountStore.nativeCurrency }} and if proposal is rejected, 0.1
                        {{ accountStore.nativeCurrency }} will go to the DAO treasury.
                      </h4>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card class="orange pa-4 lighten-4 mt-5" flat>
                  <v-row>
                    <v-icon class="orange--text">mdi-information</v-icon>
                    <h4
                      class="orange--text text--darken-3 font-weight-light ml-3"
                    >
                      Parameters cannot be changed by text proposals
                    </h4>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-container>

          <v-form class="pa-10" ref="form" @submit.prevent="onSubmit">
            <v-row class="pa-5">
              <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                <v-row class="pa-5">
                  <v-col cols="12" xs="6" sm="6" md="6" lg="6" xl="6">
                    <h2>Creator Name</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      v-model="creatorName"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" xs="6" sm="6" md="6" lg="6" xl="6">
                    <h2>Title</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      v-model="projectName"
                    ></v-text-field>
                  </v-col>
                </v-row>

                <v-row class="pa-5 pt-0">
                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Tagline</h2>
                    <h4 class="font-weight-regular">
                      Provide a short description that best describes your
                      proposal to your audience.
                    </h4>
                    <v-textarea outlined v-model="description"></v-textarea>
                  </v-col>

                  <!-- Company banner -->
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="12" sm="6">
                        <h3 class="my-3">Banner</h3>
                        <v-card
                          class="pa-5"
                          outlined
                          style="border: dashed 2px grey;"
                          height="250"
                        >
                          <h4
                            class="grey--text font-weight-medium text-center mt-3"
                          >
                            PNG, JPEG or GIF. Max 100mb.
                          </h4>
                          <input
                            type="file"
                            ref="file"
                            @change="handleImageUpload($event)"
                            id="file-input"
                            style="display: none;"
                          />
                          <p class="text-center ma-10">
                            <v-btn
                              @click="$refs.file.click()"
                              text
                              class="text-capitalize blue--text text--darken-3 blue lighten-4"
                              style="border-radius: 25px;"
                            >
                              choose file
                            </v-btn>
                          </p>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <h3 class="my-3">Preview</h3>
                        <v-card
                          flat
                          class="pa-2"
                          text
                          style="border: dashed 2px grey;"
                          height="250"
                        >
                          <v-img
                            :src="imagePreview1"
                            v-show="showPreview1"
                            height="230"
                            
                            justify="center"
                            contain
                          ></v-img>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>

                <v-row class="pa-5">
                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Recipient Address</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      placeholder="500 Madison ave, New York"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Proposal Type</h2>

                    <v-combobox
                      class="mt-5"
                      v-model="chips"
                      :items="items"
                      chips
                      clearable
                      multiple
                      solo
                    >
                      <template
                        v-slot:selection="{ attrs, item, select, selected }"
                      >
                        <v-chip
                          v-bind="attrs"
                          :input-value="selected"
                          close
                          @click="select"
                          @click:close="remove(item)"
                        >
                          <strong>{{ item }}</strong>
                          &nbsp;
                          <!-- <span>(interest)</span> -->
                        </v-chip>
                      </template>
                    </v-combobox>
                  </v-col>

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Project Link</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      placeholder="Enter link to the campaign project"
                      v-model="link"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Funding Amount ({{ accountStore.nativeCurrency }})</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      value="0"
                      v-model="goal"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Duration (Minutes)</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      placeholder="Enter the duration for the funding"
                      type="Number"
                      v-model="duration"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Refund Policy</h2>
                    <v-select
                      :items="policyItems"
                      class="mt-2"
                      outlined
                      placeholder="Select Refund Type"
                      v-model="refundPolicy"
                    ></v-select>
                  </v-col>
                </v-row>

                <div class="pa-5">
                  <p class="text-end">
                    <v-btn
                      type="submit"
                      text
                      large
                      class="green mt-5"
                      dark
                      v-model="link"
                    >
                      Create Proposal
                    </v-btn>
                  </p>
                </div>
              </v-col>
            </v-row>
          </v-form>
        </v-card>
      </v-container>
    </div>
    <Float />
  </div>
</template>

<script>
import NavFund from '@/components/NavFund'
import Float from '@/components/Float'
import { create } from 'ipfs-http-client'
import CrowdMain from '../../components/CrowdMain.vue'
import Web3 from 'web3'

import { ethers } from 'ethers'
import { useAccountStore } from '@/stores/account'

import { abi } from '@/contracts/abiopt'
import { abi2 } from '@/contracts/abipoly'

export default {
  components: {
    NavFund,
    Float,
    CrowdMain,
  },
  setup() {
    const accountStore = useAccountStore()

    return { accountStore }
  },
  data: () => ({
    policyItems: ['Refundable', 'Non-Refundable'],
    nativeCurrency: 'ETH',
    items: [
      'OSS Project',
      'Combat Carbon',
      'Environment',
      'Education',
      'Creator Economy',
      'Community Fund',
      'Other',
    ],
    chips: ['OSS Project'],
    showPreview1: false,
    imagePreview1: '',
    showPreview: false,
    musicPreview: '',
    category: '',
    projectName: '',
    description: '',
    creatorName: '',
    image: '',
    link: 'https://github.com/RaiseBlock',
    goal: 0.00001,
    duration: 1,
    refundPolicy: '',
  }),
  methods: {
    // return category code
    getCategoryCode() {
      let categoryCode = {
        'OSS Project': 0,
        'Combat Carbon': 1,
        Environment: 2,
        Education: 3,
        'Creator Economy': 4,
        'Community Fund': 5,
        Other: 6,
      }
      
      return categoryCode[this.chips[0]];
    },

    // return refund policy code
    getRefundPolicyCode() {
      let refundCode = {
        Refundable: 0,
        'Non-Refundable': 1,
      }
      return refundCode[this.policyItems[this.refundPolicy]]
    },
    remove(item) {
      this.chips.splice(this.chips.indexOf(item), 1)
      this.chips = [...this.chips]
    },
    async handleImageUpload(event) {
      try {
        this.file = event.target.files[0]
        this.fileName = ' | ' + this.file.name

        let fileHash = ''

        /* Create an instance of the client */
        const client = create('https://ipfs.infura.io:5001/api/v0')

        /* upload the file */
        if (this.file) {
          fileHash = await client.add(this.file)
          this.image = fileHash.path
          this.fileSrc = `https://ipfs.io/ipfs/${this.fileHash}`
          this.isFile = true
          console.log(`fileHash`, this.image)
        }

        let reader = new FileReader()

        reader.addEventListener(
          'load',
          function () {
            this.showPreview1 = true
            this.imagePreview1 = reader.result
          }.bind(this),
          false,
        )

        if (this.file) {
          if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
            reader.readAsDataURL(this.file)
          }
        }
      } catch (error) {
        console.error(error)
      }
    },

    async onSubmit() {
      try {

        let refundCode;

        if (this.refundPolicy == "Refundable")
          refundCode = 0;
        else
          refundCode = 1;


        console.log(`Proposal.vue - #325 category: ${this.chips[0]}`)
        console.log(`Proposal.vue - #326 projectName: ${this.projectName}`)
        console.log(`Proposal.vue - #327 description: ${this.description}`)
        console.log(`Proposal.vue - #328 creatorName: ${this.creatorName}`)
        console.log(`Proposal.vue - #329 image: ${this.image}`)
        console.log(`Proposal.vue - #330 link: ${this.link}`)
        console.log(`Proposal.vue - #331 goal: ${this.goal}`)
        console.log(`Proposal.vue - #332 duration: ${this.duration}`)
        console.log(`Proposal.vue - #333 refundPolicy: ${refundCode}`)

        console.log(`chain id test - ${this.accountStore.chainId}`)

        const OPT_CONTRACT_ADDRESS =
          '0x3900779428f232fd63382818012f4fde06bdbb1d'
        const POLY_CONTRACT_ADDRESS =
          '0xc3e01986aaf00988fc270db40d999f00784b8553'

          this.category = 4;

        if (this.accountStore.chainId == 80001) {
          const web3 = new Web3(window.ethereum)
          //let provider = new ethers.providers.Web3Provider(window.ethereum);
          //let signer = provider.getSigner();
          //const contract = new ethers.Contract(CONTRACT_ADDRESS, abi, signer);
          const contract = new web3.eth.Contract(abi2, POLY_CONTRACT_ADDRESS)


          await contract.methods
            .createNewProject(
              this.projectName,
              this.description,
              this.creatorName,
              this.link,
              this.image,
              parseFloat(this.goal),
              parseFloat(this.duration),
              this.getCategoryCode(),
              refundCode
            )
            .send({
              from: this.accountStore.walletAddress,
            })
        }

        if (this.accountStore.chainId == 69) {
          const web3 = new Web3(window.ethereum)
          //let provider = new ethers.providers.Web3Provider(window.ethereum);
          //let signer = provider.getSigner();
          //const contract = new ethers.Contract(CONTRACT_ADDRESS, abi, signer);
          const contract = new web3.eth.Contract(abi, OPT_CONTRACT_ADDRESS)

          await contract.methods
            .createNewProject(
              this.projectName,
              this.description,
              this.creatorName,
              this.link,
              this.image,
              parseFloat(this.goal),
              parseFloat(this.duration),
              this.getCategoryCode(),
              refundCode
            )
            .send({
              from: this.accountStore.walletAddress,
            })
        }

        /* let txn = await this.accountStore.contract.createNewProject(
          this.projectName,
          this.description,
          this.creatorName,
          this.link,
          this.image,
          parseFloat(this.goal),
          parseFloat(this.duration),
          this.getCategoryCode(),
          this.getRefundPolicyCode(),
        );

        await txn.wait(txn); */

        alert('Proposal creation complete!!')
      } catch (error) {
        console.error(error)
      }
    },
  },
}
</script>

<style></style>
