<template>
  <div>
    <LendBar />
    <div>
      <v-container>
        <v-row>
          <v-col cols="12" lg="2" xl="2"> </v-col>

          <!-- Form -->
          <v-col cols="12" lg="12" xl="12">
            <div class="grey lighten-4 pa-8">
              <v-form>
                <div>
                  <h1 class="green--text">
                    Raiseblock CrowdLoan Application: Minimum Eligibility
                  </h1>
                </div>
                <!-- Personal Info -->
                <div class="pa-8">
                  <v-card
                    class="pa-5"
                    outlined
                    style="
                      border: 1px solid black;
                      background-color: transparent;
                    "
                  >
                    <v-card-title>Your Personal Information</v-card-title>
                    <v-row class="px-5">
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">First Name*</h3>
                        <v-text-field
                          outlined
                          dense
                          placeholder="please enter your legal name here, we will ask your preferred name later."
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row class="px-5">
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Last Name*</h3>
                        <v-text-field outlined dense></v-text-field>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Date of Birth*</h3>
                        <v-text-field type="date" outlined dense></v-text-field>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Email*</h3>
                        <v-text-field outlined dense></v-text-field>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Mobile Phone*</h3>
                        <v-text-field outlined dense></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row class="px-5" dense>
                      <v-col cols="12" lg="12" xl="12">
                        <h3 class="font-weight-regular">
                          Have you ever filed for bankruptcy?*
                        </h3>
                        <v-select
                          dense
                          v-model="select"
                          outlined
                          :items="items"
                        ></v-select>
                      </v-col>
                      <v-col cols="12" lg="12" xl="12">
                        <h3 class="font-weight-regular">
                          Do you have a criminal conviction?*
                        </h3>
                        <SelectCriminal />
                      </v-col>
                    </v-row>
                  </v-card>
                </div>

                <!-- Business info -->
                <div class="pa-8">
                  <v-card
                    class="pa-5"
                    outlined
                    style="
                      border: 1px solid black;
                      background-color: transparent;
                    "
                  >
                    <v-card-title>Your Business Information</v-card-title>
                    <v-row class="px-5">
                      <v-col cols="12" lg="12" xl="12">
                        <h3 class="font-weight-regular">
                          Legal Name of Business*
                        </h3>
                        <v-text-field
                          outlined
                          dense
                          placeholder="please enter your legal name here, we will ask your preferred name later."
                        ></v-text-field>
                      </v-col>
                    </v-row>
                    <v-row class="px-5">
                      <v-col cols="12" lg="12" xl="12">
                        <h3 class="font-weight-regular">
                          Business Street Address*
                        </h3>
                        <v-text-field outlined dense></v-text-field>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Business City*</h3>
                        <v-text-field outlined dense></v-text-field>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Business State*</h3>
                        <v-select outlined dense></v-select>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Business Zip Code*</h3>
                        <v-text-field outlined dense></v-text-field>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6">
                        <h3 class="font-weight-regular">Business Country*</h3>
                        <v-select outlined dense></v-select>
                      </v-col>
                    </v-row>
                    <v-row class="px-5">
                      <v-col cols="12" lg="12" xl="12">
                        <h3 class="">
                          Your business and loan use abide by the following
                          principles:
                        </h3>

                        <h3 class="font-weight-regular">
                          My Business is legal at the federal level (e.g. no
                          cannabis products. Due to PayPal policy, we cannot
                          support loans for CBD or Hemp products.)*
                        </h3>
                        <div>
                          <v-radio-group v-model="ex7" row>
                            <v-radio
                              label="True"
                              color="blue"
                              value="True"
                            ></v-radio>
                            <v-radio
                              label="False"
                              color="blue"
                              value="False"
                            ></v-radio>
                          </v-radio-group>
                        </div>

                        <h3 class="font-weight-regular">
                          My Business is not related to selling tobacco, pawn
                          shops, weapons, multi-level marketing, or adult
                          entertainment.*
                        </h3>
                        <div>
                          <v-radio-group v-model="ex7" row>
                            <v-radio
                              label="True"
                              color="blue"
                              value="True"
                            ></v-radio>
                            <v-radio
                              label="False"
                              color="blue"
                              value="False"
                            ></v-radio>
                          </v-radio-group>
                        </div>

                        <h3 class="font-weight-regular">
                          I am not applying for a Raiseblock CrowdLoan loan to
                          refinance my debt (including credit card debt).
                          TrueFalse*
                        </h3>
                        <div>
                          <v-radio-group v-model="ex7" row>
                            <v-radio
                              label="True"
                              color="blue"
                              value="True"
                            ></v-radio>
                            <v-radio
                              label="False"
                              color="blue"
                              value="False"
                            ></v-radio>
                          </v-radio-group>
                        </div>

                        <h3 class="font-weight-regular">
                          I am not applying for a Raiseblock CrowdLoan loan to
                          purchase stock or equity.*
                        </h3>
                        <div>
                          <v-radio-group v-model="ex7" row>
                            <v-radio
                              label="True"
                              color="blue"
                              value="True"
                            ></v-radio>
                            <v-radio
                              label="False"
                              color="blue"
                              value="False"
                            ></v-radio>
                          </v-radio-group>
                        </div>
                      </v-col>
                    </v-row>
                  </v-card>

                  <!-- Loan Info -->
                  <div class="mt-8">
                    <v-card
                      class="pa-5"
                      outlined
                      style="
                        border: 1px solid black;
                        background-color: transparent;
                      "
                    >
                      <v-card-title
                        >Your Raiseblock CrowdLoan Loan Information</v-card-title
                      >
                      <v-row class="px-5">
                        <v-col cols="12" lg="6" xl="6">
                          <h3 class="font-weight-regular">
                            How much would you like to borrow?*
                          </h3>
                          <!-- <v-select outlined dense></v-select> -->
                          <v-text-field
                            class="mt-2"
                            outlined
                            value="0"
                            type="number"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-card>
                  </div>

                  <!-- Referral Source -->
                  <div class="mt-8">
                    <v-card
                      class="pa-5"
                      outlined
                      style="
                        border: 1px solid black;
                        background-color: transparent;
                      "
                    >
                      <v-card-title
                        >Your Raiseblock CrowdLoan Loan Information</v-card-title
                      >
                      <v-row class="px-5">
                        <v-col cols="12" lg="6" xl="6">
                          <h3 class="font-weight-regular">
                            How did you hear about Raiseblock CrowdLoan?*
                          </h3>
                          <v-select outlined dense></v-select>
                        </v-col>
                      </v-row>
                    </v-card>
                  </div>

                  <!-- submit -->
                  <div>
                    <v-btn
                      to="/lending/borrower/minimum-eligibility/proposal"
                      class="font-weight-capitalize mt-10"
                      outlined
                      text
                      >NEXT</v-btn
                    >
                  </div>
                </div>
              </v-form>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import LendBar from "../../components/LendBar.vue";
import SelectCriminal from "../../components/SelectCriminal.vue";

export default {
  components: { SelectCriminal, LendBar },
  data() {
    return {
      select: "Please select...",
      items: [
        "Please select...",
        "I have not filed for bankruptcy",
        "I have filed for bankruptcy",
        "I have filed for bankruptcy, but it has been dismissed or discharged",
      ],
    };
  },
};
</script>

<style></style>
