<template>
  <div>
    <LendBar />
    <div class="px-15">
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <v-img :src="require('@/assets/borrowhero.jpg')">
            <div class="pa-16"></div>
            <div class="pa-16"></div>
            <div class="pa-5"></div>
            <div>
              <v-row>
                <v-col cols="12" lg="3" xl="3"></v-col>
                <v-col cols="12" lg="5" xl="5">
                  <v-card width="27vw" class="pa-8">
                    <v-card-title class="text-h2 font-weight-bold">
                    Crowdfund your dream, change your life.
                    </v-card-title>
                    <div class="pa-4">
                    <h1 class="text-h4">0% interest loans for</h1>
                    <h1 class="text-h4">US small businesses</h1>
                    </div>
                    <div class="pa-5">
                        <v-row>
                            <v-col cols="12" lg="6" xl="6">
                                <v-btn block class="text-capitalize" to="/lending/my/borrower/application" outlined text x-large>Continue application</v-btn>
                            </v-col>
                            <v-col cols="12" lg="6" xl="6">
                                <v-btn to="/lending/borrower/minimum-eligibility" block class="blue text-capitalize" dark text x-large>Get Started</v-btn>
                            </v-col>
                        </v-row>
                    </div>
                  </v-card>
                </v-col>
              </v-row>
            </div>
          </v-img>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import LendBar from '../../components/LendBar.vue';
export default {
  components: { LendBar },};
</script>

<style></style>
