<template>
  <div>
    <LendBar />
    <NavLending />
    <div class="green pt-16">
      <v-container>
        <v-row>
          <v-col cols="12" lg="8" xl="8">
            <v-card class="pa-5">
              <v-row>
                <v-col cols="12" lg="2" xl="2" class="text-center">
                  <v-avatar size="110" color="grey"
                    ><v-img :src="getREFUGEEById.src"></v-img
                  ></v-avatar>
                </v-col>
                <v-col cols="12" lg="10" xl="10">
                  <h1>{{ getREFUGEEById.name }}</h1>
                  <div class="mt-3">
                    <v-progress-linear
                      color="green"
                      height="15"
                      :value="getREFUGEEById.percentage"
                      rounded
                    ></v-progress-linear>
                    <v-row class="mt-1">
                      <v-col cols="12" lg="6" xl="6">
                        <h2>{{ getREFUGEEById.days }} days</h2>
                        <h4 class="grey--text">REMAINING</h4>
                      </v-col>
                      <v-col cols="12" lg="6" xl="6" class="text-right">
                        <h2 class="text-right">
                          ${{ getREFUGEEById.amount }} to go
                        </h2>
                        <h4 class="grey--text text-right">
                          {{ getREFUGEEById.percentage }}% FUNDED
                        </h4>
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
                <div class="pa-8">
                  <h1>
                    A loan of ${{ getREFUGEEById.loan }}
                    {{ getREFUGEEById.description }}
                  </h1>
                  <v-chip class="mt-5"
                    ><v-icon>mdi-map-marker</v-icon>
                    {{ getREFUGEEById.location }}</v-chip
                  >
                  <v-chip class="mt-5 text-uppercase">{{
                    getREFUGEEById.purpose
                  }}</v-chip>
                </div>
              </v-row>
            </v-card>
          </v-col>

          <v-col cols="12" lg="4" xl="4" class="mt-16">
            <div class="mt-16" style="position: fixed">
              <v-card class="pa-5">
                <v-card-title>Help fund this loan</v-card-title>
                <v-row class="pa-5">
                  <v-col cols="12" lg="4" xl="4">
                    <v-text-field
                      prepend-icon="mdi-currency-usd"
                      placeholder="25"
                      outlined
                      type="number"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" lg="8" xl="8">
                    <v-btn
                      x-large
                      class="green darken-4 text-capitalize"
                      block
                      dark
                      text
                    >
                      lend now</v-btn
                    >
                  </v-col>
                </v-row>
                <v-divider class="mt-2"></v-divider>
              </v-card>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </div>
    <v-div class="pa-5">
      <v-container>
        <v-row>
          <v-col cols="12" lg="8" xl="8">
            <v-card dark class="px-16" height="50vh">
              <v-img height="50vh" contain :src="getREFUGEEById.src"></v-img>
            </v-card>
            <div class="mt-8">
              <h1>{{ getREFUGEEById.name }}'s Story</h1>
              <h2 class="font-weight-regular mt-8">
                {{ getREFUGEEById.story }}
              </h2>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </v-div>
  </div>
</template>

<script>
import { useDAOSStore } from "@/stores/daos";
import LendBar from '../../components/LendBar.vue';

export default {
  components: { LendBar },
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  data() {
    return {
      dialog: false,
      id: this.$route.params.id,
    };
  },
  computed: {
    getREFUGEEById() {
      let res = this.daosStore.getREFUGEEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
  },
  created() {
    let daoRoot = this.$route.path;
    let daoId = this.$route.params.id;
    console.log(`_ID Index.vue - #186 is ${daoRoot}`);
    console.log(`_ID Index.vue - #187 is ${daoId}`);

    if (isNaN(daoId)) {
      console.log(`_ID Index.vue - #190 : ${daoId} is not a number`);
    } else {
      console.log(`_ID Index.vue - #192 : ${daoId} is a number`);
    }

    if (daoRoot) {
      this.daosStore.setDAORoot(daoRoot);
    }

    if (daoId) {
      this.daosStore.setDAOId(daoId);
    }
  },
};
</script>

<style></style>
