<template>
  <div>
    <LendBar />
    <LendMain />
    <Float />
  </div>

</template>

<script>
import LendBar from "@/components/LendBar";
import LendMain from '../../components/LendMain.vue';
import Float from '../../components/Float.vue';
export default {
components: { LendBar, LendMain, Float },
}
</script>

<style>

</style>