<template>
  <div>
    <LendBar />
    <NavLending />
    <div>
      <v-container>
        <v-row>
          <v-col cols="12" lg="12" xl="12">
            <h1 class="text-h3 font-weight-bold pa-5">
              Make a loan, change a life
            </h1>
          </v-col>
        </v-row>
        <v-row class="pa-5">
          <v-col cols="12" lg="4" xl="4" v-for="dao in getRefugee" :key="dao.id">
            <v-card
              outlined
              link
              flat
              :to="{
                name: 'refugeeDetails',
                params: { id: dao.id },
              }"
            >
              <v-img :src="dao.src">
                <div class="pa-16"></div>
                <div class="pa-16"></div>
                <div class="pa-10"></div>
              </v-img>

              <!-- Information -->
              <div class="mt-3 pa-5">
                <h1 class="text-center blue--text">{{ dao.name }}</h1>
                <h2 class="text-center grey--text font-weight-regular">
                  {{ dao.location }}
                </h2>
                <div class="mt-5">
                  <v-progress-linear
                    color="green"
                    height="10"
                    :value="dao.percentage"
                  ></v-progress-linear>
                  <h3 class="green--text font-weight-regular text-center mt-1">
                    ${{ dao.amount }} to go
                  </h3>
                </div>
                <div class="mt-5">
                  <h4 class="font-weight-regular text-center">
                    A loan of ${{ dao.loan }} {{ dao.description }}
                  </h4>
                </div>
                <div class="text-center">
                  <v-btn
                    :to="{
                      name: 'refugeeDetails',
                      params: { id: dao.id },
                    }"
                    class="text-capitalize blue mt-5"
                    text
                    dark
                    x-large
                    >Lend ${{ dao.loan }}</v-btn
                  >
                </div>
              </div>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import LendBar from '../../components/LendBar.vue';
import { useDAOSStore } from "@/stores/daos";
// import idl from "@/idl/idl.json";
// import { Connection, PublicKey, clusterApiUrl } from "@solana/web3.js";
// import {
//   Program,
//   AnchorProvider,
//   web3,
//   utils,
//   BN,
// } from "@project-serum/anchor";
// import { Buffer } from "buffer";
// window.Buffer = Buffer

export default {
  components: { LendBar },
  setup() {
    const daosStore = useDAOSStore();
    return { daosStore };
  },
  data: () => ({
    // refugee: [
    //   {
    //     id: 1,
    //     name: "Eduar Enrique",
    //     amount: "55",
    //     days: 29,
    //     percentage: 95,
    //     description: "to setup a store.",
    //     location: "COLOMBIA",
    //     src: require("@/assets/refugee1.jpg"),
    //     purpose: "Grocery Store",
    //     loan: 60,
    //     story:
    //       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi explicabo provident unde praesentium laboriosam ipsam nisi molestias repudiandae sint sequi, soluta odit exercitationem eiusex. Exercitationem consequatur optio illum explicabo.",
    //   },
    //   {
    //     id: 2,
    //     name: "Abdullah",
    //     amount: "1,550",
    //     days: 31,
    //     percentage: 50,
    //     description: "to get farm equipments.",
    //     location: "PALESTINE",
    //     src: require("@/assets/refugee2.jpg"),
    //     purpose: "Farm Equipments",
    //     loan: 3000,
    //     story:
    //       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi explicabo provident unde praesentium laboriosam ipsam nisi molestias repudiandae sint sequi, soluta odit exercitationem eiusex. Exercitationem consequatur optio illum explicabo.",
    //   },
    //   {
    //     id: 3,
    //     name: "Abeer",
    //     amount: "450",
    //     days: 34,
    //     percentage: 20,
    //     description: "for health.",
    //     location: "JORDAN",
    //     src: require("@/assets/refugee3.jpg"),
    //     purpose: "Health",
    //     loan: 1500,
    //     story:
    //       "Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi explicabo provident unde praesentium laboriosam ipsam nisi molestias repudiandae sint sequi, soluta odit exercitationem eiusex. Exercitationem consequatur optio illum explicabo.",
    //   },
    // ],
    programID: new PublicKey(idl.metadata.address),
    network: clusterApiUrl("devnet"),
    opts: {
      preflightCommitment: "processed",
    },
    types: ["Places to Be", "Places to See"],
    // cards: ["Good", "Best", "Finest"],
    socials: [
      {
        icon: "mdi-facebook",
        color: "indigo",
      },
      {
        icon: "mdi-linkedin",
        color: "cyan darken-1",
      },
      {
        icon: "mdi-instagram",
        color: "red lighten-3",
      },
    ],
  }),
  computed: {
    getREFUGEEById() {
      let res = this.daosStore.getREFUGEEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getDAOs() {
      return this.daosStore.categories;
    },
    getCharity() {
      return this.daosStore.charity;
    },
    getCommunity() {
      return this.daosStore.community;
    },
    getOrganization() {
      return this.daosStore.organization;
    },
    getRefugee() {
      return this.daosStore.refugee;
    },
  },
  methods: {
    getImage() {
      const min = 550;
      const max = 560;
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    getProvider() {
      const connection = new Connection(network, opts.preflightCommitment);
      const provider = new AnchorProvider(
        connection,
        window.solana,
        opts.preflightCommitment
      );
      return provider;
    },
    async createCampaign() {
      const { SystemProgram } = web3;
      // seeds=[b"CAMPAIGN_DEMO".as_ref(), user.key().as_ref()], bump)]
      try {
        const provider = getProvider();
        const program = new Program(idl, programID, provider);
        const [campaign] = await PublicKey.findProgramAddress(
          [
            utils.bytes.utf8.encode("CAMPAIGN_DEMO"),
            provider.wallet.publicKey.toBuffer(),
          ],
          program.programId
        );
        await program.rpc.create(
          "campaign name",
          "campaign description",
          "campaign hash",
          {
            accounts: {
              campaign,
              user: provider.wallet.publicKey,
              SystemProgram: SystemProgram.programId,
            },
          }
        );
        console.log(
          "Created a new campaign with address:",
          campaign.toString()
        );
      } catch (error) {
        console.error(error);
      }
    },
  },
};
</script>
