<template>
  <div>
    <MobBottomNav />
    <MobNav />
    <div class="">
      <v-container class="mt-10">
        <v-layout>
          <v-flex xs12>
            <v-card outlined class="mt-10">
              <v-simple-table fixed-header height="600px">
                <template v-slot:default>
                  <thead dark>
                    <tr class="green">
                      <th class="text-left blue darken-2 white--text">
                        Applicant
                      </th>
                      <th class="text-left blue darken-2 white--text">State</th>
                      <th class="text-left blue darken-2 white--text">
                        Loan Amount
                      </th>
                      <th class="text-left blue darken-2 white--text">Email</th>
                      <th class="text-left blue darken-2 white--text">
                        Created On Date
                      </th>
                      <th class="text-left blue darken-2 white--text"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Approved -->
                    <tr>
                      <td>
                        <a
                          v-show="approved2Btn"
                          @click="
                            (approved2 = !approved2),
                              (approved2Btn = false),
                              (approved2Btnn = true)
                          "
                          text
                          class="mt-2 blue--text"
                          ><v-icon>mdi-chevron-down</v-icon>Approved</a
                        >
                        <a
                          v-show="approved2Btnn"
                          @click="
                            (approved2 = !approved2),
                              (approved2Btn = true),
                              (approved2Btnn = false)
                          "
                          text
                          class="mt-2 blue--text"
                          ><v-icon>mdi-chevron-right</v-icon>Approved</a
                        >
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr
                      v-for="item in approved"
                      :key="item.name"
                      v-show="approved2"
                    >
                      <td>
                        <h6>{{ item.applicant }}</h6>
                      </td>
                      <td>
                        <h6 v-show="pending" class="orange--text font-weight-regular"
                          >Pending Approval</h6>
                        <h6 v-show="accept" class="green--text"
                          >Accepted</h6
                        >
                        <h6 v-show="decline" class="red--text">Declined</h6>
                      </td>
                      <td><h6 class="font-weight-regular">${{ item.loanAmount }}</h6></td>
                      <td><h6 class="font-weight-regular">{{ item.email }}</h6></td>
                      <td><h6 class="font-weight-regular">{{ item.created }}</h6></td>
                      <td>
                        <v-btn
                          small
                          outlined
                          class="blue--text"
                          @click="dialog = true"
                          >Check</v-btn
                        >
                      </td>
                    </tr>
                    <v-dialog v-model="dialog" width="1000px">
                      <v-card class="pa-5">
                        <div>
                          <v-row>
                            <v-spacer />
                            <!-- Positive Result -->
                            <v-col cols="12" lg="12" xl="12">
                              <h2 class="font-weight-regular">Loan Offer</h2>
                              <v-card class="pa-5 mt-2" flat>
                                <v-row>
                                  <v-col cols="12" lg="9" xl="9">
                                    <h3 class="font-weight-regular">
                                      <v-icon class="green--text mr-2"
                                        >mdi-circle</v-icon
                                      >
                                      Annual Percentage Rate
                                    </h3>
                                    <h3 class="font-weight-regular ml-9">
                                      The cost of your credit as a yearly rate
                                    </h3>
                                    <h3 class="ml-9 mt-2">4.90%</h3>
                                  </v-col>
                                  <v-col cols="12" lg="9" xl="9">
                                    <h3 class="font-weight-regular">
                                      <v-icon class="green--text mr-2"
                                        >mdi-circle</v-icon
                                      >
                                      Amount Financed
                                    </h3>
                                    <h3 class="font-weight-regular ml-9">
                                      The principal amount of the loan being
                                      provided.
                                    </h3>
                                    <h3 class="ml-9 mt-2">$6,000</h3>
                                  </v-col>
                                  <v-col cols="12" lg="9" xl="9">
                                    <h3 class="font-weight-regular">
                                      <v-icon class="green--text mr-2"
                                        >mdi-circle</v-icon
                                      >
                                      Finance Charge
                                    </h3>
                                    <h3 class="font-weight-regular ml-9">
                                      The amount the loan will cost you
                                    </h3>
                                    <h3 class="ml-9 mt-2">$464.02</h3>
                                  </v-col>
                                  <v-col cols="12" lg="9" xl="9">
                                    <h3 class="font-weight-regular">
                                      <v-icon class="green--text mr-2"
                                        >mdi-circle</v-icon
                                      >
                                      Total of Payments
                                    </h3>
                                    <h3 class="font-weight-regular ml-9">
                                      The total amount paid after all scheduled
                                      payments.
                                    </h3>
                                    <h3 class="ml-9 mt-2">$6,464.02</h3>
                                  </v-col>
                                  <v-col cols="12" lg="9" xl="9">
                                    <h3 class="font-weight-regular">
                                      <v-icon class="green--text mr-2"
                                        >mdi-circle</v-icon
                                      >
                                      Number of Pyments
                                    </h3>
                                    <h3 class="font-weight-regular ml-9">
                                      Equal Monthly Payments
                                    </h3>
                                    <h3 class="ml-9 mt-2">36</h3>
                                  </v-col>
                                  <v-col cols="12" lg="9" xl="9">
                                    <h3 class="font-weight-regular">
                                      <v-icon class="green--text mr-2"
                                        >mdi-circle</v-icon
                                      >
                                      Amount of Each Payment
                                    </h3>
                                    <h3 class="font-weight-regular ml-9">
                                      Per Month
                                    </h3>
                                    <h3 class="ml-9 mt-2">$179.56</h3>
                                  </v-col>
                                  <v-col cols="12" lg="9" xl="9">
                                    <h3 class="font-weight-regular">
                                      <v-icon class="green--text mr-2"
                                        >mdi-circle</v-icon
                                      >
                                      When Payments are Due
                                    </h3>
                                    <h3 class="ml-9">15th of each month</h3>
                                    <h3 class="ml-9 mt-2 font-weight-regular">
                                      You may request a different date by
                                      calling Customer Service on (888) 999-7777
                                    </h3>
                                  </v-col>
                                </v-row>
                              </v-card>
                            </v-col>
                            <v-spacer />
                          </v-row>
                          <v-row>
                            <v-col cols="12" lg="6" xl="6" class="text-left">
                              <v-btn
                                @click="
                                  (pending = false),
                                    (accept = false),
                                    (decline = true),
                                    (dialog = false)
                                "
                                block
                                x-large
                                dark
                                class="black"
                                text
                                >Decline</v-btn
                              >
                            </v-col>
                            <v-col cols="12" lg="6" xl="6" class="text-right">
                              <v-btn
                                @click="
                                  (pending = false),
                                    (accept = true),
                                    (decline = false),
                                    (dialog = false)
                                "
                                block
                                x-large
                                dark
                                class="green"
                                text
                                >Accept</v-btn
                              >
                            </v-col>
                          </v-row>
                        </div>
                      </v-card>
                    </v-dialog>

                    <!-- Declined -->
                    <tr>
                      <td>
                        <a
                          v-show="declined2Btn"
                          @click="
                            (declined2 = !declined2),
                              (declined2Btn = false),
                              (declined2Btnn = true)
                          "
                          text
                          class="mt-2 blue--text"
                          ><v-icon>mdi-chevron-down</v-icon>Declined</a
                        >
                        <a
                          v-show="declined2Btnn"
                          @click="
                            (declined2 = !declined2),
                              (declined2Btn = true),
                              (declined2Btnn = false)
                          "
                          text
                          class="mt-2 blue--text"
                          ><v-icon>mdi-chevron-right</v-icon>Declined</a
                        >
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr
                      v-for="item in declined"
                      :key="item.name"
                      v-show="declined2"
                    >
                      <td>
                        <v-icon class="red--text">mdi-close-circle</v-icon>
                        {{ item.applicant }}
                      </td>
                      <td>{{ item.state }}</td>
                      <td>${{ item.loanAmount }}</td>
                      <td>{{ item.email }}</td>
                      <td>{{ item.created }}</td>
                      <td></td>
                    </tr>
                  </tbody>
                </template>
              </v-simple-table>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </div>
  </div>
</template>

<script>
import MobBottomNav from "../../components/pwa/MobBottomNav.vue";
import MobNav from "../../components/pwa/MobNav.vue";
export default {
  components: { MobBottomNav, MobNav },
  data() {
    return {
      accept: false,
      pending: true,
      decline: false,
      dialog: false,
      data2: true,
      data2Btn: true,
      data2Btnn: false,
      pending2: true,
      pending2Btn: true,
      pending2Btnn: false,
      approved2: true,
      approved2Btn: true,
      approved2Btnn: false,
      declined2: true,
      declined2Btn: true,
      declined2Btnn: false,
      approved: [
        {
          id: 4,
          applicant: "Curly Howard",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "curly@gmail.com.com",
          created: "9/26/2022",
        },
      ],
      declined: [
        // {
        //   id: 5,
        //   applicant: "Jane Doe",
        //   state: "Pending Approval",
        //   loanAmount: "6,000.00",
        //   email: "Jane@example.com",
        //   created: "9/26/2022",
        // },
      ],
    };
  },
};
</script>

<style></style>
