<template>
  <div>
    <MobBottomNav />
    <MobNav />
    <v-container class="pa-5">
      <v-layout row wrap>
        <v-flex xs12>
          <div class="">
            <v-layout row wrap>
              <v-flex xs12>
                <!-- Stepper -->
                <div class="">
                  <v-stepper
                    tile
                    v-model="e1"
                    class="transparent mt-16"
                    flat
                    alt-labels
                  >
                    <v-stepper-header class="">
                      <v-stepper-step :complete="e1 > 1" step="1">
                        CALCULATION
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step :complete="e1 > 2" step="2">
                        PERSONAL INFO
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step :complete="e1 > 3" step="3">
                        SUBMIT
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step :complete="e1 > 4" step="4">
                        DOC UPLOAD
                      </v-stepper-step>

                      <v-divider></v-divider>

                      <v-stepper-step :complete="e1 > 5" step="5">
                        AGREEMENT
                      </v-stepper-step>
                    </v-stepper-header>

                    <!-- stepper Items -->
                    <v-stepper-items>
                      <!-- Calculations -->
                      <v-stepper-content step="1">
                        <v-container>
                          <v-form>
                            <v-layout row wrap class="pa-10">
                              <v-spacer />
                              <v-flex xs12 class="text-left">
                                <v-layout row wrap>
                                  <v-spacer />
                                  <v-flex xs12>
                                    <h2>Calculate your loan</h2>
                                    <h5 class="mt-5">Total amount</h5>
                                    <v-text-field
                                    prepend-inner-icon="mdi-currency-usd"
                                      v-model="totalAmount"
                                      filled
                                    ></v-text-field>
                                    <v-slider max="10000"
                                  min="0" v-model="totalAmount"></v-slider>

                                    <h5 class="mt-5">Term</h5>
                                    <v-text-field
                                      v-model="term"
                                      filled
                                    ></v-text-field>
                                    <v-slider max="48"
                                  min="0" v-model="term"></v-slider>

                                    <!-- <h5 class="mt-5">Monthly payment</h5>
                                    <v-text-field
                                      v-model="installment"
                                      filled
                                    ></v-text-field>
                                    <v-slider v-model="installment"></v-slider> -->
                                  </v-flex>
                                  <v-spacer />
                                </v-layout>
                              </v-flex>
                              <v-spacer />
                            </v-layout>
                            <v-divider class="mt-5" />
                            <v-layout row wrap class="pa-5">
                              <v-flex xs12 class="text-center">
                                <v-btn
                                  tile
                                  class="mt-5"
                                  color="primary"
                                  @click="e1 = 2"
                                >
                                  continue to personal information
                                </v-btn>
                              </v-flex>
                            </v-layout>
                          </v-form>
                        </v-container>
                      </v-stepper-content>

                      <!-- Personal Info  stepper-->
                      <v-stepper-content step="2">
                        <v-container>
                          <v-form>
                            <v-layout row wrap>
                              <v-flex xs12>
                                <v-tabs
                                  centered
                                  v-model="tab"
                                  background-color="transparent"
                                >
                                  <v-tab> Personal Info </v-tab>
                                  <v-tab> Financial Info </v-tab>
                                </v-tabs>
                              </v-flex>
                              <v-tabs-items v-model="tab">
                                <v-tab-item>
                                  <v-layout row wrap class="pt-10 pa-16">
                                    <v-flex xs12>
                                      <!-- Personnal Info Form -->
                                      <h2
                                        class="text-center mb-5 font-weight-regular"
                                      >
                                        Personal Information
                                      </h2>
                                      <h4 class="font-weight-medium">
                                        First Name:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="firstName"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">
                                        Last Name:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="lastName"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">
                                        Address:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="address"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">City:</h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="city"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">State:</h4>
                                      <v-select
                                        outlined
                                        dense
                                        v-model="state"
                                      ></v-select>
                                      <h4 class="font-weight-medium">
                                        ZIP Code:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="zipCode"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">
                                        Phone Number:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="phoneNumber"
                                      ></v-text-field>
                                      <h3 class="font-weight-medium">Email:</h3>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="email"
                                      ></v-text-field>
                                    </v-flex>
                                  </v-layout>
                                </v-tab-item>

                                <v-tab-item>
                                  <!-- Financial Info Form -->
                                  <v-layout row wrap class="pt-10 pa-16">
                                    <v-flex xs12>
                                      <h2
                                        class="text-center mb-5 font-weight-regular"
                                      >
                                        Financial Information
                                      </h2>
                                      <h4 class="font-weight-medium">
                                        Social Security Number:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="securityNumber"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">
                                        Date of Birth:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="dob"
                                        type="date"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">
                                        Employment Status:
                                      </h4>
                                      <v-select
                                        outlined
                                        dense
                                        v-model="employmentStatus"
                                      ></v-select>
                                      <h4 class="font-weight-medium">
                                        Employer Name:
                                      </h4>
                                      <v-text-field
                                        placeholder="Employer Name or NA"
                                        outlined
                                        dense
                                        v-model="employerName"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">
                                        Years at this Employer:
                                      </h4>
                                      <v-text-field
                                        outlined
                                        dense
                                        v-model="years"
                                        type="number"
                                      ></v-text-field>
                                      <h4 class="font-weight-medium">
                                        Monthly Gross Income:
                                      </h4>
                                      <v-text-field
                                        prepend-inner-icon="mdi-currency-usd"
                                        outlined
                                        dense
                                        v-model="gross"
                                      ></v-text-field>
                                    </v-flex>
                                  </v-layout>
                                  <v-divider class="mt-10" />
                                </v-tab-item>
                              </v-tabs-items>
                              <v-layout row wrap class="pa-5">
                                <v-flex xs6 class="text-left">
                                  <v-btn icon @click="negativeSuggestion"
                                    ><v-icon class="red--text"
                                      >mdi-close-circle</v-icon
                                    ></v-btn
                                  >
                                  <v-btn icon @click="positiveSuggestion"
                                    ><v-icon class="green--text"
                                      >mdi-check-circle</v-icon
                                    ></v-btn
                                  >
                                  <v-btn icon @click="restore"
                                    ><v-icon>mdi-restore</v-icon></v-btn
                                  >
                                </v-flex>
                                <v-flex xs6 class="text-right">
                                  <v-btn
                                    class=""
                                    color="primary"
                                    @click="e1 = 3"
                                    :disabled="disabled"
                                  >
                                    Submit
                                  </v-btn>
                                </v-flex>
                              </v-layout>
                            </v-layout>
                          </v-form>
                        </v-container>
                      </v-stepper-content>

                      <!-- Submit -->
                      <v-stepper-content step="3">
                        <v-container class="pa-8">
                          <v-form>
                            <v-layout row wrap>
                              <v-spacer />
                              <v-flex xs12 class="text-left">
                                <v-layout row wrap>
                                  <v-spacer />
                                  <v-flex xs12 v-show="accepted">
                                    <!-- Positive Result -->
                                    <h3 class="font-weight-regular">
                                      Loan Offer
                                    </h3>
                                    <v-card class="pa-5 mt-2" flat>
                                      <v-layout row wrap>
                                        <v-flex xs12>
                                          <h5 class="font-weight-regular">
                                            <v-icon
                                              small
                                              class="green--text mr-2"
                                              >mdi-circle</v-icon
                                            >
                                            Annual Percentage Rate
                                          </h5>
                                          <h5 class="font-weight-regular ml-7">
                                            The cost of your credit as a yearly
                                            rate
                                          </h5>
                                          <h5 class="ml-7 mt-1">4.90%</h5>
                                        </v-flex>
                                        <v-flex xs12 class="mt-2">
                                          <h5 class="font-weight-regular">
                                            <v-icon
                                              small
                                              class="green--text mr-2"
                                              >mdi-circle</v-icon
                                            >
                                            Amount Financed
                                          </h5>
                                          <h5 class="font-weight-regular ml-7">
                                            The principal amount of the loan
                                            being provided.
                                          </h5>
                                          <h5 class="ml-7 mt-1">$6,000</h5>
                                        </v-flex>
                                        <v-flex xs12 class="mt-2">
                                          <h5 class="font-weight-regular">
                                            <v-icon small class="green--text mr-2"
                                              >mdi-circle</v-icon
                                            >
                                            Finance Charge
                                          </h5>
                                          <h5 class="font-weight-regular ml-7">
                                            The amount the loan will cost you
                                          </h5>
                                          <h5 class="ml-7 mt-1">$464.02</h5>
                                        </v-flex>
                                        <v-flex xs12 class="mt-2">
                                          <h5 class="font-weight-regular">
                                            <v-icon small class="green--text mr-2"
                                              >mdi-circle</v-icon
                                            >
                                            Total of Payments
                                          </h5>
                                          <h5 class="font-weight-regular ml-7">
                                            The total amount paid after all
                                            scheduled payments.
                                          </h5>
                                          <h5 class="ml-7 mt-1">$6,464.02</h5>
                                        </v-flex>
                                        <v-flex xs12 class="mt-2">
                                          <h5 class="font-weight-regular">
                                            <v-icon small class="green--text mr-2"
                                              >mdi-circle</v-icon
                                            >
                                            Number of Payments
                                          </h5>
                                          <h5 class="font-weight-regular ml-7">
                                            Equal Monthly Payments
                                          </h5>
                                          <h5 class="ml-7 mt-1">36</h5>
                                        </v-flex>
                                        <v-flex xs12 class="mt-2">
                                          <h5 class="font-weight-regular">
                                            <v-icon small class="green--text mr-2"
                                              >mdi-circle</v-icon
                                            >
                                            Amount of Each Payment
                                          </h5>
                                          <h5 class="font-weight-regular ml-7">
                                            Per Month
                                          </h5>
                                          <h5 class="ml-7 mt-1">$179.56</h5>
                                        </v-flex>
                                        <v-flex xs12 class="mt-2">
                                          <h5 class="font-weight-regular">
                                            <v-icon small class="green--text mr-2"
                                              >mdi-circle</v-icon
                                            >
                                            When Payments are Due
                                          </h5>
                                          <h5 class="ml-7">
                                            15th of each month
                                          </h5>
                                          <h5
                                            class="ml-7 mt-1 font-weight-regular"
                                          >
                                            You may request a different date by
                                            calling Customer Service on (888)
                                            999-7777
                                          </h5>
                                        </v-flex>
                                      </v-layout>
                                    </v-card>
                                  </v-flex>
                                  <v-spacer />
                                </v-layout>
                              </v-flex>
                              <v-spacer />
                            </v-layout>
                            <v-layout row wrap>
                              <v-flex xs12
                            class="pa-10 text-center"
                          >
                            <v-layout row wrap v-show="accepted">
                              <v-flex xs6 class="text-left">
                                <v-btn small dark tile @click="e1 = 1"
                                  >Decline</v-btn
                                >
                              </v-flex>
                              <v-spacer></v-spacer>
                              <v-flex xs6 class="text-right">
                                <v-btn
                                  @click="(approved = true), (dialog = true)"
                                  small
                                  dark
                                  class="green"
                                  tile
                                  >Approve</v-btn
                                >
                              </v-flex>
                              <v-spacer />
                            </v-layout>
                            <!-- <h4
                              v-show="approved"
                              class="font-weight-medium grey--text mt-5"
                            >
                              You can proceed to uploading your documents
                            </h4>
                            <v-btn
                              v-show="approved"
                              class="mt-5"
                              tile
                              large
                              color="primary"
                              @click="e1 = 4"
                            >
                              Upload Documents
                            </v-btn> -->
                          </v-flex>
                          <!-- Approved -->
                          <v-dialog v-model="dialog" width="800px">
                            <v-card>
                              <v-card-title class="teal darken-4">
                                <v-spacer />
                                <v-btn icon @click="dialog = false"
                                  ><v-icon large class="grey--text"
                                    >mdi-close</v-icon
                                  ></v-btn
                                >
                              </v-card-title>
                              <div class="pa-16">
                                <v-row>
                                  <v-col
                                    cols="12"
                                    lg="12"
                                    xl="12"
                                    class="text-center"
                                  >
                                    <h2
                                      class="font-weight-regular teal--text text--darken-4"
                                    >
                                      Thank you. Your approval of the loan
                                      details is saved and the offer will now be
                                      reviewed by a loan officer. The results
                                      will be emailed to you.
                                    </h2>
                                    <v-btn
                                      dark
                                      x-large
                                      @click="
                                        (dialog = false), (accepted = false), (e1 = 4)
                                      "
                                      tile
                                      class="mt-8 teal darken-4"
                                      >Close</v-btn
                                    >
                                  </v-col>
                                </v-row>
                              </div>
                            </v-card>
                          </v-dialog>
                              <!-- Declined -->
                              <v-card v-show="declined" tile flat>
                                <v-card-title class="teal darken-4 px-10">
                                  <h2 class="white--text">Rejection Notice</h2>
                                  <v-spacer />
                                </v-card-title>
                                <div class="pa-5">
                                  <v-row>
                                    <v-col
                                      cols="12"
                                      lg="12"
                                      xl="12"
                                      class="text-left"
                                    >
                                      <h4
                                        class="font-weight-regular teal--text text--darken-4"
                                      >
                                        Thank you for your loan application.
                                        After evaluation, we regret to inform
                                        you that your loan application is no
                                        longer under consideration, due to the
                                        below reason. A copy of this notice and
                                        any further details have been sent to
                                        the email address you provided.
                                      </h4>
                                      <h4
                                        class="font-weight-light teal--text text--darken-4 mt-16"
                                      >
                                        Rejection Reasons:
                                      </h4>
                                      <h4
                                        class="font-weight-regular teal--text text--darken-4"
                                      >
                                        Income insufficient for amount of credit
                                        requested
                                      </h4>
                                      <v-btn
                                        dark
                                        @click="(declined = false), (e1 = 1)"
                                        tile
                                        class="mt-8 teal darken-4"
                                        >Close</v-btn
                                      >
                                    </v-col>
                                  </v-row>
                                </div>
                              </v-card>
                            </v-layout>
                          </v-form>
                        </v-container>
                      </v-stepper-content>

                      <!-- Doc Upload -->
                      <v-stepper-content step="4">
                        <v-container>
                          <v-form>
                            <v-layout row wrap>
                              <v-spacer />
                              <v-flex xs12 class="">
                                <h2>Document upload</h2>
                                <h5 class="font-weight-regular mt-4">
                                  Please upload the following documents to your
                                  loan application.
                                </h5>

                                <!-- Identify Proof Card -->
                                <v-card class="pa-8 pb-16 mt-5">
                                  <h3>Identify proof</h3>
                                  <h5 class="font-weight-regular">
                                    (ID card, passport)
                                  </h5>
                                  <v-card
                                    outlined
                                    style="border: 1px grey dashed"
                                    class="mt-3 pa-7"
                                  >
                                    <v-layout row wrap>
                                      <v-flex xs2>
                                        <v-icon
                                          >mdi-cloud-upload-outline</v-icon
                                        >
                                      </v-flex>
                                      <v-flex xs7>
                                        <h5
                                          class="grey--text text--darken-2 font-weight-regular mt-1"
                                        >
                                          DRAG AND DROP HERE
                                        </h5>
                                        <input
                                          type="file"
                                          ref="file"
                                          @change="handleImageUpload($event)"
                                          id="file-input"
                                          style="display: none"
                                        />
                                      </v-flex>
                                      <v-spacer />
                                      <v-flex xs12>
                                        <v-btn
                                          @click="
                                            $refs.file.click(),
                                              (showPreview1 = true)
                                          "
                                          outlined
                                          block
                                          class="mt-3"
                                          >Upload</v-btn
                                        >
                                      </v-flex>
                                    </v-layout>
                                  </v-card>
                                  <v-layout row wrap>
                                    <v-flex
                                      xs12
                                      v-show="showPreview1"
                                      class="text-center"
                                    >
                                      <h5
                                        class="font-weight-regular mt-10 text-center"
                                      >
                                        READY TO SEND
                                      </h5>
                                      <v-card
                                        v-show="showPreview1"
                                        flat
                                        class="pa-2 grey lighten-3 mt-5"
                                        text
                                        height="250"
                                      >
                                        <v-img
                                          :src="imagePreview1"
                                          v-show="showPreview1"
                                          height="235px"
                                          justify="center"
                                          contain
                                        ></v-img>
                                      </v-card>
                                      <v-btn
                                        class="mt-5"
                                        text
                                        @click="showPreview1 = false"
                                        >Delete</v-btn
                                      >
                                    </v-flex>
                                  </v-layout>
                                </v-card>

                                <!-- Income Proof Card -->
                                <v-card class="pa-8 pb-16 mt-8">
                                  <h3>Income proof</h3>
                                  <h5 class="font-weight-regular">
                                    (bank statement, letter of imployment or
                                    salary slip)
                                  </h5>
                                  <v-card
                                    outlined
                                    style="border: 1px grey dashed"
                                    class="mt-3 pa-7"
                                  >
                                    <v-layout row wrap>
                                      <v-flex xs2>
                                        <v-icon
                                          >mdi-cloud-upload-outline</v-icon
                                        >
                                      </v-flex>
                                      <v-flex xs7>
                                        <h5
                                          class="grey--text text--darken-2 mt-1 font-weight-regular"
                                        >
                                          DRAG AND DROP HERE
                                        </h5>
                                        <input
                                          type="file"
                                          ref="file2"
                                          @change="handleImageUpload2($event)"
                                          id="file-input"
                                          style="display: none"
                                        />
                                      </v-flex>
                                      <v-spacer />
                                      <v-flex xs12>
                                        <v-btn
                                          @click="
                                            $refs.file2.click(),
                                              (showPreview2 = true)
                                          "
                                          outlined
                                          block
                                          class="mt-3"
                                          >Upload</v-btn
                                        >
                                      </v-flex>
                                    </v-layout>
                                  </v-card>
                                  <v-layout row wrap>
                                    <v-flex
                                      xs12
                                      v-show="showPreview2"
                                      class="text-center"
                                    >
                                      <h5
                                        class="font-weight-regular mt-10 text-center"
                                      >
                                        READY TO SEND
                                      </h5>
                                      <v-card
                                        v-show="showPreview2"
                                        flat
                                        class="pa-2 grey lighten-3 mt-5"
                                        text
                                        height="250"
                                      >
                                        <v-img
                                          :src="imagePreview2"
                                          v-show="showPreview2"
                                          height="235px"
                                          justify="center"
                                          contain
                                        ></v-img>
                                      </v-card>
                                      <v-btn
                                        class="mt-5"
                                        text
                                        @click="showPreview2 = false"
                                        >Delete</v-btn
                                      >
                                    </v-flex>
                                  </v-layout>
                                </v-card>
                                <div class="mt-8" v-show="showPreview2">
                                  <h3 class="font-weight-regular text-center">
                                    Ready to send the documents for approval
                                    <v-btn
                                      class="blue ml-5"
                                      dark
                                      @click="e1 = 5"
                                      >Yes, Send</v-btn
                                    >
                                  </h3>
                                </div>
                              </v-flex>
                              <v-spacer />
                            </v-layout>
                          </v-form>
                        </v-container>
                      </v-stepper-content>

                      <!-- Agreement -->
                      <v-stepper-content step="5">
                        <v-card flat class="ma-12 transparent">
                          <v-form>
                            <v-row>
                              <v-col
                                cols="12"
                                lg="12"
                                xl="12"
                                class="text-center"
                              >
                                <v-btn type="submit" class="blue" dark x-large
                                  >Finish</v-btn
                                >
                              </v-col>
                            </v-row>
                          </v-form>
                        </v-card>
                      </v-stepper-content>
                    </v-stepper-items>
                  </v-stepper>
                </div>
              </v-flex>
            </v-layout>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import MobBottomNav from "../../components/pwa/MobBottomNav.vue";
import MobNav from "../../components/pwa/MobNav.vue";
export default {
  components: { MobBottomNav, MobNav },
  data() {
    return {
      dialog: false,
      dialog2: false,
      tab: null,
      installment: "",
      totalAmount: "",
      term: "",
      card: true,
      firstName: "",
      lastName: "",
      address: "",
      city: "",
      state: "",
      zipCode: "",
      phoneNumber: "",
      email: "example@email.com",
      securityNumber: "",
      dob: "",
      employmentStatus: "",
      employerName: "",
      years: 0,
      gross: "0.00",
      showPreview1: false,
      imagePreview1: "",
      showPreview2: false,
      imagePreview2: "",
      image: "",
      accepted: false,
      declined: false,
      disabled: true,
      approved: false,

      e1: 1,
      privatePractice: [
        {
          id: 1,
          title: "Openlending",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/customer",
        },
      ],
      pwa: [
        {
          id: 3,
          title: "Clearprice",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/pwa/patient",
        },
      ],
      admin: [
        {
          id: 2,
          title: "Admin",
          src: require("@/assets/admin.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/admin",
        },
      ],
    };
  },
  methods: {
    handleImageUpload(event) {
      this.file = event.target.files[0];

      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.showPreview1 = true;
          this.imagePreview1 = reader.result;
        }.bind(this),
        false
      );

      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
        }
      }
    },

    handleImageUpload2(event) {
      this.file2 = event.target.files[0];

      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.showPreview2 = true;
          this.imagePreview2 = reader.result;
        }.bind(this),
        false
      );

      if (this.file2) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file2.name)) {
          reader.readAsDataURL(this.file2);
        }
      }
    },

    positiveSuggestion() {
      this.firstName = "Curly";
      this.lastName = "Howard";
      this.address = "529 North Highland";
      this.city = "Hollywood";
      this.state = "CA";
      this.zipCode = "91510";
      this.phoneNumber = "617-244-3672";
      this.email = "curly@gmail.com";
      this.securityNumber = "123456789";
      this.dob = "10/22/1903";
      this.employmentStatus = "Employed";
      this.employerName = "Warner Bros";
      this.years = "5";
      this.gross = "4500";
      (this.accepted = true), (this.declined = false), (this.disabled = false);
    },

    negativeSuggestion() {
      this.firstName = "Curly";
      this.lastName = "Howard";
      this.address = "529 North Highland";
      this.city = "Hollywood";
      this.state = "CA";
      this.zipCode = "91510";
      this.phoneNumber = "617-244-3672";
      this.email = "curly@gmail.com";
      this.securityNumber = "123456789";
      this.dob = "10/22/1903";
      this.employmentStatus = "Employed";
      this.employerName = "Warner Bros";
      this.years = "5";
      this.gross = "4500";
      (this.accepted = false), (this.declined = true), (this.disabled = false);
    },

    restore() {
      this.firstName = "";
      this.lastName = "";
      this.address = "";
      this.city = "";
      this.state = "";
      this.zipCode = "";
      this.phoneNumber = "";
      this.email = "";
      this.securityNumber = "";
      this.dob = "";
      this.employmentStatus = "";
      this.employerName = "";
      this.years = "";
      this.gross = "";
      (this.accepted = false), (this.declined = false);
    },
  },
};
</script>

<style></style>
