<template>
  <div>
    <MobBottomNav />
    <MobNav />
    <v-container>
      <v-layout row wrap class="mt-10">
        <v-flex xs12 class="mt-10">
          <div class="pa-8 grey lighten-3 ma-3">
            <v-layout row wrap>
              <v-flex xs4 class="">
                <h4 class="font-weight-medium">Openlending</h4>
                <h6
                  @click="(profile = !profile), (profileBtn = !profileBtn)"
                  class="font-weight-regular blue--text"
                >
                  Your Loan Profile
                  <v-btn
                    icon
                    x-small
                    @click="(profile = !profile), (profileBtn = !profileBtn)"
                  >
                    <v-icon small v-show="profile" class="blue--text"
                      >mdi-chevron-up</v-icon
                    ><v-icon small v-show="!profile" class="blue--text"
                      >mdi-chevron-down</v-icon
                    >
                  </v-btn>
                </h6>
              </v-flex>
              <v-spacer></v-spacer>
              <v-flex xs6 class="text-center">
                <v-layout>
                  <v-flex xs4>
                    <v-icon class="blue--text">mdi-blur-radial</v-icon>
                    <h6 class="font-weight-regular">
                      Get more out of Openlending
                    </h6>
                  </v-flex>
                  <v-flex xs4 class="ml-1">
                    <v-icon class="blue--text">mdi-access-point</v-icon>
                    <h6 class="font-weight-regular">Connect with the best</h6>
                  </v-flex>
                  <v-flex xs4>
                    <v-icon class="blue--text">mdi-arrow-all</v-icon>
                    <h6 class="font-weight-regular">Plan your next move</h6>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </div>

          <!-- Loan profile -->
          <div v-show="profile" class="pa-5 mt-5">
            <v-layout row wrap class="pa-2">
              <v-flex xs2>
                <v-avatar class="grey lighten-1"
                  ><v-img src="@/assets/avatar1.png"></v-img
                ></v-avatar>
              </v-flex>
              <v-flex xs10>
                <h3>Welcome Back!</h3>
                <h5 class="font-weight-regular">
                  We're happy to help you grow your business with Openlending
                  Working Capital.
                </h5>
                <h6 text class="blue--text font-weight-light">
                  View loan history
                </h6>
              </v-flex>

              <v-flex xs12 class="mt-10 ma-2">
                <v-layout row wrap class="grey lighten-3 pa-3">
                  <v-flex xs2>
                    <h1 class="font-weight-medium">5</h1>
                    <h5 class="font-weight-regular">Loans</h5>
                  </v-flex>
                  <v-flex xs5>
                    <h1 class="font-weight-medium">$ 50,000</h1>
                    <h5 class="font-weight-regular">Total Borrowed</h5>
                  </v-flex>
                  <v-flex xs5 class="text-right mt-3">
                    <h6 class="font-weight-regular">
                      Last Payment on 24th April 20
                    </h6>
                    <h5 text class="blue--text font-weight-light">
                      View Monthly Details
                    </h5>
                    <h5 text class="blue--text font-weight-light">
                      View Yearly Details
                    </h5>
                  </v-flex>
                </v-layout>
              </v-flex>
            </v-layout>
          </div>

          <!-- Loan Chart -->
          <div class="pa-7">
            <v-layout row wrap
              class=""
              @click="(chart = !chart), (chartBtn = !chartBtn)"
            >
              <v-flex xs6 class="mt-5">
                <h5 class="font-weight-regular">LOAN PROGRESS CHARTS <v-icon v-show="chartBtn" class="blue--text"
                  >mdi-chevron-up</v-icon
                >
                <v-icon v-show="chart" class="blue--text"
                  >mdi-chevron-down</v-icon
                ></h5>
              </v-flex>
              <v-divider v-show="chart" vertical></v-divider>
              <v-flex xs4 class="text-center">
                <v-card class="transparent ml-10" flat v-show="chart">
                  <v-layout row wrap>
                    <v-flex xs4 class="mt-5 text-center">
                    <v-progress-circular
                      width="5"
                      size="50"
                      :value="78"
                      color="green lighten-2"
                    >
                      <h4 class="black--text">78%</h4>
                    </v-progress-circular>
                    </v-flex>
                    <v-spacer></v-spacer>
                    <v-flex xs4 class="">
                    <v-img
                      height="80"
                      contain
                      src="@/assets/chart.png"
                    ></v-img>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
            <!-- Charts -->
            <div v-show="chartBtn" class="mt-16">
              <v-layout row wrap class="">
                <v-flex xs6 class="text-center">
                  <h3 class="text-center font-weight-medium">Repayment Progress</h3>
                  <v-layout row wrap>
                    <v-flex xs8 class="text-right">
                      <v-progress-circular
                        class="mt-10"
                        width="8"
                        size="100"
                        :value="78"
                        color="green lighten-2"
                      >
                        <h1 class="black--text">78%</h1>
                      </v-progress-circular>
                    </v-flex>
                    <v-flex xs11 class="text-right pr-1 mt-6">
                      <h5 class="font-weight-regular">$ 10,000</h5>
                      <h5 class="font-weight-regular">Outstanding balance</h5>
                      <h5 class="font-weight-regular mt-3">$ 1,257</h5>
                      <h5 class="font-weight-regular">Paid to date</h5>
                    </v-flex>
                  </v-layout>
                </v-flex>
                <v-divider vertical></v-divider>

                <v-flex xs6>
                  <h3 class="text-center font-weight-medium">Repayment Tracking</h3>
                  <v-row>
                    <v-col cols="12" lg="7" xl="7" class="text-right mt-7">
                      <v-img
                        height="100"
                        contain
                        src="@/assets/chart.png"
                      ></v-img>
                    </v-col>
                    <v-col cols="12" lg="5" xl="5" class="text-left pl-5">
                      <h5 class="font-weight-regular">Average Payment</h5>
                      <h5 class="font-weight-regular">$ 57,975</h5>
                      <h5 class="font-weight-regular mt-7">
                        Estimated time to repay
                      </h5>
                      <h5 class="font-weight-regular">1 month(s)</h5>
                    </v-col>
                  </v-row>
                </v-flex>
              </v-layout>
            </div>
          </div>
          <v-divider v-show="chartBtn" class="mt-2"></v-divider>

            <!-- Loan Table -->
            <div class="pa-2">
            <v-layout>
                <!-- Loan Details Column-->
              <!-- <v-flex xs4 class="mt-3">
                <h4 class="font-weight-medium mb-5">Loan Details</h4>
                <h5>$ 10,000</h5>
                <h5 class="grey--text mb-5">Outstanding balance</h5>
                <h5>$ 1,257</h5>
                <h5 class="grey--text">Paid to date</h5>
                <v-btn
                  small
                  tile
                  outlined
                  class="blue--text text--darken-3 text-capitalize mt-3"
                  >Make Payment</v-btn
                >
                <v-divider class="mt-7"></v-divider>
                <h5 class="mt-5">$ 10,000</h5>
                <h5 class="grey--text mb-5">Initial loan amount</h5>
                <h5>$ 1,257</h5>
                <h5 class="grey--text">Loan Fee</h5>
                <h5 class="mt-4">30%</h5>
                <h5 class="grey--text">Repayment percentage</h5>
                <h5 class="mt-4">$ 4,500</h5>
                <h5 class="grey--text mb-3">Minimum due every 90 days</h5>
                <h6
                  large
                  tile
                  text
                  class="blue--text text--darken-3 text-capitalize mt-3 font-weight-regular"
                  ><v-icon class="blue--text">mdi-download</v-icon> Download
                  contract</h6
                >
                <v-divider class="mt-7"></v-divider>

                <h4 class="font-weight-medium mb-5 mt-5">How are we doing?</h4>
                <h5 class="mb-4 font-weight-regular">Your feedback is always appreciated.</h5>
                <h5
                  large
                  tile
                  text
                  class="blue--text text--darken-3 text-capitalize mt-3 font-weight-regular"
                  >Take our satisfaction survey</h5
                >
                <v-divider class="mt-7"></v-divider>

                <h4 class="font-weight-medium mb-5 mt-5">Loan Tips</h4>
                <h5 class="mb-4 font-weight-regular">Meet the minimum requirement</h5>
                <h5 class="mb-4 grey--text font-weight-regular">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h5>
                <h5
                  large
                  tile
                  text
                  class="blue--text text--darken-3 text-capitalize mt-3 font-weight-regular"
                  >Learn about the minimum requirement</h5
                >
              </v-flex> -->

              <!-- Scheduled Payment Column -->
              <!-- <v-flex xs8>
                <LoanTab />
              </v-flex> -->
            </v-layout>
          </div>

        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import MobBottomNav from "../../components/pwa/MobBottomNav.vue";
import MobNav from "../../components/pwa/MobNav.vue";
export default {
  components: { MobBottomNav, MobNav },
  data() {
    return {
      dialog: false,
      profile: true,
      profileBtn: false,
      chart: false,
      chartBtn: true,
    };
  },
};
</script>

<style></style>
