<template>
  <div>
    <NavDao />
    <div class="mt-5">
      <v-container>
        <v-row>
          <v-col cols="12" lg="1" xl="2"> </v-col>
          <v-col cols="12" lg="1" xl="1" class="mt-10">
            <SideBar />
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="12" lg="7" xl="6" class="">
            <v-row class="px-2">
              <v-col cols="12" lg="4" xl="4">
                <h4>Discussions</h4>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4" class="text-end">
                <v-btn to="/dao/app/post/create" text><h5 class="blue--text text--darken-4"><v-icon class="blue--text text--darken-4" small>mdi-plus-circle</v-icon> New Post</h5></v-btn>
              </v-col>
            </v-row>
            
            <v-card
              v-for="dao in getDiscussion"
              :key="dao.id"
              class="pa-2 mt-6 py-0"
              outlined
              hover
              link
            >
              <v-card-title
                ><h6 class="font-weight-medium">{{ dao.title }}</h6>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-title
                ><v-avatar size="25" class="blue"
                  ><v-img :src="dao.src" contain></v-img
                ></v-avatar>
                <h6 class="font-weight-regular ml-5">{{ dao.address }}</h6>
                <h6 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chart-timeline-variant</v-icon>
                  {{ dao.address }} ago
                </h6>
                <h6 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chat-processing-outline</v-icon>
                  {{ dao.comment }}
                </h6>
              </v-card-title>
            </v-card>
          </v-col>
          <v-col cols="12" lg="1" xl="2"> </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import NavDao from "../../../components/NavDao.vue";
import SideBar from "../../../components/SideBar.vue";
import { useDAOSStore } from "@/stores/daos";
export default {
  components: { SideBar, NavDao },
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  computed: {
    getDISCUSSIONById() {
      let res = this.daosStore.getDISCUSSIONById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getDiscussion() {
      return this.daosStore.discussion;
    },
  },
};
</script>

<style></style>
