<template>
  <div>
    <NavDao />
    <div class="mt-5">
      <v-container>
        <v-row>
          <v-col cols="12" lg="1" xl="2"> </v-col>
          <v-col cols="12" lg="1" xl="1" class="mt-10">
            <SideBar />
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="12" lg="7" xl="6" class="">
            <h4>Technical Committee Members</h4>
            <v-card
              v-for="dao in getMember"
              :key="dao.id"
              class="pa-2 mt-6 py-0"
              outlined
              hover
              link
            >
              <v-card-title
                ><h6 class="grey--text">{{dao.title}}</h6>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-title
                ><v-avatar size="25" class="blue"
                  ><v-img :src="dao.src" contain></v-img
                ></v-avatar>
                <h6 class="font-weight-medium ml-5">{{ dao.address }}</h6>
              </v-card-title>
            </v-card>
          </v-col>
          <v-col cols="12" lg="1" xl="2"> </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import NavDao from "../../../components/NavDao.vue";
import SideBar from "../../../components/SideBar.vue";
import { useDAOSStore } from "@/stores/daos";
export default {
  components: { SideBar, NavDao },
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  computed: {
    getMEMBERById() {
      let res = this.daosStore.getMEMBERById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getMember() {
      return this.daosStore.member;
    },
  },
};
</script>

<style></style>
