<template>
  <div>
    <NavDao />
    <div class="mt-5">
      <v-container>
        <v-row>
          <v-col cols="12" lg="1" xl="2"> </v-col>
          <v-col cols="12" lg="1" xl="1" class="mt-10">
            <SideBar />
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="12" lg="7" xl="6" class="">
            <!-- Treasury -->
            <h4>Treasury Proposals</h4>
            <v-card
              outlined
              hover
              link
              class="pa-2 mt-6 py-0"
              v-for="dao in getTreasury"
              :key="dao.id"
            >
              <v-card-title
                ><h6 class="font-weight-medium">
                  #{{ dao.id }} . {{ dao.title }}
                </h6>
                <v-spacer></v-spacer>
                <h6 class="font-weight-medium">
                  {{ dao.kint }} <span class="grey--text"> KINT</span>
                </h6>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-title
                ><v-avatar size="25" class="blue"
                  ><v-img :src="dao.src" contain></v-img
                ></v-avatar>
                <h6 class="font-weight-regular ml-5">{{ dao.address }}</h6>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chart-timeline-variant</v-icon>
                  {{ dao.days }} ago
                </h5>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chat-processing-outline</v-icon>
                  {{ dao.comment }}
                </h5>
                <v-spacer></v-spacer>
                <v-chip label :class="dao.color" dark small>{{dao.status}}</v-chip>
              </v-card-title>
            </v-card>

            <!-- Tech.Comm.Proposals -->
            <h4 class="mt-5">Tech. Comm. Proposals</h4>
            <v-card
              outlined
              hover
              link
              class="pa-2 mt-3 py-0"
              v-for="dao in getTech"
              :key="dao.id"
            >
              <v-card-title
                ><h6 class="font-weight-medium">
                  #{{ dao.id }} . {{ dao.title }}
                </h6>
                <v-spacer></v-spacer>
                <h6 class="font-weight-medium">
                  {{ dao.kint }} <span class="grey--text"> KINT</span>
                </h6>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-title
                ><v-avatar size="25" class="blue"
                  ><v-img :src="dao.src" contain></v-img
                ></v-avatar>
                <h6 class="font-weight-regular ml-5">{{ dao.address }}</h6>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chart-timeline-variant</v-icon>
                  {{ dao.days }} ago
                </h5>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chat-processing-outline</v-icon>
                  {{ dao.comment }}
                </h5>
                <v-spacer></v-spacer>
                <v-chip label :class="dao.color" dark small>{{dao.status}}</v-chip>
              </v-card-title>
            </v-card>

            <!-- Referenda -->
            <h4 class="mt-5">Referenda</h4>
            <v-card
              outlined
              hover
              link
              class="pa-2 mt-3 py-0"
              v-for="dao in getReferenda"
              :key="dao.id"
            >
              <v-card-title
                ><h6 class="font-weight-medium">
                  #{{ dao.id }} . {{ dao.title }}
                </h6>
                <v-spacer></v-spacer>
                <h6 class="font-weight-medium">
                  {{ dao.kint }} <span class="grey--text"> KINT</span>
                </h6>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-title
                ><v-avatar size="25" class="blue"
                  ><v-img :src="dao.src" contain></v-img
                ></v-avatar>
                <h6 class="font-weight-regular ml-5">{{ dao.address }}</h6>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chart-timeline-variant</v-icon>
                  {{ dao.days }} ago
                </h5>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chat-processing-outline</v-icon>
                  {{ dao.comment }}
                </h5>
                <v-spacer></v-spacer>
                <v-chip label :class="dao.color" dark small>{{dao.status}}</v-chip>
              </v-card-title>
            </v-card>

            <!-- Democracy -->
            <h4 class="mt-5">Democracy Public Proposals</h4>
            <v-card
              outlined
              hover
              link
              class="pa-2 mt-3 py-0"
              v-for="dao in getDemocracy"
              :key="dao.id"
            >
              <v-card-title
                ><h6 class="font-weight-medium">
                  #{{ dao.id }} . {{ dao.title }}
                </h6>
                <v-spacer></v-spacer>
                <h6 class="font-weight-medium">
                  {{ dao.kint }} <span class="grey--text"> KINT</span>
                </h6>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-title
                ><v-avatar size="25" class="blue"
                  ><v-img :src="dao.src" contain></v-img
                ></v-avatar>
                <h6 class="font-weight-regular ml-5">{{ dao.address }}</h6>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chart-timeline-variant</v-icon>
                  {{ dao.days }} ago
                </h5>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chat-processing-outline</v-icon>
                  {{ dao.comment }}
                </h5>
                <v-spacer></v-spacer>
                <v-chip label :class="dao.color" dark small>{{dao.status}}</v-chip>
              </v-card-title>
            </v-card>
          </v-col>
          <v-col cols="12" lg="1" xl="2"> </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import NavDao from "../../../components/NavDao.vue";
import SideBar from "../../../components/SideBar.vue";
import { useDAOSStore } from "@/stores/daos";
export default {
  components: { SideBar, NavDao },
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  computed: {
    getTREASURYById() {
      let res = this.daosStore.getTREASURYById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    // getTECHById() {
    //   let res = this.daosStore.getTECHById(this.id);
    //   console.log(`_ID Index.vue - #166 ID is ${this.id}`);
    //   console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
    //   console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
    //   console.log(`_ID Index.vue - #169 res is ${res}`);
    //   return res;
    // },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getTreasury() {
      return this.daosStore.treasury;
    },
    getTech() {
      return this.daosStore.tech;
    },
    getReferenda() {
      return this.daosStore.referenda;
    },
    getDemocracy() {
      return this.daosStore.democracy;
    },
  },
};
</script>

<style></style>
