<template>
  <div>
    <SideNav />
    <BankNav />
    <div class="pa-16">
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <v-card flat dark class="teal darken-4 pa-2">
            <v-row>
              <v-col cols="12" lg="3" xl="3">
                <h3 class="font-weight-medium">Loan Origination</h3>
              </v-col>
              
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <!-- proposals -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal lighten-2 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Pending Approval</h5>
                <h2 class="font-weight-regular">2</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <!-- Referenda -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal darken-4 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Average Completion Time</h5>
                <h2 class="font-weight-regular">0h 0m</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <!-- Launch Period -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal lighten-2 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Approved</h5>
                <h2 class="font-weight-regular">1</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <!-- Launch Period -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal darken-4 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Declined</h5>
                <h2 class="font-weight-regular">3</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-8">
        <!-- Table -->
        <v-col cols="12" lg="8" xl="8">
          <v-card outlined>
            <v-simple-table fixed-header height="600px">
              <template v-slot:default>
                <thead dark>
                  <tr class="green">
                    <th class="text-left teal darken-4 white--text">
                      Applicant
                    </th>
                    <th class="text-left teal darken-4 white--text">State</th>
                    <th class="text-left teal darken-4 white--text">
                      Loan Amount
                    </th>
                    <th class="text-left teal darken-4 white--text">Email</th>
                    <th class="text-left teal darken-4 white--text">
                      Created On Date
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Evaluating Application -->
                  <tr class="teal--text">
                    <td>
                      <a
                        v-show="data2Btn"
                        @click="
                          (data2 = !data2),
                            (data2Btn = false),
                            (data2Btnn = true)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-down</v-icon>Evaluating
                        Application</a
                      >
                      <a
                        v-show="data2Btnn"
                        @click="
                          (data2 = !data2),
                            (data2Btn = true),
                            (data2Btnn = false)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-right</v-icon>Evaluating
                        Application</a
                      >
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr
                    v-for="item in applications"
                    :key="item.name"
                    v-show="data2"
                  >
                    <td>
                      <span class="mr-2">{{ item.id }}</span>
                      <v-icon>mdi-restart</v-icon> {{ item.applicant }}
                    </td>
                    <td>{{ item.state }}</td>
                    <td>${{ item.loanAmount }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.created }}</td>
                  </tr>

                  <!-- Pending -->
                  <tr>
                    <td>
                      <a
                        v-show="pending2Btn"
                        @click="
                          (pending2 = !pending2),
                            (pending2Btn = false),
                            (pending2Btnn = true)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-down</v-icon>Pending Approval</a
                      >
                      <a
                        v-show="pending2Btnn"
                        @click="
                          (pending2 = !pending2),
                            (pending2Btn = true),
                            (pending2Btnn = false)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-right</v-icon>Pending Approval</a
                      >
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr
                    v-for="item in pending"
                    :key="item.name"
                    v-show="pending2"
                  >
                    <td>
                      <span class="mr-2">{{ item.id }}</span>
                      <v-icon>mdi-restart</v-icon> {{ item.applicant }}
                    </td>
                    <td>{{ item.state }}</td>
                    <td>${{ item.loanAmount }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.created }}</td>
                  </tr>

                  <!-- Approved -->
                  <tr>
                    <td>
                      <a
                        v-show="approved2Btn"
                        @click="
                          (approved2 = !approved2),
                            (approved2Btn = false),
                            (approved2Btnn = true)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-down</v-icon>Approved</a
                      >
                      <a
                        v-show="approved2Btnn"
                        @click="
                          (approved2 = !approved2),
                            (approved2Btn = true),
                            (approved2Btnn = false)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-right</v-icon>Approved</a
                      >
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr
                    v-for="item in approved"
                    :key="item.name"
                    v-show="approved2"
                  >
                    <td>
                      <span class="mr-2">{{ item.id }}</span>
                      <v-icon class="green--text"
                        >mdi-check-circle-outline</v-icon
                      >
                      {{ item.applicant }}
                    </td>
                    <td>{{ item.state }}</td>
                    <td>${{ item.loanAmount }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.created }}</td>
                  </tr>

                  <!-- Declined -->
                  <tr>
                    <td>
                      <a
                        v-show="declined2Btn"
                        @click="
                          (declined2 = !declined2),
                            (declined2Btn = false),
                            (declined2Btnn = true)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-down</v-icon>Declined</a
                      >
                      <a
                        v-show="declined2Btnn"
                        @click="
                          (declined2 = !declined2),
                            (declined2Btn = true),
                            (declined2Btnn = false)
                        "
                        text
                        class="mt-2 teal--text"
                        ><v-icon>mdi-chevron-right</v-icon>Declined</a
                      >
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr
                    v-for="item in declined"
                    :key="item.name"
                    v-show="declined2"
                  >
                    <td>
                      <span class="mr-2">{{ item.id }}</span>
                      <v-icon class="red--text">mdi-close-circle</v-icon>
                      {{ item.applicant }}
                    </td>
                    <td>{{ item.state }}</td>
                    <td>${{ item.loanAmount }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.created }}</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table>
          </v-card>
        </v-col>

        <v-col cols="12" lg="4" xl="4">
          <!-- Evaluating Application -->
          <v-card outlined class="mt-3 pa-3">
            <v-row class="teal lighten-4">
              <v-col cols="12" lg="7" xl="5">
                <h4
                  v-show="data1Btn"
                  @click="
                    (data1 = !data1), (data1Btn = false), (data1Btnn = true)
                  "
                  class="black--text"
                >
                  <v-icon>mdi-chevron-down</v-icon> Evaluating Application
                </h4>
                <h4
                  v-show="data1Btnn"
                  @click="
                    (data1 = !data1), (data1Btn = true), (data1Btnn = false)
                  "
                  class="black--text"
                >
                  <v-icon>mdi-chevron-right</v-icon> Evaluating Application
                </h4>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="5" xl="5">
                <h4 class="font-weight-regular mt-1 text-right">
                  9/26/2022 09:28 AM
                </h4>
              </v-col>
            </v-row>
            <v-row v-show="data1" class="pa-2">
              <v-col cols="12" lg="2" xl="2" class="text-center">
                <v-icon xl size="60px"> mdi-chat-processing-outline </v-icon>
              </v-col>
              <v-col cols="12" lg="10" xl="10">
                <h3 class="font-weight-medium">State Change</h3>
                <h3 class="font-weight-medium">
                  The Loan Application is evaluated and Loan Details have been
                  sent for approval by the Applicant
                </h3>
              </v-col>
              <v-col cols="12" lg="12" xl="12" class="text-right">
                <v-btn text class="text-capitalize"
                  >All <v-icon>mdi-chevron-right</v-icon></v-btn
                >
              </v-col>
            </v-row>
          </v-card>

          <!-- Pending Approval -->
          <v-card outlined class="mt-3 pa-3">
            <v-row class="teal darken-1">
              <v-col cols="12" lg="7" xl="5">
                <h4
                  v-show="pending1Btn"
                  @click="
                    (pending1 = !pending1),
                      (pending1Btn = false),
                      (pending1Btnn = true)
                  "
                  class="white--text"
                >
                  <v-icon class="white--text">mdi-chevron-down</v-icon> Pending
                  Approval
                </h4>
                <h4
                  v-show="pending1Btnn"
                  @click="
                    (pending1 = !pending1),
                      (pending1Btn = true),
                      (pending1Btnn = false)
                  "
                  class="white--text"
                >
                  <v-icon class="white--text">mdi-chevron-right</v-icon> Pending
                  Approval
                </h4>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="5" xl="5">
                <h4 class="font-weight-regular mt-1 text-right white--text">
                  9/26/2022 09:28 AM
                </h4>
              </v-col>
            </v-row>
            <v-row v-show="pending1" class="pa-2">
              <v-col cols="12" lg="2" xl="2" class="text-center">
                <v-icon xl size="60px"> mdi-chat-processing-outline </v-icon>
              </v-col>
              <v-col cols="12" lg="10" xl="10">
                <h3 class="font-weight-medium">State Change</h3>
                <h3 class="font-weight-medium">
                  The Loan Details have been approved by the Applicant.
                </h3>
                <h3 class="font-weight-medium">
                  Offer is waiting approval by a Loan Officer
                </h3>
              </v-col>
              <v-col cols="12" lg="12" xl="12" class="text-right">
                <v-btn text class="text-capitalize"
                  >All <v-icon>mdi-chevron-right</v-icon></v-btn
                >
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="12"></v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import BankNav from '../../components/BankNav.vue';
import SideNav from "../../components/SideNav.vue";
export default {
  components: { SideNav, BankNav },
  data() {
    return {
      data1: true,
      data1Btn: true,
      data1Btnn: false,
      pending1: true,
      pending1Btn: true,
      pending1Btnn: false,
      approved1: true,
      approved1Btn: true,
      approved1Btnn: false,
      declined1: true,
      declined1Btn: true,
      declined1Btnn: false,
    //   for Table
      data2: true,
      data2Btn: true,
      data2Btnn: false,
      pending2: true,
      pending2Btn: true,
      pending2Btnn: false,
      approved2: true,
      approved2Btn: true,
      approved2Btnn: false,
      declined2: true,
      declined2Btn: true,
      declined2Btnn: false,
      applications: [
        {
          id: 1,
          applicant: "Henry Johnson",
          state: "Evaluating Application",
          loanAmount: "9,000.00",
          email: "Henry@example.com",
          created: "9/26/2022",
        },
        {
          id: 2,
          applicant: "Danny Johnson",
          state: "Evaluating Application",
          loanAmount: "5,000.00",
          email: "Henry@example.com",
          created: "9/26/2022",
        },
      ],
      pending: [
        {
          id: 3,
          applicant: "Jane Doe",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "9/26/2022",
        },
      ],
      approved: [
        {
          id: 4,
          applicant: "Jane Doe",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "9/26/2022",
        },
      ],
      declined: [
        {
          id: 5,
          applicant: "Jane Doe",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "9/26/2022",
        },
        {
          id: 6,
          applicant: "Mary Jane",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "9/26/2022",
        },
      ],
    };
  },
};
</script>

<style></style>
