<template>
  <div>
    <NavBar />
    <div class="pa-15">
      <v-container>
        <v-row>
          <v-col cols="12" lg="12" xl="12">
            <v-card class="pa-8" flat>
              <v-row>
                <!-- Sidebar -->
                <v-col cols="12" lg="2" xl="2">
                  <div>
                    <v-navigation-drawer permanent width="250">
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title class="text-h7">
                            <v-avatar size="40" class="grey lighten-3 mr-4"
                              ><v-img :src="getPROFILEById.src"></v-img
                            ></v-avatar>
                            Signed in as {{ getPROFILEById.name }}
                          </v-list-item-title>
                        </v-list-item-content>
                      </v-list-item>

                      <v-list dense nav>
                        <v-list-item
                          link
                          @click="(profile = true), (settings = false)"
                        >
                          <v-list-item-content class="ml-8">
                            <v-list-item-title
                              ><v-icon class="mr-2">mdi-account-outline</v-icon
                              >Profile</v-list-item-title
                            >
                          </v-list-item-content>
                        </v-list-item>
                        <v-list-item
                          link
                          @click="(profile = false), (settings = true)"
                        >
                          <v-list-item-content class="ml-8">
                            <v-list-item-title
                              ><v-icon class="mr-2">mdi-cog-outline</v-icon
                              >Settings</v-list-item-title
                            >
                          </v-list-item-content>
                        </v-list-item>
                      </v-list>
                    </v-navigation-drawer>
                  </div>
                </v-col>
                <v-col cols="12" lg="9" xl="9" class="mt-16">
                  <!-- Profile -->
                  <div v-show="profile">
                    <v-row>
                      <v-col cols="12" lg="4" xl="4">
                        <h3 class="font-weight-regular">Name</h3>
                        <v-text-field
                          dense
                          outlined
                          :value="getPROFILEById.name"
                        ></v-text-field>
                        <h3 class="font-weight-regular">Email</h3>
                        <v-text-field
                          dense
                          outlined
                          :value="getPROFILEById.email"
                        ></v-text-field>
                        <h3 class="font-weight-regular">Address</h3>
                        <v-text-field
                          dense
                          solo
                          flat
                          placeholder="Enter your address data"
                          append-icon="mdi-pencil-outline"
                          >{{ getPROFILEById.name }}</v-text-field
                        >
                      </v-col>
                    </v-row>
                  </div>

                  <!-- Settings -->
                  <div v-show="settings">
                    <v-row>
                      <v-col cols="12" lg="3" xl="3">
                        <h3 class="font-weight-regular">
                          Select prefered base currency
                        </h3>
                        <v-select
                          v-model="getPROFILEById.currency"
                          solo
                          flat
                          background-color="grey lighten-3"
                          dense
                          :items="currency"
                        ></v-select>
                        <h3 class="font-weight-regular">
                          Select prefered language
                        </h3>
                        <v-text-field
                          solo
                          flat
                          background-color="grey lighten-3"
                          dense
                          :value="getPROFILEById.language"
                        ></v-text-field>
                        <h3 class="font-weight-regular">Select timezone</h3>
                        <v-text-field
                          solo
                          flat
                          background-color="grey lighten-3"
                          dense
                          :value="getPROFILEById.timezone"
                        ></v-text-field>
                      </v-col>
                    </v-row>
                  </div>
                </v-col>
              </v-row>
              <div style="margin-bottom: 50vh"></div>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import { usePROFILESStore } from "@/stores/profiles";

import NavBar from "@/components/NavBar.vue";
export default {
  components: { NavBar },
  setup() {
    const profilesStore = usePROFILESStore();

    return { profilesStore };
  },
  data() {
    return {
      id: this.$route.params.id,
      profile: true,
      settings: false,
      currency: ["USD", "CAD", "EUR", "SGD", "INR", "JPY"],
    };
  },
  computed: {
    getPROFILEById() {
      let res = this.profilesStore.getPROFILEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(
        `_ID Index.vue - #167 PROFILE STORE ID is ${this.profilesStore.id}`
      );
      console.log(`_ID Index.vue - #168 Root is ${this.profilesStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
  },
  created() {
    let profileRoot = this.$route.path;
    let profileId = this.$route.params.id;
    console.log(`_ID Index.vue - #186 is ${profileRoot}`);
    console.log(`_ID Index.vue - #187 is ${profileId}`);

    if (isNaN(profileId)) {
      console.log(`_ID Index.vue - #190 : ${profileId} is not a number`);
    } else {
      console.log(`_ID Index.vue - #192 : ${profileId} is a number`);
    }

    if (profileRoot) {
      this.profilesStore.setPROFILERoot(profileRoot);
    }

    if (profileId) {
      this.profilesStore.setPROFILEId(profileId);
    }
  },
};
</script>

<style></style>
