<template>
  <div>
    <SideNav />
    <BankNav />
    <div class="pa-10">
      <v-row>
        <v-col cols="12" lg="10" xl="10">
          <v-text-field outlined> </v-text-field>
        </v-col>
        <v-col cols="12" lg="2" xl="2">
          <v-btn @click="dialog = true" x-large block tile light class="white"
            >Create a Rule</v-btn
          >
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <v-data-table
            :headers="headers"
            :items="rules"
            sort-by="name"
            class="elevation-1"
          >
            <template v-slot:top>
              <v-dialog v-model="dialog" max-width="800px">
                <v-card rounded="lg" class="pa-5">
                  <v-card-title class="px-9">
                    <span class="text-h5">{{ formTitle }}</span>
                  </v-card-title>

                  <v-card-text>
                    <v-container>
                      <v-row no-gutters>
                        <v-col cols="12" lg="12" xl="12">
                          <v-text-field
                            dense
                            outlined
                            v-model="editedItem.name"
                            label="Name"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="12" xl="12">
                          <v-text-field
                            dense
                            outlined
                            v-model="editedItem.code"
                            label="Code"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="12" xl="12">
                          <v-text-field
                            dense
                            outlined
                            v-model="editedItem.type"
                            label="Type"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="12" xl="12">
                          <v-text-field
                            dense
                            outlined
                            v-model="editedItem.createdBy"
                            label="Created by"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="12" xl="12">
                          <v-text-field
                            dense
                            outlined
                            v-model="editedItem.modifiedBy"
                            label="Modified by"
                          ></v-text-field>
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="12" lg="12" xl="12">
                          <h3>
                            After the form is submitted, override the default
                            action based on these rules.
                          </h3>
                        </v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="12" lg="1" xl="1" class="text-center">
                          <h2 class="mt-2">If</h2>
                        </v-col>
                        <v-col cols="12" lg="5" xl="5">
                          <v-text-field
                            v-model="grossIncome"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="1" xl="1">
                          <v-text-field
                            v-model="incomeCondition"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="3" xl="3">
                          <v-text-field
                            v-model="incomeCondition2"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="2" xl="2">
                          <v-text-field
                            v-model="incomeAmount"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-row class="px-3" no-gutters>
                        <v-col cols="12" lg="12" xl="12">
                          <h2>and</h2>
                        </v-col>
                      </v-row>
                      <v-row class="px-4">
                        <v-col cols="12" lg="6" xl="6">
                          <v-text-field
                            v-model="requestedLoanStmt"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="1" xl="1">
                          <v-text-field
                            v-model="loanAmountCondition"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="3" xl="3">
                          <v-text-field
                            v-model="loanAmountCondition2"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12" lg="2" xl="2">
                          <v-text-field
                            v-model="loanAmount"
                            outlined
                            dense
                          ></v-text-field>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">
                      Cancel
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="submit">
                      Submit
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-dialog v-model="dialogDelete" max-width="500px">
                <v-card>
                  <v-card-title class="text-h5"
                    >Are you sure you want to delete this item?</v-card-title
                  >
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="closeDelete"
                      >Cancel</v-btn
                    >
                    <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                      >OK</v-btn
                    >
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>
              </v-dialog>
            </template>
            <template v-slot:item.actions="{ item }">
              <v-icon small class="mr-2" @click="editItem(item)">
                mdi-pencil
              </v-icon>
              <v-icon small @click="deleteItem(item)"> mdi-delete </v-icon>
            </template>
            <template v-slot:no-data>
              <v-btn color="primary" @click="initialize"> Reset </v-btn>
            </template>
          </v-data-table>
        </v-col>
        <v-col cols="12" lg="12" xl="12">
          <h3 class="grey--text text--darken-2">KEY CODES:</h3>
          <h3 class="font-weight-medium mt-2">0001 - {{ code0001 }}</h3>
          <h3 class="font-weight-medium mt-2">0002 - {{ code0002 }}</h3>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import BankNav from "../../components/BankNav.vue";
import SideNav from "../../components/SideNav.vue";
export default {
  components: { SideNav, BankNav },
  data: () => ({
    dialog: false,
    dialogDelete: false,
    code0001: "Age of Applicant",
    code0002: "Income insufficient for the amount of credit requested",

    grossIncome: "Application Gross Income",
    incomeCondition: "Is",
    incomeCondition2: "Less Than",
    incomeAmount: "5000",

    requestedLoanStmt: "Requested Loan Amount",
    loanAmountCondition: "Is",
    loanAmountCondition2: "Greater Than",
    loanAmount: "4000",
    headers: [
      {
        text: "Name",
        align: "start",
        sortable: false,
        value: "name",
      },
      { text: "Code", value: "code" },
      { text: "Type", value: "type" },
      { text: "Created by", value: "createdBy" },
      { text: "Created on date", value: "createdOnDate" },
      { text: "Modified By", value: "modifiedBy", sortable: false },
      { text: "Actions", value: "actions", sortable: false },
    ],
    rules: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      type: "",
      code: "",
      createdBy: "",
      createdOnDate: "",
      modifiedBy: "",
    },
    defaultItem: {
      name: "",
      type: "",
      createdBy: "",
      createdOnDate: "",
      modifiedBy: "",
    },
  }),

  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Rule" : "Edit Rule";
    },
    truncateString(str, num) {
      return str;
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },

  methods: {
    initialize() {
      let milliseconds = Date.now();
      let m = new Date(milliseconds);
      //this.createdOnDate = date;

      var dateString =
        m.getUTCFullYear() +
        "/" +
        ("0" + (m.getUTCMonth() + 1)).slice(-2) +
        "/" +
        ("0" + m.getUTCDate()).slice(-2) +
        " " +
        ("0" + m.getUTCHours()).slice(-2) +
        ":" +
        ("0" + m.getUTCMinutes()).slice(-2) +
        ":" +
        ("0" + m.getUTCSeconds()).slice(-2);

      console.log(dateString);

      this.rules = [
        {
          name: "Income insufficient ...",
          code: "0002",
          type: "Statement Rule",
          createdBy: "ogreen@openlending.com",
          createdOnDate: dateString,
          modifiedBy: "ogreen@openlending.com",
        },
      ];
    },
    editItem(item) {
      this.editedIndex = this.rules.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.rules.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.rules.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    submit() {
      if (this.editedIndex > -1) {
        Object.assign(this.rules[this.editedIndex], this.editedItem);
      } else {
        this.rules.push(this.editedItem);
      }
      this.close();
    },
    textTruncate(str, length, ending) {
      if (length == null) {
        length = 100;
      }
      if (ending == null) {
        ending = "...";
      }
      if (str.length > length) {
        return str.substring(0, length - ending.length) + ending;
      } else {
        return str;
      }
    },
  },
};
</script>

<style></style>
