<template>
  <div>
    <!-- Hero -->
    <v-container>
      <div class="pa-16">
        <v-row>
          <v-col cols="12" lg="6" xl="6">
            <v-card flat>
              <v-img :src="require('@/assets/refugee.webp')"></v-img>
            </v-card>
          </v-col>
          <v-col cols="12" lg="6" xl="6">
            <div class="mt-16">
              <h1 class="text-h1 font-weight-medium mt-10">
                Help refugees restart, rebuild, and restore hope.
              </h1>
              <h1 class="font-weight-regular mt-10">
                Show your support this World Refugee Day. By lending as little
                as $25, you can help refugees like Juvenali restore their
                stability and rebuild possibilities for the future.
              </h1>
              <v-btn
                to="/lending/refugee"
                x-large
                class="text-capitalize green darken-4 mt-8"
                text
                rounded
                dark
                >Lend to Refugees</v-btn
              >
            </div>
          </v-col>
        </v-row>
      </div>
      <!-- Stats -->
      <div class="ma-10">
        <v-container>
          <v-row>
            <v-col cols="12" lg="1" xl="1"></v-col>
            <v-col
              class="text-center"
              cols="12"
              lg="3"
              xl="3"
              v-for="dao in getCharity"
              :key="dao.id"
            >
              <v-card outlined class="pa-8">
                <h1 class="text-h2 font-weight-bold orange--text">
                  {{ dao.value }}
                </h1>
                <v-card-title class=""
                  ><v-spacer />{{ dao.name }}<v-spacer
                /></v-card-title>
              </v-card>
            </v-col>
            <v-col cols="12" lg="1" xl="1"></v-col>
          </v-row>

          <!-- Supports -->
          <div>
            <v-row>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4">
                <h1 class="text-center text-h2">Support Health</h1>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
            <v-row class="pa-10">
              <v-col
                cols="12"
                lg="4"
                xl="4"
                v-for="dao in getRefugee"
                :key="dao.id"
              >
                <v-card
                  link
                  flat
                  :to="{
                    name: 'healthDetails',
                    params: { id: dao.id },
                  }"
                >
                  <v-img :src="dao.src">
                    <div class="pa-16"></div>
                    <div class="pa-16"></div>
                    <div class="pa-10"></div>
                    <v-chip class="white ml-2"
                      ><v-icon>mdi-map-marker</v-icon>
                      {{ dao.location }}</v-chip
                    ></v-img
                  >
                </v-card>
                <div class="mt-3">
                  <h1>{{ dao.name }}</h1>
                  <div class="mt-5">
                    <h4>${{ dao.amount }} TO GO, {{ dao.days }} DAYS LEFT</h4>
                    <v-progress-linear
                      height="10"
                      :value="dao.percentage"
                    ></v-progress-linear>
                  </div>
                  <div class="mt-5">
                    <h4 class="font-weight-regular">
                      A loan of ${{ dao.loan }} {{ dao.description }}
                    </h4>
                  </div>
                  <div>
                    <v-btn
                      :to="{
                        name: 'healthDetails',
                        params: { id: dao.id },
                      }"
                      class="text-capitalize green darken-4 mt-5"
                      text
                      rounded
                      dark
                      x-large
                      >View loan <v-icon>mdi-chevron-right</v-icon></v-btn
                    >
                  </div>
                </div>
              </v-col>
            </v-row>
          </div>
        </v-container>
      </div>
    </v-container>
  </div>
</template>

<script>
import { useDAOSStore } from "@/stores/daos";
// import idl from "@/idl/idl.json";
// import { Connection, PublicKey, clusterApiUrl } from "@solana/web3.js";
// import {
//   Program,
//   AnchorProvider,
//   web3,
//   utils,
//   BN,
// } from "@project-serum/anchor";
// import { Buffer } from "buffer";
//window.Buffer = Buffer

export default {
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  data: () => ({
    // programID: new PublicKey(idl.metadata.address),
    // network: clusterApiUrl("devnet"),
    // opts: {
    //   preflightCommitment: "processed",
    // },
    types: ["Places to Be", "Places to See"],
    // cards: ["Good", "Best", "Finest"],
    socials: [
      {
        icon: "mdi-facebook",
        color: "indigo",
      },
      {
        icon: "mdi-linkedin",
        color: "cyan darken-1",
      },
      {
        icon: "mdi-instagram",
        color: "red lighten-3",
      },
    ],
  }),
  computed: {
    getDAOById() {
      let res = this.daosStore.getDAOById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getDAOs() {
      return this.daosStore.categories;
    },
    getCharity() {
      return this.daosStore.charity;
    },
    getCommunity() {
      return this.daosStore.community;
    },
    getOrganization() {
      return this.daosStore.organization;
    },
    getRefugee() {
      return this.daosStore.refugee;
    },
  },
  methods: {
    getImage() {
      const min = 550;
      const max = 560;

      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    // getProvider() {
    //   const connection = new Connection(network, opts.preflightCommitment);
    //   const provider = new AnchorProvider(
    //     connection,
    //     window.solana,
    //     opts.preflightCommitment
    //   );
    //   return provider;
    // },
    // async createCampaign() {
    //   const { SystemProgram } = web3;
    //   // seeds=[b"CAMPAIGN_DEMO".as_ref(), user.key().as_ref()], bump)]
    //   try {
    //     const provider = getProvider();
    //     const program = new Program(idl, programID, provider);
    //     const [campaign] = await PublicKey.findProgramAddress(
    //       [
    //         utils.bytes.utf8.encode("CAMPAIGN_DEMO"),
    //         provider.wallet.publicKey.toBuffer(),
    //       ],
    //       program.programId
    //     );
    //     await program.rpc.create(
    //       "campaign name",
    //       "campaign description",
    //       "campaign hash",
    //       {
    //         accounts: {
    //           campaign,
    //           user: provider.wallet.publicKey,
    //           SystemProgram: SystemProgram.programId,
    //         },
    //       }
    //     );
    //     console.log(
    //       "Created a new campaign with address:",
    //       campaign.toString()
    //     );
    //   } catch (error) {
    //     console.error(error);
    //   }
    // },
  },
};
</script>
