<template>
  <div>
    <StreamBarcodeReader
      @decode="onDecode"
      @loaded="onLoaded"
    ></StreamBarcodeReader>
    <h2>The decoded value in QR/barcode is</h2>
    <h2>{{ decodedText }}</h2>
  </div>
</template>

<script>
import { StreamBarcodeReader } from "vue-barcode-reader";

export default {
  name: "CameraScanner",
  components: {
    StreamBarcodeReader,
  },
  data() {
    return {
      decodedText: "",
    };
  },
  methods: {
    onDecode(result) {
      console.log(result);
      this.decodedText = result;
    },
    onLoaded() {
      console.log("loaded");
    },
  },
};
</script>
