<template>
<div>
  <v-bottom-navigation
  class="pr-2"
    color="green"
    grow
    app
  >
    <v-btn to="/pwa/customer" exact>
      <span>Dashboard</span>

      <v-icon>mdi-view-dashboard</v-icon>
    </v-btn>

    <v-btn to="/pwa/customer/loan-application" exact>
      <span>apply for loan</span>

      <v-icon>mdi-cash</v-icon>
    </v-btn>

    <v-btn to="/pwa/customer/loans" exact>
      <span>Loans</span>

      <v-icon>mdi-clipboard-text-clock-outline
</v-icon>
    </v-btn>

    <v-btn to="">
      <span>More</span>

      <v-icon>mdi-more</v-icon>
    </v-btn>
  </v-bottom-navigation>
  </div>
</template>
<script>
  export default {
    
  }
</script>