<template>
  <div class="pa-5">
    <v-speed-dial
      style="margin-bottom: 500px; margin-right: 120px"
      fixed
      v-model="fab"
      :top="top"
      :bottom="bottom"
      :right="right"
      :direction="direction"
      :open-on-hover="hover"
      :transition="transition"
    >
      <template v-slot:activator>
        <v-btn
          icon
          v-model="fab"
          fab
          dark
          large
          class="fab"
          style="background-color:#12395b; margin-bottom: 70px"
          fixed
          right
          bottom
        >
          <v-icon class="font-weight-bold" large>mdi-cash</v-icon>
        </v-btn>
      </template>
    </v-speed-dial>
  </div>
</template>

<script>
export default {
  data() {
    return {
      direction: "bottom",
      fab: false,
      fling: false,
      hover: true,
      tabs: null,
      top: false,
      right: true,
      bottom: true,
      transition: "slide-y-reverse-transition",
    };
  },
};
</script>

<style></style>
