<template>
  <div class="mt-16">
    <v-container>
      <v-layout row wrap>
        <v-flex
          xs5
          sm5
          md3
          lg3
          xl3
          class="ma-4 mb-2"
          v-for="item in pwa"
                :key="item.id"
        >
        <v-card outlined class="pa-3 mt-10" link :to="item.link">
                  <v-img contain :src="item.src" />
                  <v-card-title class="font-weight-bold">{{
                    item.title
                  }}</v-card-title>
                  <v-card-text class="text-left">{{
                    item.description
                  }}</v-card-text>
                </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>

export default {
  components: {  },
    data() {
    return {
      privatePractice: [
        {
          id: 1,
          title: "Clearprice",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/patient",
        },
      ],
      pwa: [
          {
          id: 3,
          title: "Clearprice",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit.",
          link: "/pwa/patient",
        },
      ],
      admin: [
        {
          id: 2,
          title: "Admin",
          src: require("@/assets/admin.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/admin",
        },
      ],
    };
  },
}
</script>

<style>

</style>