<template>
  <div>
    <v-app-bar class="d-sm-none .d-md-flex" fixed flat height="80">
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
      <v-spacer />
      <router-link to="/">
        <img contain src="@/assets/openlending_logo.png" class="" height="40" />
      </router-link>
      <v-spacer />
      <v-avatar size="35px" class="grey lighten-1"><v-img src="@/assets/avatar1.png"></v-img></v-avatar>
    </v-app-bar>

    <v-navigation-drawer mobile-breakpoint=""  dark v-model="drawer" absolute temporary>
      <v-list nav dense>
        <v-list-item link to="/">
          <v-list-item-title>Home</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/pwa/customer">
          <v-list-item-title>Dashboard</v-list-item-title>
        </v-list-item>

        <v-list-item link to="/pwa/loan-application">
          <v-list-item-title>Apply for loan</v-list-item-title>
        </v-list-item>

        <v-list-item link>
          <v-list-item-title>More</v-list-item-title>
        </v-list-item>

        <v-list-item link>
          <v-list-item-title>Help</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
  }),
};
</script>

<style></style>
