<template>
  <div>
    <MobNav />
    <MobBottomNav />
    <v-container>
      <v-layout row wrap>
        <v-flex xs12>
          <v-img
            class="pa-16"
            height="150vh"
            src="@/assets/hero1.jpg"
            gradient="to top right, rgba(16, 16, 17, 0.33), rgba(27, 27, 29, 0.7)"
          >
            <v-layout row wrap class="pt-16 pa-2">
              <v-flex xs12 class="text-center">
                <h1 class="white--text">Welcome to fast, easy lending</h1>
                <div class="mt-10">
                  <v-card
                    to="/pwa/customer"
                    tile
                    flat
                    class="pa-8 mt-5"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h3 class="text-left">
                          <v-icon class="mb-2 mr-2"
                            >mdi-credit-card-outline</v-icon
                          >Personal Loan
                        </h3>
                        <h4 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h4>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>

                  <v-card
                    to="/pwa/customer"
                    tile
                    flat
                    class="pa-8 mt-5"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h3 class="text-left">
                          <v-icon class="mb-2 mr-2"
                            >mdi-cash</v-icon
                          >Business Loan
                        </h3>
                        <h4 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h4>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>

                  <v-card
                    to="/pwa/customer"
                    tile
                    flat
                    class="pa-8 mt-5"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h3 class="text-left">
                          <v-icon class="mb-2 mr-2"
                            >mdi-car</v-icon
                          >Auto Loan
                        </h3>
                        <h4 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h4>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>

                  <v-card
                    to="/pwa/customer"
                    tile
                    flat
                    class="pa-8 mt-5"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h3 class="text-left">
                          <v-icon class="mb-2 mr-2"
                            >mdi-home-group</v-icon
                          >Real Estate Loan
                        </h3>
                        <h4 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h4>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
                </div>
              </v-flex>
            </v-layout>
          </v-img>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import MobBottomNav from "./MobBottomNav.vue";
import MobNav from "./MobNav.vue";
export default {
  components: { MobNav, MobBottomNav },
};
</script>

<style></style>
