<template>
  <div>
    <DashDao />
    <div>
       <DashBoard />
    </div>
  </div>
</template>

<script>
import DashBoard from '../../components/DashBoard.vue'
import DashDao from '../../components/DashDao.vue'
export default {
  components: { DashBoard, DashDao },

}
</script>

<style>

</style>