<template>
  <div>
    <DashDao />
    <div class="pa-8 yellow darken-2">
      <div class="pa-5"></div>
      <v-row class="">
        <v-spacer />
        <v-col cols="12" lg="10" xl="10" class="white--text text-center">
          <div>
            <h1 class="text-h3 font-weight-bold">Raiseblock Dashboard</h1>
            <h1 class="text-h5 mt-6">
              Our mission is to fuel creative literary pursuits in blockchain,
              the metaverse and beyond.
            </h1>
          </div>
        </v-col>
        <v-spacer />
      </v-row>
      <v-row class="pb-5">
        <v-spacer />
        <v-col cols="12"  lg="1" xl="1">
          <v-btn to="/dashboard/app" x-large block light class="text-capitalize text-h6 grey lighten-3 font-weight-bold rounded-lg" text>Try App</v-btn>
        </v-col>
        <v-spacer />
      </v-row>
    </div>

    <div>
      <v-container>
      <v-row class="pa-10">
        <v-col cols="12" lg="4" xl="3" v-for="(card, index) in cards"
          :key="index">
          <v-card link flat class="text-center">
            <v-avatar size="200">
            <v-img contain :src="card.src"></v-img>
            </v-avatar>
            <h1>{{card.name}}</h1>
            <v-card-text>{{card.description}}
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      </v-container>
    </div>

    <Float />
  </div>
</template>

<script>
import Float from "../../components/Float.vue";
import DashDao from '../../components/DashDao.vue';
export default {
  components: {
    Float,
    DashDao,
  },
  data() {
    return {
      cards:[
        {
          name:"Shared Treasury",
          src:require('@/assets/treasury.webp'),
          description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illum commodi cupiditate quisquam magni molestias, voluptate odit vitae sint ex cum, temporibus tempore enim repellendus inventore voluptatum laboriosam quae exercitationem.",
        },
        {
          name:"Voting & Proposals",
          src:require('@/assets/proposal.webp'),
          description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illum commodi cupiditate quisquam magni molestias, voluptate odit vitae sint ex cum, temporibus tempore enim repellendus inventore voluptatum laboriosam quae exercitationem.",
        },
        {
          name:"Social Media",
          src:require('@/assets/membership.webp'),
          description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illum commodi cupiditate quisquam magni molestias, voluptate odit vitae sint ex cum, temporibus tempore enim repellendus inventore voluptatum laboriosam quae exercitationem.",
        },
        {
          name:"Membership",
          src:require('@/assets/membership.webp'),
          description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illum commodi cupiditate quisquam magni molestias, voluptate odit vitae sint ex cum, temporibus tempore enim repellendus inventore voluptatum laboriosam quae exercitationem.",
        },
        {
          name:"Group Chat",
          src:require('@/assets/groupchat.webp'),
          description:"Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque illum commodi cupiditate quisquam magni molestias, voluptate odit vitae sint ex cum, temporibus tempore enim repellendus inventore voluptatum laboriosam quae exercitationem.",
        },

      ]
    };
  },
};
</script>

<style></style>
