<template>
  <div>
    <NavDao />
    <div class="mt-5">
      <v-container>
        <v-row>
          <v-col cols="12" lg="1" xl="2"> </v-col>
          <v-col cols="12" lg="1" xl="1" class="mt-10">
            <SideBar />
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="12" lg="7" xl="6" class="">
            <h4>Referenda</h4>
            <v-row>
                <!-- proposals -->
              <v-col
                cols="12"
                lg="4"
                xl="4"
              >
                <v-card outlined class="pa-5 mt-5">
                  <v-row>
                    <v-col cols="12" lg="12" xl="12">
                      <h5 class="grey--text">PROPOSALS</h5>
                      <h5 v-for="dao in getDemocracy" :key="dao.id" class="">
                        {{ dao.proposals }} / <span class="grey--text">48</span>
                      </h5>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
              <!-- Referenda -->
              <v-col
                cols="12"
                lg="4"
                xl="4"
              >
                <v-card outlined class="pa-5 mt-5">
                  <v-row>
                    <v-col cols="12" lg="12" xl="12">
                      <h5 class="grey--text">REFERENDA</h5>
                      <h5 v-for="dao in getDemocracy" :key="dao.id" class="">
                        {{ dao.referenda }} / <span class="grey--text">46</span>
                      </h5>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
              <!-- Launch Period -->
              <v-col
                cols="12"
                lg="4"
                xl="4"
              >
                <v-card outlined class="pa-5 mt-5">
                  <v-row>
                    <v-col cols="12" lg="12" xl="12">
                      <h5 class="grey--text">LAUNCH PERIOD</h5>
                      <h5 v-for="dao in getDemocracy" :key="dao.id" class="">
                        {{ dao.launch }}
                      </h5>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
            <v-card
              outlined
              hover
              link
              class="pa-2 mt-3 py-0"
              v-for="dao in getReferenda"
              :key="dao.id"
            >
              <v-card-title
                ><h6 class="font-weight-medium">
                  #{{ dao.id }} . {{ dao.title }}
                </h6>
                <v-spacer></v-spacer>
                <h6 class="font-weight-medium">
                  {{ dao.kint }} <span class="grey--text"> KINT</span>
                </h6>
              </v-card-title>
              <v-divider></v-divider>
              <v-card-title
                ><v-avatar size="25" class="blue"
                  ><v-img :src="dao.src" contain></v-img
                ></v-avatar>
                <h6 class="font-weight-regular ml-5">{{ dao.address }}</h6>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chart-timeline-variant</v-icon>
                  {{ dao.days }} ago
                </h5>
                <h5 class="font-weight-regular grey--text ml-8">
                  <v-icon>mdi-chat-processing-outline</v-icon>
                  {{ dao.comment }}
                </h5>
                <v-spacer></v-spacer>
                <v-chip label :class="dao.color" dark small>{{
                  dao.status
                }}</v-chip>
              </v-card-title>
            </v-card>
          </v-col>
          <v-col cols="12" lg="1" xl="2"> </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script>
import NavDao from "../../../../components/NavDao.vue";
import SideBar from "../../../../components/SideBar.vue";
import { useDAOSStore } from "@/stores/daos";
export default {
  components: { SideBar, NavDao },
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  data() {
    return {
      cards: [
        {
          title: "PROPOSALS",
        },
        {
          title: "REFERENDA",
        },
        {
          title: "LAUNCH PERIOD",
        },
      ],
    };
  },
  computed: {
    getDISCUSSIONById() {
      let res = this.daosStore.getDISCUSSIONById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
      console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.daosStore.root + "/setup";
    },
    getDiscussion() {
      return this.daosStore.discussion;
    },
    getDemocracy() {
      return this.daosStore.democracy;
    },
    getReferenda() {
      return this.daosStore.referenda;
    },
  },
};
</script>

<style></style>
