<template>
  <div>
    <NavDao />
    <v-row>
      <v-col cols="12" lg="2" xl="2">
        <v-card outlined>
          <v-navigation-drawer permanent width="450" height="90vh">
            <v-list nav dense>
              <v-list-item-content>
                <v-list-item-title class="text-h4"
                  >Participants
                  <v-chip label color="black" dark>0</v-chip></v-list-item-title
                >
              </v-list-item-content>
              <v-list-item
                active-class="deep-purple--text text--accent-4"
                v-for="item in participants"
                :key="item.title"
                link
                :to="item.link"
              >
                <v-list-item-title class="mt-3">{{
                  item.title
                }}</v-list-item-title>
              </v-list-item>
              <v-divider class="mt-5"></v-divider>
            </v-list>
          </v-navigation-drawer>
        </v-card>
      </v-col>
      <!-- Join buttons and video control buttons -->
      <v-col cols="12" lg="7" xl="7" class="text-center">
        <div class="text-left">
          <v-btn text class="mt-5" to="/dao/app"><v-icon class="mr-2">mdi-arrow-left</v-icon>Go back</v-btn>
        </div>
        <div class="pt-16">
          <v-row>
            <v-spacer></v-spacer>
            <v-card
              v-if="video"
              class="mt-16"
              outlined
              width="500"
              style="border-radius: 50%; border-color: blue"
              height="500"
            ></v-card>
            <v-card
              class="mt-16"
                flat
              width="0"
              height="500"
            ></v-card>
            <v-spacer></v-spacer>
          </v-row>
        </div>
        <div style="margin-top: 30vh" v-show="joinBtn">
          <v-btn
            x-large
            height="8vh"
            width="15vw"
            class="purple text-h4 font-weight-bold"
            dark
            @click="(joinBtn = false), (controls = true), (video = true)"
          >
            Join Stream</v-btn
          >
        </div>

        <div style="margin-top: 30vh" v-show="controls">
          <v-btn @click="video = !video" height="6vh" x-large outlined class="ma-2"
            ><v-icon large>mdi-camera-outline</v-icon></v-btn
          >
          <v-btn height="6vh" x-large outlined class="ma-2"
            ><v-icon large>mdi-microphone-outline</v-icon></v-btn
          >
          <v-btn height="6vh" x-large outlined class="ma-2"
            ><v-icon large>mdi-television</v-icon></v-btn
          >
          <v-btn
            height="6vh"
            x-large
            outlined
            class="ma-2 red"
            dark
            @click="joinBtn = true , video = false , controls = false"
            ><v-icon large>mdi-logout</v-icon></v-btn
          >
        </div>
      </v-col>
      <v-col cols="12" lg="3" xl="3">
        <v-card outlined>
          <v-navigation-drawer permanent width="670" height="90vh">
            <v-list nav dense>
              <v-list-item-content>
                <v-list-item-title class="text-h4">Chat </v-list-item-title>
              </v-list-item-content>
              <v-list-item
                active-class="deep-purple--text text--accent-4"
                v-for="item in participants"
                :key="item.title"
                link
                :to="item.link"
              >
                <v-list-item-title class="mt-3">{{
                  item.title
                }}</v-list-item-title>
              </v-list-item>
              <v-divider class="mt-5"></v-divider>
            </v-list>
            <template v-slot:append>
        <div class="pa-2">
          <v-text-field outlined placeholder="Send a message...."></v-text-field>
        </div>
      </template>
          </v-navigation-drawer>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { useDAOSStore } from "@/stores/daos";
import NavDao from '../../../../components/NavDao.vue'
export default {
  setup() {
    const daosStore = useDAOSStore();

    return { daosStore };
  },
  components: { NavDao },
  data() {
    return {
      joinBtn: true,
      controls: false,
      video: false,

      participants: [
        
      ],
    };
  },
}
</script>

<style>

</style>