<template>
  <div class="auth">
    <v-row>
      <v-col cols="12" lg="3" xl="3">
        <v-img height="100" width="400" src="@/assets/raiseblockdefault.png">
        </v-img>
      </v-col>
    </v-row>
    <v-container class="text-center">
      <v-row>
        <v-col cols="12">
          <div
            class="text-h5 teal--text text--darken-4 font-weight-bold text-center pt-15 pb-2"
          >
            Sign In
          </div>
          <h4 class="font-weight-regular teal--text text--darken-4">
            You can quickly access our app with your public address
          </h4>
        </v-col>
      </v-row>

      <v-row class="mt-8">
        <v-spacer></v-spacer>
        <v-col cols="12" lg="4" xl="4">
          <v-text-field
            label="Enter Public Key"
            background-color="grey lighten-3"
            flat
            solo
            ><template #append>
              <v-btn icon text>
                <v-menu open-on-hover bottom-right>
                  <template v-slot:activator="{ on, attrs }">
                    <v-icon v-bind="attrs" v-on="on"
                      >mdi-information-outline</v-icon
                    >
                  </template>
                  <v-card width="440" class="pa-2 px-6">
                  By signing in with a public address, you will not be able to
                  save activity on our Contacts, Wallets,and Documents page. To
                  do, please sign in with your Browser Wallet.
                  </v-card>
                </v-menu>
              </v-btn>
            </template>
          </v-text-field>
          <v-row>
            <v-spacer></v-spacer>
            <v-col cols="12" lg="12" xl="12">
              <v-btn class="teal darken-4" text dark block x-large>start</v-btn>
            </v-col>
            <v-spacer></v-spacer>
          </v-row>
        </v-col>
        <v-spacer></v-spacer>
      </v-row>

      <v-row>
        <v-col cols="12">
          <v-responsive class="mx-auto" max-width="70%" width="550px">
            <v-row wrap no-gutters>
              <v-col cols="12" lg="5" xl="5" class="text-center mt-2">
                <v-divider />
              </v-col>
              <v-col cols="12" lg="2" xl="2" class="text-center">Or</v-col>
              <v-col cols="12" lg="5" xl="5" class="text-center mt-2">
                <v-divider />
              </v-col>
            </v-row>
          </v-responsive>
        </v-col>

        <v-col cols="12">
          <div class="text-center">
            <v-dialog v-model="dialog" max-width="700px">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="ma-2 text-capitalize"
                  outlined
                  color="teal"
                  v-bind="attrs"
                  v-on="on"
                  x-large
                >
                  Connect Wallet <v-icon class="ml-16">fas fa-wallet</v-icon>
                </v-btn>
              </template>
              <v-card class="rounded-lg">
                <v-card-title>
                  <span>Connect to a wallet</span>
                  <v-spacer></v-spacer>
                  <v-btn icon @click="dialog = false">
                    <v-icon>fa-solid fa-xmark</v-icon>
                  </v-btn>
                </v-card-title>

                <v-card-text>
                  <v-row>
                    <v-col cols="12" lg="6" xl="6">
                      <v-card
                        @click="dialog = false"
                        link
                        class="pa-10 pb-1 grey lighten-4 rounded-xl"
                        outlined
                      >
                        <v-row>
                          <v-col cols="12" lg="12" xl="12" class="text-center">
                            <v-icon size="50px">mdi-access-point</v-icon>
                            <h3
                              class="font-weight-medium teal--text text--darken-4 mt-10"
                            >
                              MetaMask
                            </h3>
                            <h4
                              class="font-weight-regular teal--text text--darken-4 mt-5"
                            >
                              Connect to your MetaMask Wallet
                            </h4>
                            <h6
                              class="font-weight-regular teal--text text--darken-4 mt-8"
                            >
                              Dont have a MetaMask wallet?
                              <a class="teal--text text--darken-4" href=""
                                >Download</a
                              >
                            </h6>
                          </v-col>
                        </v-row>
                      </v-card>
                    </v-col>

                    <v-col cols="12" lg="6" xl="6">
                      <v-card
                        @click="dialog = false"
                        link
                        class="pa-10 grey lighten-4 rounded-xl"
                        outlined
                      >
                        <v-row>
                          <v-col cols="12" lg="12" xl="12" class="text-center">
                            <v-icon size="50px">mdi-access-point</v-icon>
                            <h3
                              class="font-weight-medium teal--text text--darken-4 mt-10"
                            >
                              WalletConnect
                            </h3>
                            <h4
                              class="font-weight-regular teal--text text--darken-4 mt-5"
                            >
                              Choose your preferred wallet available in
                              WalletConnect
                            </h4>
                          </v-col>
                        </v-row>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-dialog>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <!-- <div class="pa-16"></div>
    <div class="pa-10"></div> -->
    <v-footer color="transparent" app>
      <v-row class="pa-7" no-gutters>
        <v-col cols="12" lg="4" xl="2" class="pa-6 mt-1">
          <v-img src="@/assets/mascot_smiling.svg"></v-img>
        </v-col>
        <v-col cols="12" lg="7" xl="9" class="pa-6 pt-10 mt-1">
          <div class="pa-16"></div>
          <div class="pa-16"></div>
          <v-divider class="mt-16"></v-divider>
          <h4 class="font-weight-regular text-right">
            © 2022 All rights reserved
          </h4>
        </v-col>
      </v-row>
    </v-footer>
  </div>
</template>

<script>
import { useAccountStore } from "@/stores/account";
import Web3 from "web3";
import { ethers } from "ethers";

import Web3Modal from "web3modal";
import CoinbaseWalletSDK from "@coinbase/wallet-sdk";
import WalletConnectProvider from "@walletconnect/web3-provider";

import { stringify } from "flatted";

export default {
  setup() {
    const accountStore = useAccountStore();

    return { accountStore };
  },
  name: "auth",
  components: {},
  data() {
    return {
      publicAddress: "",
      select: { name: "Optimism Kovan", chain: "69" },
      items: [
        { name: "Optimism Kovan", chain: "69" },
        { name: "Mumbai", chain: "80001" },
      ],
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      walletAddress: "",
      shortWalletAddress: "",
      provider: undefined,
      library: undefined,
      network: undefined,
      chainId: "",
      accounts: [],
    };
  },
  methods: {
    updateAddress() {
      console.log(
        ` NavBar #157 - Whole Account Store Information: ${stringify(
          this.accountStore.walletAddress
        )}`
      );
    },
    truncateAddress(address) {
      if (!address) return "No Account";
      const match = address.match(
        /^(0x[a-zA-Z0-9]{4})[a-zA-Z0-9]+([a-zA-Z0-9]{4})$/
      );
      if (!match) return address;
      return `${match[1]}…${match[2]}`;
    },
    async handleChainChanged(chainId) {
      console.log(` - Chain ID changed from ${this.accountStore.chainId}`);
      this.accountStore.chainId = chainId;
      console.log(
        ` - Chain ID changed from ${chainId} to: ${this.accountStore.chainId}`
      );

      const provider = window.ethereum;
      const library = new ethers.providers.Web3Provider(window.ethereum);
      const accounts = await library.listAccounts();
      //const accounts = await provider.enable()
      const network = await library.getNetwork();
      this.accountStore.provider = provider;
      this.accountStore.library = library;
      //console.log(` - account #82: ${accounts}`)
      if (accounts) {
        this.accountStore.walletAddress = accounts[0];
        this.accountStore.shortWalletAddress = this.truncateAddress(
          accounts[0]
        );
        this.accountStore.accounts = accounts;
      }

      this.accountStore.chainId = network.chainId;
      this.accountStore.network = network;
      this.accountStore.isConnected = true;

      if (this.accountStore.chainId == 80001) {
        this.accountStore.nativeCurrency = "MATIC";
      } else {
        this.accountStore.nativeCurrency = "ETH";
      }

      console.log(` Auth- chainId: ${this.accountStore.chainId}`);
      console.log(` Auth - network: ${this.accountStore.network}`);
      console.log(
        ` Auth - walletAddress #59 ${this.accountStore.walletAddress}`
      );
    },
    async handleAccountsChanged(accounts) {
      console.log(` NavBar #64 - Accounts changed from ${accounts}`);
      console.log(` - Accounts changed from ${accounts}`);
      if (accounts) {
        this.accountStore.walletAddress = accounts[0];
        this.accountStore.shortWalletAddress =
          this.accountStore.truncateAddress(accounts[0]);
      }
      console.log(` - to: ${this.accountStore.walletAddress}`);
    },
    async handleDisconnect() {
      await this.accountStore.disconnect;
    },
  },
  created: function () {
    window.ethereum.on("chainChanged", this.handleChainChanged);
    window.ethereum.on("accountsChanged", this.handleAccountsChanged);
    window.ethereum.on("disconnect", this.handleDisconnect);
  },
  destroyed: function () {
    window.ethereum.removeListener("chainChanged", this.handleChainChanged);
    window.ethereum.removeListener(
      "accountsChanged",
      this.handleAccountsChanged
    );
    window.ethereum.removeListener("disconnect", this.handleDisconnect);
  },
};
</script>
