<template>
  <!-- <div
    class="console"
    v-if="
      accountStore.walletAddress !== undefined &&
      accountStore.chainId !== undefined
    "
  > -->
  <div class="console">
    <!-- Hero Section -->
    <div>
      <v-row>
        <v-img height="500px" src="@/assets/console.jpeg">
          <v-container>
            <v-app-bar flat color="rgba(0, 0, 0, 0)">
              <v-spacer></v-spacer>

              <v-img
                class="mx-6 mt-10"
                src="@/assets/profile.png"
                max-height="300"
                max-width="300"
                contain
              ></v-img>

              <v-spacer></v-spacer>

              <v-btn color="white" icon>
                <v-icon>mdi-dots-vertical</v-icon>
              </v-btn>
            </v-app-bar>
          </v-container>

          <!-- p class="ml-3 mt-7">RaiseBlock</p> -->
        </v-img>
      </v-row>
    </div>

    <!-- Authentication -->
    <div></div>

    <!-- Application Modules -->
    <div>
      <v-row>
        <v-spacer />
        <v-col
          cols="12"
          lg="2"
          xl="2"
          class="d-flex justify-center mt-15"
          v-for="(card, index) in cards"
          :key="index"
        >
          <v-card :to="card.to" class="mx-4" flat color="transparent">
            <v-avatar size="250" style="border: solid grey 1px;">
              <v-img :src="card.src"></v-img>
            </v-avatar>
            <v-card-actions class="white justify-center">
              <v-btn class="text-h4" text x-large :to="card.to">
                {{ card.title }}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
        <v-spacer />
      </v-row>
      <float />
    </div>
  </div>
  <!-- <div v-else>
    <auth />
  </div> -->
</template>

<script>
import { useAccountStore } from '@/stores/account'
import auth from './auth'
import Float from '../components/Float.vue'

export default {
  setup() {
    const accountStore = useAccountStore()

    return { accountStore }
  },
  components: {
    Float,
    auth,
  },
  data: () => ({
    cards: [
      {
        title: 'DASHBOARD',
        src: require('@/assets/dashboard.webp'),
        to: '/dashboard',
      },
      {
        title: 'CrowdLoan',
        src: require('@/assets/fundraise.jpg'),
        to: '/lending',
      },
      {
        title: 'DAO',
        src: require('@/assets/dao.webp'),
        to: '/dao',
      },
      {
        title: 'Crowdfund',
        src: require('@/assets/fundraise.jpg'),
        to: '/crowdfund',
      },
    ],
  }),
  // created() {
  //   if(this.accountStore.walletAddress == undefined &&
  //     this.accountStore.chainId == undefined) {
  //       this.$router.push({ path: '/auth', replace: true })
  //   }
    
  // }
}
</script>
