<template>
  <div>
    <NavBar class="d-none d-md-flex .d-lg-none" />
    <!-- Hero -->
    <PwaCalls class="d-sm-none .d-md-flex" />
    <div class="d-none d-md-flex .d-lg-none">
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <v-img
            height="550px"
            src="@/assets/greener.jpg"
            gradient="to top right, rgba(16, 16, 17, 0.33), rgba(27, 27, 29, 0.7)"
          >
          </v-img>
          <v-row>
            <v-col cols="12" lg="12" xl="12">
              <v-card link to="" dark flat tile color="#12395b" class="pa-4">
                <v-container>
                  <v-row>
                    <v-spacer />
                    <v-col cols="12" lg="12" xl="8">
                      <h3>Read Our Story</h3>
                    </v-col>
                    <v-spacer />
                  </v-row>
                </v-container>
              </v-card>
              <v-card link to="" dark flat tile color="#badcf9" class="pa-4">
                <v-container>
                  <v-row>
                    <v-spacer />
                    <v-col cols="12" lg="12" xl="8">
                      <h3 style="color: #12395b">Download App</h3>
                    </v-col>
                    <v-spacer />
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>

    <!-- Next Section -->
    <div class="mt-8 pb-10 d-none d-md-flex .d-lg-none">
      <v-container>
        <v-row>
          <v-spacer />
          <v-col cols="12" lg="12" xl="8">
            <!-- Tabs -->
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <v-btn
                  rounded
                  style="background-color: #12395b"
                  x-large
                  dark
                  class="text-capitalize"
                  text
                  v-show="consumer"
                  >Consumer</v-btn
                >
                <v-btn
                  v-show="lconsumer"
                  rounded
                  x-large
                  light
                  class="text-capitalize"
                  text
                  @click="
                    (consumer = true),
                      (driver = false),
                      (merchant = false),
                      (enterprise = false),
                      (lconsumer = false),
                      (ldriver = true),
                      (lmerchant = true),
                      (lenterprise = true)
                  "
                  >Consumer</v-btn
                >
                <v-btn
                  rounded
                  style="background-color: #12395b"
                  x-large
                  dark
                  class="text-capitalize ml-3"
                  text
                  v-show="driver"
                  >Driver</v-btn
                >
                <v-btn
                  v-show="ldriver"
                  rounded
                  x-large
                  light
                  class="text-capitalize ml-3"
                  text
                  @click="
                    (consumer = false),
                      (driver = true),
                      (merchant = false),
                      (enterprise = false),
                      (lconsumer = true),
                      (ldriver = false),
                      (lmerchant = true),
                      (lenterprise = true)
                  "
                  >Driver</v-btn
                >
                <v-btn
                  rounded
                  style="background-color: #12395b"
                  x-large
                  dark
                  class="text-capitalize ml-3"
                  text
                  v-show="merchant"
                  >Merchant</v-btn
                >
                <v-btn
                  v-show="lmerchant"
                  rounded
                  x-large
                  light
                  class="text-capitalize ml-3"
                  text
                  @click="
                    (consumer = false),
                      (driver = false),
                      (merchant = true),
                      (enterprise = false),
                      (lconsumer = true),
                      (ldriver = true),
                      (lmerchant = false),
                      (lenterprise = true)
                  "
                  >Merchant</v-btn
                >
                <v-btn
                  rounded
                  style="background-color: #12395b"
                  x-large
                  dark
                  class="text-capitalize ml-3"
                  text
                  v-show="enterprise"
                  >Enterprise</v-btn
                >
                <v-btn
                  v-show="lenterprise"
                  rounded
                  x-large
                  light
                  class="text-capitalize ml-3"
                  text
                  @click="
                    (consumer = false),
                      (driver = false),
                      (merchant = false),
                      (enterprise = true),
                      (lconsumer = true),
                      (ldriver = true),
                      (lmerchant = true),
                      (lenterprise = false)
                  "
                  >Enterprise</v-btn
                >
              </v-col>
            </v-row>
            <v-divider class="mt-5"></v-divider>

            <!-- Tab Items -->
            <!-- Consumer -->
            <v-row class="mt-5" v-show="consumer">
              <v-col
                cols="12"
                lg="4"
                xl="4"
                class="text-center"
                v-for="item in consumers"
                :key="item.id"
              >
                <v-card outlined class="pa-3" link :to="item.link">
                  <v-img contain height="160" :src="item.src" />
                  <v-card-title class="font-weight-bold">{{
                    item.title
                  }}</v-card-title>
                  <v-card-text class="text-left">{{
                    item.description
                  }}</v-card-text>
                </v-card>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>

            <!-- Driver -->
            <v-row class="mt-5" v-show="driver">
              <v-col
                cols="12"
                lg="4"
                xl="4"
                class="text-center"
                v-for="item in drivers"
                :key="item.id"
              >
                <v-card outlined class="pa-3" link :to="item.link">
                  <v-img contain height="160" :src="item.src" />
                  <v-card-title class="font-weight-bold">{{
                    item.title
                  }}</v-card-title>
                  <v-card-text class="text-left">{{
                    item.description
                  }}</v-card-text>
                </v-card>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>

            <!-- Merchant -->
            <v-row class="mt-5" v-show="merchant">
              <v-col
                cols="12"
                lg="4"
                xl="4"
                class="text-center"
                v-for="item in merchants"
                :key="item.id"
              >
                <v-card outlined class="pa-3" link :to="item.link">
                  <v-img contain height="160" :src="item.src" />
                  <v-card-title class="font-weight-bold">{{
                    item.title
                  }}</v-card-title>
                  <v-card-text class="text-left">{{
                    item.description
                  }}</v-card-text>
                </v-card>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>

            <!-- Enterprise -->
            <v-row class="mt-5" v-show="enterprise">
              <v-col
                cols="12"
                lg="4"
                xl="4"
                class="text-center"
                v-for="item in enterprises"
                :key="item.id"
              >
                <v-card outlined class="pa-3" link :to="item.link">
                  <v-img contain height="160" :src="item.src" />
                  <v-card-title class="font-weight-bold">{{
                    item.title
                  }}</v-card-title>
                  <v-card-text class="text-left">{{
                    item.description
                  }}</v-card-text>
                </v-card>
              </v-col>
              <v-spacer></v-spacer>
            </v-row>
          </v-col>
          <v-spacer />
        </v-row>
      </v-container>
    </div>
    
  </div>
</template>

<script>
import NavBar from "../components/NavBar.vue";
import PwaCalls from '../components/pwa/mobile/PwaCalls.vue';
export default {
  name: "Home",
  components: {
    NavBar,
    PwaCalls,
  },
  data() {
    return {
      consumer: true,
      lconsumer: false,
      driver: false,
      ldriver: true,
      merchant: false,
      lmerchant: true,
      enterprise: false,
      lenterprise: true,
      consumers: [
        {
          id: 1,
          title: "Openlending",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut.",
          link: "/customer",
        },
      ],
      drivers: [
        // {
        //   id: 4,
        //   title: "PrivvaDrive",
        //   src: require("@/assets/priva.png"),
        //   description:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut.",
        //   link: "",
        // },
      ],
      merchants: [
        // {
        //   id: 5,
        //   title: "Merchant",
        //   src: require("@/assets/conduit_mark1.png"),
        //   description:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut.",
        //   link: "",
        // },
      ],
      enterprises: [
        // {
        //   id: 6,
        //   title: "Enterprise",
        //   src: require("@/assets/conduit_mark1.png"),
        //   description:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut.",
        //   link: "",
        // },
      ],
    };
  },
};
</script>
