<template>
  <div>
    <HomeNav class="d-none d-md-flex .d-lg-none" />
    <!-- Hero -->
    <PwaHome class="d-sm-none .d-md-flex" />
    <div class="d-none d-md-flex .d-lg-none">
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <v-img
            class="pa-16"
            height="900px"
            src="@/assets/hero1.jpg"
            gradient="to top right, rgba(16, 16, 17, 0.33), rgba(27, 27, 29, 0.7)"
          >
            <v-container>
              <v-row>
                <v-col cols="12" lg="12" xl="12" class="text-center mt-16">
                  <h1 class="white--text mt-16 ma-16 text-h2 font-weight-bold">
                    Welcome to fast, easy lending
                  </h1>
                </v-col>
              </v-row>
              <v-row class="mt-16">
                <v-col cols="12" lg="3" xl="3" class="text-center mt-16">
                  <v-card
                    to="/customer"
                    tile
                    flat
                    class="pa-8"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h2 class="text-left">
                          <v-icon large class="mb-2 mr-2"
                            >mdi-credit-card-outline</v-icon
                          >Personal Loan
                        </h2>
                        <h2 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h2>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>

                <v-col cols="12" lg="3" xl="3" class="text-center mt-16">
                  <v-card
                    to="/customer"
                    tile
                    flat
                    class="pa-8"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h2 class="text-left">
                          <v-icon large class="mb-2 mr-2"
                            >mdi-cash</v-icon
                          >Business Loan
                        </h2>
                        <h2 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h2>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>

                <v-col cols="12" lg="3" xl="3" class="text-center mt-16">
                  <v-card
                    to="/customer"
                    tile
                    flat
                    class="pa-8"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h2 class="text-left">
                          <v-icon large class="mb-2 mr-2"
                            >mdi-car</v-icon
                          >Auto Loan
                        </h2>
                        <h2 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h2>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>

                <v-col cols="12" lg="3" xl="3" class="text-center mt-16">
                  <v-card
                    to="/customer"
                    tile
                    flat
                    class="pa-8"
                    style="background-color: rgba(0, 0, 0, 0.526)"
                    dark
                  >
                    <v-row>
                      <v-col cols="12" lg="12" xl="12" class="text-center">
                        <h2 class="text-left">
                          <v-icon large class="mb-2 mr-2"
                            >mdi-home-group</v-icon
                          >Real Estate Loan
                        </h2>
                        <h2 class="font-weight-light text-left mt-3">
                          Lorem ipsum dolor sit amet consecte adipiscing elit
                          sed do eiusincidunt.
                        </h2>
                        <v-btn tile outlined class="mt-5">Get Started</v-btn>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-col>
              </v-row>
            </v-container>
          </v-img>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import HomeNav from "@/components/HomeNav.vue";
import PwaHome from '../components/pwa/PwaHome.vue';
export default {
  name: "Home",
  components: {
    HomeNav,
    PwaHome,
  },
  data() {
    return {
      consumer: true,
      lconsumer: false,
      driver: false,
      ldriver: true,
      merchant: false,
      lmerchant: true,
      enterprise: false,
      lenterprise: true,
      consumers: [
        {
          id: 1,
          title: "Openlending",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias.",
          link: "/customer",
        },
      ],
      drivers: [
        // {
        //   id: 4,
        //   title: "PrivvaDrive",
        //   src: require("@/assets/priva.png"),
        //   description:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut.",
        //   link: "",
        // },
      ],
      merchants: [
        // {
        //   id: 5,
        //   title: "Merchant",
        //   src: require("@/assets/conduit_mark1.png"),
        //   description:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut.",
        //   link: "",
        // },
      ],
      enterprises: [
        // {
        //   id: 6,
        //   title: "Enterprise",
        //   src: require("@/assets/conduit_mark1.png"),
        //   description:
        //     "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut.",
        //   link: "",
        // },
      ],
    };
  },
};
</script>
<style>
.dff {
  color: rgba(0, 0, 0, 0.526);
}
</style>
