<template>
  <div>
    <v-app-bar height="100" app class="white" flat>
        <v-spacer />
        <v-btn to="/admin/payments/users" large text class="green ml-3" dark><v-icon class="mr-2">mdi-currency-usd</v-icon> Disburse Loan</v-btn>
        <v-btn icon large class="ml-4"><v-icon>mdi-bullhorn-outline</v-icon></v-btn>
         <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <div class="ml-10" v-bind="attrs" v-on="on">
            <div v-show="user1">
              <v-avatar size="30"
                ><v-img src="@/assets/avatar1.png"></v-img
              ></v-avatar>
              <span class="ml-2">Olivia Green (Bank)</span>
              <v-btn icon class=""><v-icon>mdi-chevron-down</v-icon></v-btn>
            </div>
            <div v-show="user2">
              <v-avatar size="30"
                ><v-img src="@/assets/avatar1.png"></v-img  
              ></v-avatar>
              <span class="ml-2">Olivia Green (Bank)</span>
              <v-btn icon class=""><v-icon>mdi-chevron-down</v-icon></v-btn>
            </div>
          </div>
        </template>
        <v-card>
          <v-list class="mt-5">
            <v-list-item
              v-for="profile in getProfile"
              :key="profile.id"
              link
              :to="profile.link"
            >
              <v-list-item-title>
                <v-avatar size="30"
                  ><v-img :src="profile.src"></v-img
                ></v-avatar>
                <span class="ml-2">{{
                  profile.profile
                }} ({{profile.role}})</span></v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
import { useCARTSStore } from "@/stores/carts";
import { usePROFILESStore } from "@/stores/profiles";

export default {
  setup() {
    const cartsStore = useCARTSStore();
    const profilesStore = usePROFILESStore();
    return { cartsStore, profilesStore };
  },
  data(){
    return{
      user1: true,
      user2: false,
   
    }
  },
  computed: {
    getPROFILEById() {
      let res = this.profilesStore.getPROFILEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(
        `_ID Index.vue - #167 PROFILE STORE ID is ${this.profilesStore.id}`
      );
      console.log(`_ID Index.vue - #168 Root is ${this.profilesStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    getProfile() {
      return this.profilesStore.all;
    },
  },
};
</script>

<style>

</style>