<template>
<div>
      <v-card flat>
        <v-container fluid>
          <v-row class="child-flex">
            <div style="flex-basis: 20%">
              <v-toolbar flat dark height="35px">
                <v-spacer></v-spacer>
                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to=""
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2"
                    >mdi-view-carousel-outline</v-icon
                  >
                  All Pools
                </v-btn>

                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to="/crowdfund/oss"
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2">mdi-book-variant</v-icon>
                  OSS Project
                </v-btn>
                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to=""
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2">mdi-book-variant</v-icon>
                  Combat Carbon
                </v-btn>
                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to=""
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2">mdi-book-variant</v-icon>
                  Environment
                </v-btn>
                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to=""
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2">mdi-book-variant</v-icon>
                  Education
                </v-btn>
                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to=""
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2">mdi-book-variant</v-icon>
                  Creator Economy
                </v-btn>
                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to=""
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2">mdi-book-variant</v-icon>
                  Community Fund
                </v-btn>
                <v-btn
                  plain
                  color="white"
                  class="ma-2 white--text"
                  style="text-transform: none"
                  to=""
                  active-class="red--text"
                >
                  <v-icon right dark class="mr-2">mdi-book-variant</v-icon>
                  Other
                </v-btn>
                <v-spacer></v-spacer>
              </v-toolbar>
            </div>
          </v-row>
        </v-container>
      </v-card>
    </div>
</template>

<script>
export default {

}
</script>

<style>

</style>