<template>
  <div>
    <v-app-bar flat height="90" app>
      <router-link to="/">
        <img
          src="@/assets/openlending_logo.png"
          class="ml-10"
          height="60"
        />
      </router-link>
      <v-spacer></v-spacer>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
      <v-text-field
        rounded
        filled
        background-color="white"
        dense
        class="mt-5"
        placeholder="Search..."
        prepend-inner-icon="mdi-magnify"
      ></v-text-field>
      <v-spacer></v-spacer>
      <v-btn class="text-capitalize blue--text" outlined dark rounded
        >Create <v-icon>mdi-chevron-down</v-icon></v-btn
      >
      <h3>
        <v-btn text><v-icon class="mr-1">mdi-help-circle</v-icon> Help</v-btn>
      </h3>
      <v-btn text icon><v-icon class="mr-1">mdi-bell</v-icon></v-btn>
      <v-btn text icon><v-icon class="mr-1">mdi-cog</v-icon></v-btn>
    </v-app-bar>
  </div>
</template>

<script>
import { useCARTSStore } from "@/stores/carts";
import { usePROFILESStore } from "@/stores/profiles";

export default {
  setup() {
    const cartsStore = useCARTSStore();
    const profilesStore = usePROFILESStore();
    return { cartsStore, profilesStore };
  },
  data(){
    return{
      user1: true,
      user2: false,
    //   user3: false,
    }
  },
  computed: {
    getPROFILEById() {
      let res = this.profilesStore.getPROFILEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(
        `_ID Index.vue - #167 PROFILE STORE ID is ${this.profilesStore.id}`
      );
      console.log(`_ID Index.vue - #168 Root is ${this.profilesStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    getProfile() {
      return this.profilesStore.all;
    },
  },
};
</script>
<style></style>
