<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" lg="12" xl="12">
          <v-card flat dark class="teal darken-4 pa-2">
            <v-row>
              <v-col cols="12" lg="3" xl="3">
                <h3 class="font-weight-medium">Loan Origination</h3>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="3" xl="3" class="text-right">
                <v-btn text light class="white text-capitalize"
                  >Apply for Loan</v-btn
                >
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <!-- proposals -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal lighten-2 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Pending Approval</h5>
                <h2 class="font-weight-regular">2</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <!-- Referenda -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal darken-4 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Average Completion Time</h5>
                <h2 class="font-weight-regular">0h 0m</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <!-- Launch Period -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal lighten-2 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Approved</h5>
                <h2 class="font-weight-regular">1</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <!-- Launch Period -->
        <v-col cols="12" lg="3" xl="3">
          <v-card dark outlined class="pa-5 teal darken-4 pt-3">
            <v-row>
              <v-col cols="12" lg="12" xl="12">
                <h5 class="">Declined</h5>
                <h2 class="font-weight-regular">3</h2>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mt-8">
        <v-col cols="12" lg="8" xl="8">
          <v-card outlined>
            <Table />
          </v-card>
        </v-col>
        <v-col cols="12" lg="4" xl="4">
          <!-- Evaluating Application -->
          <v-card outlined class="mt-3 pa-3">
            <v-row class="teal lighten-4">
              <v-col cols="12" lg="7" xl="5">
                <h4
                  v-show="data1Btn"
            @click="(data1 = !data1), (data1Btn = false), (data1Btnn = true)"
                  class="black--text"
                >
                  <v-icon>mdi-chevron-down</v-icon> Evaluating Application
                </h4>
                <h4
                  v-show="data1Btnn"
                  @click="(data1 = !data1), (data1Btn = true), (data1Btnn = false)"
                  class="black--text"
                >
                  <v-icon>mdi-chevron-right</v-icon> Evaluating Application
                </h4>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="5" xl="5">
                <h4 class="font-weight-regular mt-1 text-right">
                  8/5/2022 2:30 PM
                </h4>
              </v-col>
            </v-row>
              <v-row v-show="data1" class="pa-2">
                <v-col cols="12" lg="2" xl="2" class="text-center">
                  <v-icon xl size="60px">
                    mdi-chat-processing-outline
                  </v-icon>
                </v-col>
                <v-col cols="12" lg="10" xl="10">
                  <h3 class="font-weight-medium">State Change</h3>
                  <h3 class="font-weight-medium">The Loan Application is evaluated and Loan Details have been sent for approval by the Applicant</h3>
                </v-col>
                <v-col cols="12" lg="12" xl="12" class="text-right">
                  <v-btn text class="text-capitalize">All <v-icon>mdi-chevron-right</v-icon></v-btn>
                </v-col>
            </v-row>
          </v-card>

          <!-- Pending Approval -->
          <v-card outlined class="mt-3 pa-3">
            <v-row class="teal darken-1">
              <v-col cols="12" lg="7" xl="5">
                <h4
                  v-show="pending1Btn"
            @click="(pending1 = !pending1), (pending1Btn = false), (pending1Btnn = true)"
                  class="white--text"
                >
                  <v-icon  class="white--text">mdi-chevron-down</v-icon> Pending Approval
                </h4>
                <h4
                  v-show="pending1Btnn"
                  @click="(pending1 = !pending1), (pending1Btn = true), (pending1Btnn = false)"
                  class="white--text"
                >
                  <v-icon class="white--text">mdi-chevron-right</v-icon> Pending Approval
                </h4>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="5" xl="5">
                <h4 class="font-weight-regular mt-1 text-right white--text">
                  8/5/2022 2:30 PM
                </h4>
              </v-col>
            </v-row>
              <v-row v-show="pending1" class="pa-2">
                <v-col cols="12" lg="2" xl="2" class="text-center">
                  <v-icon xl size="60px">
                    mdi-chat-processing-outline
                  </v-icon>
                </v-col>
                <v-col cols="12" lg="10" xl="10">
                  <h3 class="font-weight-medium">State Change</h3>
                  <h3 class="font-weight-medium">The Loan Details have been approved by the Applicant.</h3>
                  <h3 class="font-weight-medium">Offer is waiting approval by a Loan Officer</h3>
                </v-col>
                <v-col cols="12" lg="12" xl="12" class="text-right">
                  <v-btn text class="text-capitalize">All <v-icon>mdi-chevron-right</v-icon></v-btn>
                </v-col>
              </v-row>
          </v-card>
        </v-col>
        <v-col cols="12"></v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Table from "./Table.vue";
export default {
  components: { Table },
  data() {
    return {
      data1: true,
      data1Btn: true,
      data1Btnn: false,
      pending1: true,
      pending1Btn: true,
      pending1Btnn: false,
      approved1: true,
      approved1Btn: true,
      approved1Btnn: false,
      declined1: true,
      declined1Btn: true,
      declined1Btnn: false,
    };
  },
};
</script>

<style></style>
