<template>
  <div class="pa-5">
    <v-speed-dial
      style="margin-bottom: 500px; margin-right: 120px"
      fixed
      v-model="fab"
      :top="top"
      :bottom="bottom"
      :right="right"
      :direction="direction"
      :open-on-hover="hover"
      :transition="transition"
    >
      <template v-slot:activator>
        <v-btn
          icon
          v-model="fab"
          fab
          x-large
          dark
          class="fab teal"
          to="/"
          fixed
          right
          bottom
        >
          <v-icon class="font-weight-bold mt-5 ml-2" x-large>mdi-logout</v-icon>
        </v-btn>
      </template>

      <div class="text-center">
        <v-card
          dark
          to="/dao"
          elevation="4"
          link
          x-large
          rounded
          class="pa-3 teal text-capitalize"
        >
          <!-- <v-img
            :src="require('@/assets/raiseblockdaocover.png')"
            alt="RaiseBlock"
            contain
            max-height="200"
            max-width="200"
          /> -->
         <h1>DAO</h1>
        </v-card>

        <v-card
          dark
          to="/crowdfund"
          elevation="4"
          link
          x-large
          rounded
          class="pa-3 teal mt-5 text-capitalize"
        >
          <!-- <v-img
            :src="require('@/assets/raiseblockdaocover.png')"
            alt="PeerCirclesMark"
            contain
            max-height="200"
            max-width="200"
          /> -->
          <h1>CROWDFUND</h1>
        </v-card>
        <v-card
          dark
          to="/lending"
          elevation="4"
          link
          x-large
          rounded
          class="pa-3 teal mt-5 text-capitalize"
        >
          <!-- <v-img
            :src="require('@/assets/raiseblockdaocover.png')"
            alt="PeerCirclesMark"
            contain
            max-height="200"
            max-width="200"
          /> -->
          <h1>LENDING</h1>
        </v-card>
        <v-card
          dark
          to="/socialpool"
          elevation="4"
          link
          x-large
          rounded
          class="pa-3 teal mt-5 text-capitalize"
        >
          <!-- <v-img
            :src="require('@/assets/raiseblockdaocover.png')"
            alt="PeerCirclesMark"
            contain
            max-height="200"
            max-width="200"
          /> -->
          <h1>SOCIALPOOL</h1>
        </v-card>
        <v-card flat style="opacity: 0" class="pa-5 mt-1"></v-card>
        <v-card flat class="mt-1 teal mr-5 mt-2" link to="/"
          ><h1 class="white--text">Portal</h1></v-card>
      </div>
    </v-speed-dial>
  </div>
</template>

<script>
export default {
  data() {
    return {
      direction: "bottom",
      fab: false,
      fling: false,
      hover: true,
      tabs: null,
      top: false,
      right: true,
      bottom: true,
      transition: "slide-y-reverse-transition",
    };
  },
};
</script>

<style></style>
