<template>
  <div>
    <v-app-bar class="white" fixed flat height="90">
      <router-link to="/">
        <img src="@/assets/openlending_logo.png" class="ml-10" height="60" />
      </router-link>
      <v-spacer></v-spacer>
      <v-text-field
        rounded
        filled
        background-color=""
        dense
        class="mt-5"
        placeholder="Search..."
        prepend-inner-icon="mdi-magnify"
      ></v-text-field>
      <v-spacer></v-spacer>
    </v-app-bar>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
