<template>
  <v-card flat>
    <v-container fluid>
      <v-row class="child-flex">
        <div style="flex-basis: 20%;">
          <v-toolbar flat dark height="35px">
            <v-tabs centered v-model="tab">
                <v-tab>
            <v-btn
              nuxt
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none;"
              active-class="red--text"
            >
              <v-icon right dark class="mr-2">mdi-account-cowboy-hat</v-icon>
              Refugees
            </v-btn>
            </v-tab>

            <v-tab>
            <v-btn
              nuxt
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none;"
              active-class="red--text"
            >
              <v-icon right dark class="mr-2">mdi-home</v-icon>
              Shelter
            </v-btn>
            </v-tab>

            <v-tab>
            <v-btn
              nuxt
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none;"
              active-class="red--text"
            >
              <v-icon right dark class="mr-2">mdi-account</v-icon>
              Women
            </v-btn>
            </v-tab>

            <v-tab>
            <v-btn
              nuxt
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none;"
              active-class="red--text"
            >
              <v-icon right dark class="mr-2">
                mdi-corn
              </v-icon>
              Agriculture
            </v-btn>
            </v-tab>

            <v-tab>
            <v-btn
              nuxt
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none;"
              active-class="red--text"
            >
              <v-icon right dark class="mr-2">mdi-book</v-icon>
              Education
            </v-btn>
            </v-tab>

            <v-tab>
            <v-btn
              nuxt
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none;"
              active-class="red--text"
            >
              <v-icon right dark class="mr-2">mdi-cellphone-cog</v-icon>
              Technology
            </v-btn>
            </v-tab>
            
            <v-tab>
            <v-btn
              nuxt
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none;"
              active-class="red--text"
            >
              <v-icon right dark class="mr-2">mdi-hospital-box</v-icon>
              Health
            </v-btn>
            </v-tab>
            </v-tabs>
            <v-spacer />
          </v-toolbar>
        </div>
      </v-row>
      <v-row>
        <v-spacer></v-spacer>
        <div>
            <v-tabs-items v-model="tab">
                <v-tab-item>
                    <Refugee />
                </v-tab-item>
                <v-tab-item>
                    <Shelter />
                </v-tab-item>
                <v-tab-item>
                    <Women />
                </v-tab-item>
                <v-tab-item>
                    <Agriculture />
                </v-tab-item>
                <v-tab-item>
                   <Education />
                </v-tab-item>
                <v-tab-item>
                   <Technology />
                </v-tab-item>
                <v-tab-item>
                   <Health />
                </v-tab-item>
            </v-tabs-items>
        </div>
        <v-spacer></v-spacer>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
// import { useDAOSStore } from '@/stores/daos'
import Refugee from './LendMain/Refugee.vue'
import Shelter from './LendMain/Shelter.vue'
import Women from './LendMain/Women.vue'
import Agriculture from './LendMain/Agriculture.vue'
import Education from './LendMain/Education.vue'
import Technology from './LendMain/Technology.vue'
import Health from './LendMain/Health.vue'

export default {
  components: { Refugee, Shelter, Women, Agriculture, Education, Technology, Health },
  setup
    () {
    // const daosStore = useDAOSStore()

    // return { daosStore }
  },
  name: 'DaoMain',

  data: () => ({
     tab: null,
    //useDAOSStore: useDAOSStore(),
    path: '',
  }),
  computed: {
    // overview() {
    //   console.log(`DaoMain - #105 is ${this.daosStore.root}`)
    //   return this.daosStore.root
    // },
    // proposals() {
    //   return this.daosStore.root + '/proposals'
    // },
    // vaults() {
    //   return this.daosStore.root + '/vaults'
    // },
    // members() {
    //   return this.daosStore.root + '/members'
    // },
    // settings() {
    //   return this.daosStore.root + '/settings'
    // },
    // socials() {
    //   return this.daosStore.root + '/socials'
    // },
    // groupCall() {
    //   return this.daosStore.root + '/groupcall'
    // },
    // getDAOById() {
    //   let res = this.daosStore.getDAOById(this.id);
    //   console.log(`_ID Index.vue - #166 ID is ${this.id}`);
    //   console.log(`_ID Index.vue - #167 DAO STORE ID is ${this.daosStore.id}`);
    //   console.log(`_ID Index.vue - #168 Root is ${this.daosStore.root}`);
    //   console.log(`_ID Index.vue - #169 res is ${res}`);
    //   return res;
    // },
    // setup() {
    //   return this.daosStore.root + "/setup";
    // },
    // getDAOs() {
    //   return this.daosStore.categories;
    // },
    // getCharity() {
    //   return this.daosStore.charity;
    // },
    // getCommunity() {
    //   return this.daosStore.community;
    // },
    // getOrganization() {
    //   return this.daosStore.organization;
    // },
  },
  methods: {},
}
</script>
