<template>
  <div>
    <v-tabs v-model="tab" background-color="transparent">
      <v-tab class="text-capitalize">Daily Activity</v-tab>
      <v-tab class="text-capitalize">90-Day Summary</v-tab>
    </v-tabs>
    <v-divider></v-divider>
    <v-tabs-items v-model="tab" class="transparent">
        <!-- Daily Activity -->
      <v-tab-item>
        <v-card class="transparent mt-5" flat v-for="item in scheduled" :key="item.id">
            <h2 class="font-weight-regular">Scheduled Payments</h2>
            <v-card link outlined class="pa-5 mt-5" style="background-color:transparent">
                <v-row>
                    <v-col cols="12" lg="2" xl="2" class="text-center">
                        <h3>{{item.month}}</h3> 
                        <h3>{{item.day}}</h3>
                    </v-col>

                    <v-col cols="12" lg="5" xl="5" class="text-left font-weight-regular">
                        <h4 class="blue--text">Auto-repayment</h4> 
                        <h4 class="blue--text mt-2">Loan balance</h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="5" xl="5" class="text-right font-weight-regular">
                        <h4 class="">$ {{item.repayment}}</h4> 
                        <h4 class="grey--text mt-2">{{item.balance}} Completed</h4>
                    </v-col>
                </v-row>
            </v-card>

            <div class="mt-5">
                <h2 class="font-weight-regular">Recent Activity</h2>
                <div v-for="item in recent" :key="item.id">
                <v-divider class="mt-4"></v-divider>
                <v-row class="pa-5">
                    <v-col cols="12" lg="2" xl="2" class="text-center">
                        <h3>{{item.month}}</h3> 
                        <h3>{{item.day}}</h3>
                    </v-col>

                    <v-col cols="12" lg="5" xl="3" class="text-left font-weight-regular">
                        <h4 class="blue--text">Auto-repayment</h4> 
                        <h4 class="blue--text mt-2">Loan balance</h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="5" xl="3" class="text-right font-weight-regular">
                        <h4 class="">$ {{item.repayment}}</h4> 
                        <h4 class="grey--text mt-2">{{item.balance}} Completed</h4>
                    </v-col>
                </v-row>
                </div>
                 <v-divider class=""></v-divider>
                 <v-row>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="5" xl="5" class="text-right font-weight-regular mt-5">
                        <a>View all activity</a>
                    </v-col>
                 </v-row>
            </div> 

        </v-card>
      </v-tab-item>
        <!-- 90 day aummary -->
       <v-tab-item>
        <v-card class="transparent mt-5" flat v-for="item in scheduled" :key="item.id">
            <h2 class="font-weight-regular">Scheduled Payments</h2>
             <v-card link outlined class="pa-5 mt-5" style="background-color:transparent">
                <v-row>
                    <v-col cols="12" lg="2" xl="2" class="text-center">
                        <h3>{{item.month}}</h3> 
                        <h3>{{item.day}}</h3>
                    </v-col>

                    <v-col cols="12" lg="5" xl="5" class="text-left font-weight-regular">
                        <h4 class="blue--text">Auto-repayment</h4> 
                        <h4 class="blue--text mt-2">Loan balance</h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="5" xl="5" class="text-right font-weight-regular">
                        <h4 class="">$ {{item.repayment}}</h4> 
                        <h4 class="grey--text mt-2">{{item.balance}} Completed</h4>
                    </v-col>
                </v-row>
            </v-card>

            <div class="mt-5">
                <h2 class="font-weight-regular">Recent Activity</h2>
                <div v-for="item in recent" :key="item.id">
                <v-divider class="mt-4"></v-divider>
                <v-row class="pa-5">
                    <v-col cols="12" lg="2" xl="2" class="text-center">
                        <h3>{{item.month}}</h3> 
                        <h3>{{item.day}}</h3>
                    </v-col>

                    <v-col cols="12" lg="5" xl="3" class="text-left font-weight-regular">
                        <h4 class="blue--text">Auto-repayment</h4> 
                        <h4 class="blue--text mt-2">Loan balance</h4>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="5" xl="3" class="text-right font-weight-regular">
                        <h4 class="">$ {{item.repayment}}</h4> 
                        <h4 class="grey--text mt-2">{{item.balance}} Completed</h4>
                    </v-col>
                </v-row>
                </div>
                 <v-divider class=""></v-divider>
                 <v-row>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="5" xl="5" class="text-right font-weight-regular mt-5">
                        <a>View all activity</a>
                    </v-col>
                 </v-row>
            </div> 

        </v-card>
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>
<script>
export default {
    data(){
        return{
            tab:null,
            scheduled:[
                {
                    id:1,
                    month: 'Sept',
                    day: '26',
                    repayment:'1,257.00',
                    balance:'2'
                }
            ],
            recent:[
                {
                    id:2,
                   month: 'Sept',
                    day: '26',
                    repayment:'1,257.00',
                    balance:'2'
                },
                {
                    id:3,
                    month: 'Sept',
                    day: '26',
                    repayment:'1,257.00',
                    balance:'2'
                },
                {
                    id:4,
                    month: 'Sept',
                    day: '26',
                    repayment:'1,257.00',
                    balance:'2'
                },
                {
                    id:5,
                    month: 'Sept',
                    day: '26',
                    repayment:'1,257.00',
                    balance:'2'
                },
                {
                    id:6,
                    month: 'Sept',
                    day: '26',
                    repayment:'1,257.00',
                    balance:'2'
                },
                
            ]
        }
    }
};
</script>

<style></style>
