<template>
  <div>
    <v-app-bar height="90" class="pr-5 white" elevation="1">
      <router-link to="/">
        <img src="@/assets/openlending_logo.png" class="ml-10" height="50" />
      </router-link>
      <v-spacer />
       <v-btn to="/pricing" text class="text-capitalize blue--text" x-large outlined dark rounded
        >Pricing</v-btn
      >
      <v-btn to="/video-visit" text class="text-capitalize blue--text" x-large outlined dark rounded
        >Video Visit</v-btn
      >
      <v-btn text class="text-capitalize blue--text" x-large outlined dark rounded
        >Find Care</v-btn
      >
      <v-btn text class="text-capitalize blue--text" x-large outlined dark rounded
        >How it works</v-btn
      >
      <v-btn text class="text-capitalize blue--text" x-large outlined dark rounded
        >Help</v-btn
      >
      <v-btn text icon large to="/cart"><v-badge
          color="blue"
          :content="cartsStore.cart"
        ><v-icon class="blue--text">mdi-cart-outline</v-icon>
        </v-badge>
        </v-btn>

        <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <div class="ml-10" v-bind="attrs" v-on="on">
            <div v-show="user1">
              <v-avatar size="30"
                ><v-img src="@/assets/avatar1.png"></v-img
              ></v-avatar>
              <span class="ml-2">Miriam Aupont (Customer)</span>
              <v-btn icon class=""><v-icon>mdi-chevron-down</v-icon></v-btn>
            </div>
            <div v-show="user2">
              <v-avatar size="30"
                ><v-img src="@/assets/avatar1.png"></v-img  
              ></v-avatar>
              <span class="ml-2">Olivia Green (Banker)</span>
              <v-btn icon class=""><v-icon>mdi-chevron-down</v-icon></v-btn>
            </div>
            <!-- <div v-show="user3">
              <v-avatar size="30"
                ><v-img src="@/assets/avatar2.png"></v-img
              ></v-avatar>
              <span class="ml-2">Jennifer Wu (Payer)</span>
              <v-btn icon class=""><v-icon>mdi-chevron-down</v-icon></v-btn>
            </div> -->
          </div>
        </template>
        <v-card>
          <v-list class="mt-5">
            <v-list-item
              v-for="profile in getProfile"
              :key="profile.id"
              link
              :to="profile.link"
            >
              <v-list-item-title>
                <v-avatar size="30"
                  ><v-img :src="profile.src"></v-img
                ></v-avatar>
                <span class="ml-2">{{
                  profile.profile
                }} ({{profile.role}})</span></v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
import { useCARTSStore } from "@/stores/carts";
import { usePROFILESStore } from "@/stores/profiles";

export default {
  setup() {
    const cartsStore = useCARTSStore();
    const profilesStore = usePROFILESStore();
    return { cartsStore, profilesStore };
  },
  data(){
    return{
      user1: true,
      user2: false,
      user3: false,
    }
  },
  computed: {
    getPROFILEById() {
      let res = this.profilesStore.getPROFILEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(
        `_ID Index.vue - #167 PROFILE STORE ID is ${this.profilesStore.id}`
      );
      console.log(`_ID Index.vue - #168 Root is ${this.profilesStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    getProfile() {
      return this.profilesStore.all;
    },
  },
};
</script>

<style></style>
