<template>
  <v-app-bar app color="#f7f7f7" dark flat >
    <div class="d-flex align-center">
      <router-link to="/crowdfund">
        <v-img
          alt="RaiseBlock Logo"
          class="shrink mr-2"
          contain
          src="@/assets/raiseblockcover.png"
          transition="scale-transition"
          max-width="300"
        />
      </router-link>
    </div>
    <v-btn to="/crowdfund/projects" light text class="text-capitalize">
      Discover
    </v-btn>
    <v-btn to="/crowdfund/proposal" light text class="text-capitalize">
      Start a Fund
    </v-btn>

    <v-spacer></v-spacer>
    <v-col cols="12" lg="2" xl="2" class="d-flex my-5">
      <v-select
        :items="accountStore.items"
        label="Select network"
        outlined
        v-model="accountStore.selectedChain"
        item-text="name"
        item-value="chain"
        @input="accountStore.setSelected"
        light
        hide-details
      ></v-select>
    </v-col>

    <v-btn
      class="mx-2 text-capitalize text-h6"
      text
      style="text-transform: none;"
      dark
      @click="accountStore.connect"
      v-if="!accountStore.isConnected"
      outlined
      color="black"
    >
      <span class="mr-2">Connect to Wallet</span>
    </v-btn>
    <v-btn
      class="mx-2 text-capitalize text-h6"
      text
      style="text-transform: none;"
      light
      @click="accountStore.disconnect"
      v-else
    >
      Disconnect Wallet ({{ accountStore.shortWalletAddress }})
    </v-btn>
  </v-app-bar>
</template>

<script>
import { useAccountStore } from '@/stores/account'
import Web3 from 'web3'
import { ethers } from 'ethers'

import Web3Modal from 'web3modal'
import CoinbaseWalletSDK from '@coinbase/wallet-sdk'
import WalletConnectProvider from '@walletconnect/web3-provider'

import { stringify } from 'flatted'

export default {
  setup() {
    const accountStore = useAccountStore()

    return { accountStore }
  },
  name: 'auth',
  components: {},
  data() {
    return {
      publicAddress: '',
      select: { name: 'Optimism Kovan', chain: '69' },
      items: [
        { name: 'Optimism Kovan', chain: '69' },
        { name: 'Mumbai', chain: '80001' },
      ],
      dialog: false,
      notifications: false,
      sound: true,
      widgets: false,
      walletAddress: '',
      shortWalletAddress: '',
      provider: undefined,
      library: undefined,
      network: undefined,
      chainId: '',
      accounts: [],
    }
  },
  methods: {
    updateAddress() {
      console.log(
        ` NavBar #157 - Whole Account Store Information: ${stringify(
          this.accountStore.walletAddress,
        )}`,
      )
    },
    truncateAddress(address) {
      if (!address) return 'No Account'
      const match = address.match(
        /^(0x[a-zA-Z0-9]{4})[a-zA-Z0-9]+([a-zA-Z0-9]{4})$/,
      )
      if (!match) return address
      return `${match[1]}…${match[2]}`
    },
    async handleChainChanged(chainId) {
      console.log(` - Chain ID changed from ${this.accountStore.chainId}`)
      this.accountStore.chainId = chainId
      console.log(
        ` - Chain ID changed from ${chainId} to: ${this.accountStore.chainId}`,
      )

      const provider = window.ethereum
      const library = new ethers.providers.Web3Provider(window.ethereum)
      const accounts = await library.listAccounts()
      //const accounts = await provider.enable()
      const network = await library.getNetwork()
      this.accountStore.provider = provider
      this.accountStore.library = library
      //console.log(` - account #82: ${accounts}`)
      if (accounts) {
        this.accountStore.walletAddress = accounts[0]
        this.accountStore.shortWalletAddress = this.truncateAddress(accounts[0])
        this.accountStore.accounts = accounts
      }

      this.accountStore.chainId = network.chainId
      this.accountStore.network = network
      this.accountStore.isConnected = true

      console.log(` NavBar- chainId: ${this.accountStore.chainId}`)
      console.log(` NavBar - network: ${this.accountStore.network}`)
      console.log(
        ` NavBar - walletAddress #59 ${this.accountStore.walletAddress}`,
      )
    },
    async handleAccountsChanged(accounts) {
      console.log(` NavBar #64 - Accounts changed from ${accounts}`)
      console.log(` - Accounts changed from ${accounts}`)
      if (accounts) {
        this.accountStore.walletAddress = accounts[0]
        this.accountStore.shortWalletAddress = this.accountStore.truncateAddress(
          accounts[0],
        )
      }
      console.log(` - to: ${this.accountStore.walletAddress}`)
    },
    async handleDisconnect() {
      await this.accountStore.disconnect
    },
  },
  created: function () {
    window.ethereum.on('chainChanged', this.handleChainChanged)
    window.ethereum.on('accountsChanged', this.handleAccountsChanged)
    window.ethereum.on('disconnect', this.handleDisconnect)
  },
  destroyed: function () {
    window.ethereum.removeListener('chainChanged', this.handleChainChanged)
    window.ethereum.removeListener(
      'accountsChanged',
      this.handleAccountsChanged,
    )
    window.ethereum.removeListener('disconnect', this.handleDisconnect)
  },
}
</script>
