<template>
  <v-card flat>
    <v-container fluid>
      <v-row class="child-flex">
        <div style="flex-basis: 20%">
          <v-toolbar dark height="35px">
             <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/dao"
            >
              <v-icon right dark class="mr-2"> mdi-molecule</v-icon>
              DAO
            </v-btn> 

            <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/proposals"
            >
              <v-icon right dark class="mr-2"> mdi-book-variant </v-icon>
              Proposals
            </v-btn>

            <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/vaults"
            >
              <v-icon right dark class="mr-2"> mdi-bank </v-icon>
              Vaults
            </v-btn>

            <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/investments"
            >
              <v-icon right dark class="mr-2"> mdi-hand-coin </v-icon>
              Investments
            </v-btn>

            <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/members"
            >
              <v-icon right dark class="mr-2">
                mdi-account-group-outline
              </v-icon>
              Members
            </v-btn>
            <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/passed"
            >
              <v-icon right dark class="mr-2">
                mdi-check
              </v-icon>
              Passed
            </v-btn>
            <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/rejected"
            >
              <v-icon right dark class="mr-2">
                mdi-cancel
              </v-icon>
              Rejected
            </v-btn>

            <v-btn
              plain
              color="white"
              class="ma-2 white--text"
              style="text-transform: none"
              to="/fundraising/settings"
            >
              <v-icon right dark class="mr-2"> mdi-cog-outline </v-icon>
              Settings
            </v-btn>
          </v-toolbar>
        </div>
      </v-row>
    </v-container>
  </v-card>
</template>

<script>
export default {
  name: "NavMain",

  data: () => ({
    //
  }),
};
</script>
