<template>
  <div>
    <v-select dense v-model="select" outlined :items="items"></v-select>
  </div>
</template>

<script>
export default {
    data(){
        return{
            select: 'Please select...',
            items: ["Please select...", "Yes I have a violent or financial criminal conviction within the last 5 years", "Yes I have a violent or financial criminal conviction, but it's more than 5 years ago", "Yes I have a criminal conviction, but it is not violent or financial", "No I do not have any previous criminal conviction"],
        }
    }
}
</script>

<style>

</style>