<template>
  <v-card elevation>
    <v-navigation-drawer floating permanent app>
      <div class="d-flex align-left">
        <router-link to="/">
          <v-img
            alt="RaiseBlock Logo"
            class="shrink ma-5"
            contain
            src="@/assets/openlending_logo.png"
            transition="scale-transition"
            max-width="230"
          />
        </router-link>
      </div>
      <v-list dense rounded class="mt-5">
        <v-list-item link to="/bank" exact>
          <v-list-item-icon>
            <v-icon>mdi-view-carousel-outline</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="/bank/rules" exact>
          <v-list-item-icon>
            <v-icon>mdi-book-open</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Rules</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        

        <h3 class="font-weight-regular ml-3 mt-16 mb-5">PROFILE</h3>
        <v-list-item @click="profile = !profile" link exact>
          <v-list-item-icon>
            <v-icon>mdi-account-outline</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Profiles</v-list-item-title>
          </v-list-item-content>
          <v-icon v-show="!profile">mdi-chevron-right</v-icon>
          <v-icon v-show="profile">mdi-chevron-down</v-icon>
        </v-list-item>
        
        <div v-show="profile" class="ml-5">
          <v-list-item
            v-for="profile in getProfile"
            :key="profile.id"
            link
            :to="{
              name: 'profile',
              params: { id: profile.id },
            }"
          >
            <v-list-item-title>
              <v-avatar size="30"><v-img :src="profile.src"></v-img></v-avatar>
              <span class="ml-2"
                >{{ profile.profile }} ({{ profile.role }})</span
              ></v-list-item-title
            >
          </v-list-item>
        </div>

        <v-list-item link exact>
          <v-list-item-icon>
            <v-icon>mdi-cog-outline</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="" exact>
          <v-list-item-icon>
            <v-icon>mdi-help-circle-outline</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Support</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item link to="" exact>
          <v-list-item-icon>
            <v-icon>mdi-logout</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-card>
</template>

<script>
import { usePROFILESStore } from "@/stores/profiles";
export default {
  setup() {
    const profilesStore = usePROFILESStore();
    return { profilesStore };
  },
  data() {
    return {
      invoice: false,
      payment: false,
      booking: false,
      profile: false,
      items: [
        {
          title: "Dashboard",
          icon: "mdi-view-carousel-outline",
          link: "/admin",
        },
        { title: "Bills", icon: "mdi-file-outline", link: "/admin/bills" },
        { title: "Invoices", icon: "mdi-receipt-text", link: "/admin/" },
        { title: "Payments", icon: "mdi-credit-card", link: "/admin/payments" },
       
        { title: "Branding", icon: "mdi-watermark", link: "/admin/branding" },
        { title: "Settings", icon: "mdi-cog-outline", link: "" },
      ],
    };
  },
  computed: {
    getPROFILEById() {
      let res = this.profilesStore.getPROFILEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(
        `_ID Index.vue - #167 PROFILE STORE ID is ${this.profilesStore.id}`
      );
      console.log(`_ID Index.vue - #168 Root is ${this.profilesStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    getProfile() {
      return this.profilesStore.all;
    },
  },
};
</script>
