<template>
  <div style="position: fixed">
    <v-card class="transparent" flat width="250">
        <v-list
        dense
        nav
        color="transparent"
      >
      <v-list-item-group v-model="model" active-class="blue--text" >
        <v-list-item
        
          :to="item.link"
          v-for="item in items"
          :key="item.title"
          link
          exact
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      <h5 class="font-weight-bold grey--text ml-5 mt-3">DEMOCRACY</h5>
        <v-list-item
        
          :to="item.link"
          v-for="item in democracy"
          :key="item.title"
          link
          exact
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      <h5 class="font-weight-bold grey--text ml-5 mt-3">TREASURY</h5>
        <v-list-item
        
          :to="item.link"
          v-for="item in treasury"
          :key="item.title"
          link
          exact
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      <h5 class="font-weight-bold grey--text ml-3 mt-3">TECH.COMM.</h5>
        <v-list-item
       
          :to="item.link"
          v-for="item in tech"
          :key="item.title"
          link
          exact
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <h5 class="font-weight-bold grey--text ml-3 mt-3">SOCIAL</h5>
        <v-list-item
       
          :to="item.link"
          v-for="item in social"
          :key="item.title"
          link
          exact
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
      </v-list>
    </v-card>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        items: [
          { title: 'Overview', icon: 'mdi-view-grid', link:'/dao/app' },
          { title: 'Discussions', icon: 'mdi-forum-outline', link:'/dao/app/discussions' },
          { title: 'Off-chain', icon: 'mdi-card' },
        ],
        democracy: [
          { title: 'Referenda', icon: 'mdi-card', link: '/dao/app/democracy/referenda' },
          { title: 'Proposals', icon: 'mdi-file', link:'/dao/app/democracy/proposals' },
        ],
        treasury: [
          { title: 'Proposals', icon: 'mdi-file', link: '/dao/app/treasury/proposals' },
        ],
        tech: [
          { title: 'Proposals', icon: 'mdi-file', link:'/dao/app/techcomm/proposals' },
          { title: 'Members', icon: 'mdi-account-multiple-outline', link:'/dao/app/members' },
        ],
        social: [
          { title: 'Audio Chat', icon: 'mdi-microphone', link:'/dao/app/social/audiochat' },
          { title: 'Messenger', icon: 'mdi-forum-outline', link:'/dao/app/social/messenger' },
          { title: 'Video Chat', icon: 'mdi-video', link:'/dao/app/social/videochat' },
        ],
        right: null,
        model: 1, 
      }
    },
  }
</script>