<template>
  <div>
    <v-app-bar outline class="white px-2" height="50" flat>
      <!-- <router-link to="/">
        <img
          src="@/assets/openlending_logo.png"
          class="mt-2"
          height="30"
        />
      </router-link> -->
      <v-btn
        text
        rounded
        active-class="blue lighten-2"
        class="text-capitalize ml-5"
        to="/customer"
        exact
        >Home</v-btn
      >
      <v-btn
        text
        rounded
        active-class="blue lighten-2"
        class="text-capitalize ml-5"
        to="/customer/loan-application"
        exact
        >Apply for Loan</v-btn
      >
      <v-btn
        exact
        text
        rounded
        active-class="blue lighten-2"
        class="text-capitalize"
        to="/customer/loans"
        >Loans</v-btn
      >
      <v-btn
        exact
        text
        rounded
        active-class="blue lighten-2"
        class="text-capitalize"
        to=""
        >Contacts</v-btn
      >
      <v-btn
        exact
        text
        rounded
        active-class="blue lighten-2"
        class="text-capitalize"
        to=""
        >Wallets</v-btn
      >
      <v-btn
        exact
        text
        rounded
        active-class="blue lighten-2"
        class="text-capitalize"
        to=""
        >Documents</v-btn
      >
      <v-btn text rounded active-class="blue lighten-2" class="text-capitalize"
        >More <v-icon>mdi-chevron-down</v-icon></v-btn
      >
      <v-spacer></v-spacer>
      <v-btn icon text rounded class="text-capitalize"
        ><v-icon>mdi-magnify</v-icon></v-btn
      >
      <!-- <v-btn icon text rounded class="text-capitalize"><v-icon>mdi-currency-eur</v-icon></v-btn>
          <v-btn icon text rounded class="text-capitalize"><v-icon>mdi-currency-rupee</v-icon></v-btn>
          <v-btn icon text rounded class="text-capitalize"><v-icon>mdi-currency-jpy</v-icon></v-btn> -->
      <v-menu bottom left :offset-y="offset">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            v-bind="attrs"
            v-on="on"
            icon
            text
            rounded
            class="text-capitalize ml-5"
            @click="currencyProcessor"
          >
            <v-icon v-show="usd">mdi-currency-usd</v-icon>
            <v-icon v-show="eur">mdi-currency-eur</v-icon>
            <v-icon v-show="rupee">mdi-currency-rupee</v-icon>
            <v-icon v-show="jpy">mdi-currency-jpy</v-icon>
          </v-btn>
        </template>
        <v-card width="270">
          <v-card-title>
            <v-text-field
              solo
              background-color="grey lighten-4"
              flat
              rounded
              prepend-inner-icon="mdi-magnify"
              placeholder="Search currency"
            ></v-text-field>
          </v-card-title>
          <v-card-text>Select base currency</v-card-text>

          <v-list>
            <v-list-item
              link
              @click="
                (jpy = false), (usd = true), (eur = false), (rupee = false)
              "
            >
              <v-list-item-icon>
                <v-icon>mdi-currency-usd</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>USD</v-list-item-title>
              </v-list-item-content>
            </v-list-item>

            <v-list-item
              link
              @click="
                (jpy = false), (usd = true), (eur = false), (rupee = false)
              "
            >
              <v-list-item-icon>
                <v-icon>mdi-currency-usd</v-icon>
              </v-list-item-icon>
              <v-list-item-content>
                <v-list-item-title>CAD</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>

          <v-list-item
            link
            @click="(jpy = false), (usd = false), (eur = true), (rupee = false)"
          >
            <v-list-item-icon>
              <v-icon>mdi-currency-eur</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>EUR</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            @click="(jpy = false), (usd = true), (eur = false), (rupee = false)"
          >
            <v-list-item-icon>
              <v-icon>mdi-currency-usd</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>SGD</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            @click="(jpy = false), (usd = false), (eur = false), (rupee = true)"
          >
            <v-list-item-icon>
              <v-icon>mdi-currency-rupee</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>INR</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item
            link
            @click="(jpy = true), (usd = false), (eur = false), (rupee = false)"
          >
            <v-list-item-icon>
              <v-icon>mdi-currency-jpy</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>JPY</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-card>
      </v-menu>
      <v-btn icon text rounded class="text-capitalize"
        ><v-icon>mdi-plus</v-icon></v-btn
      >

      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <div class="ml-10" v-bind="attrs" v-on="on">
            <div v-show="user1">
              <v-avatar size="30"
                ><v-img src="@/assets/avatar.png"></v-img
              ></v-avatar>
              <span class="ml-2">Curly Howard (Customer)</span>
              <v-btn icon class=""><v-icon>mdi-chevron-down</v-icon></v-btn>
            </div>
            <div v-show="user2">
              <v-avatar size="30"
                ><v-img src="@/assets/avatar1.png"></v-img  
              ></v-avatar>
              <span class="ml-2">Olivia Green (Bank)</span>
              <v-btn icon class=""><v-icon>mdi-chevron-down</v-icon></v-btn>
            </div>
          </div>
        </template>
        <v-card>
          <v-list class="mt-5">
            <v-list-item
              v-for="profile in getProfile"
              :key="profile.id"
              link
              :to="profile.link"
            >
              <v-list-item-title>
                <v-avatar size="30"
                  ><v-img :src="profile.src"></v-img
                ></v-avatar>
                <span class="ml-2">{{
                  profile.profile
                }} ({{profile.role}})</span></v-list-item-title
              >
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>
  </div>
</template>

<script>
import { usePROFILESStore } from "@/stores/profiles";

export default {
  setup() {
    const profilesStore = usePROFILESStore();
    return { profilesStore };
  },
  data() {
    return {
      e: true,
      user1: true,
      user2: false,
      offset: true,
      usd: true,
      rupee: false,
      jpy: false,
      eur: false,
    };
  },
  computed: {
    getPROFILEById() {
      let res = this.profilesStore.getPROFILEById(this.id);
      console.log(`_ID Index.vue - #166 ID is ${this.id}`);
      console.log(
        `_ID Index.vue - #167 PROFILE STORE ID is ${this.profilesStore.id}`
      );
      console.log(`_ID Index.vue - #168 Root is ${this.profilesStore.root}`);
      console.log(`_ID Index.vue - #169 res is ${res}`);
      return res;
    },
    setup() {
      return this.walletsStore.root + "/setup";
    },
    getProfile() {
      return this.profilesStore.all;
    },
  },
  methods: {
    currencyProcessor(event) {

    },
  },
};
</script>

<style></style>
