<template>
  <v-simple-table fixed-header height="600px">
    <template v-slot:default>
      <thead dark>
        <tr class="green">
          <th class="text-left teal darken-4 white--text">Applicant</th>
          <th class="text-left teal darken-4 white--text">State</th>
          <th class="text-left teal darken-4 white--text">Loan Amount</th>
          <th class="text-left teal darken-4 white--text">Email</th>
          <th class="text-left teal darken-4 white--text">Created On Date</th>
        </tr>
      </thead>
      <tbody>
        <!-- Evaluating Application -->
        <tr class="teal--text">
          <td>
          <a
            v-show="data2Btn"
            @click="(data2 = !data2), (data2Btn = false), (data2Btnn = true)"
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-down</v-icon>Evaluating Application</a
          >
          <a
            v-show="data1Btnn"
            @click="(data2 = !data2), (data2Btn = true), (data2Btnn = false)"
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-right</v-icon>Evaluating Application</a
          >
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr v-for="item in applications" :key="item.name" v-show="data2">
          <td><span class="mr-2">{{ item.id }}</span> <v-icon>mdi-restart</v-icon> {{ item.applicant }}</td>
          <td>{{ item.state }}</td>
          <td>${{ item.loanAmount }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.created }}</td>
        </tr>

        <!-- Pending -->
        <tr>
          <td>
          <a
            v-show="pending2Btn"
            @click="
              (pending2 = !pending2),
                (pending2Btn = false),
                (pending2Btnn = true)
            "
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-down</v-icon>Pending Approval</a
          >
          <a
            v-show="pending2Btnn"
            @click="
              (pending2 = !pending2),
                (pending2Btn = true),
                (pending2Btnn = false)
            "
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-right</v-icon>Pending Approval</a
          >
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr v-for="item in pending" :key="item.name" v-show="pending2">
          <td><span class="mr-2">{{ item.id }}</span> <v-icon>mdi-restart</v-icon> {{ item.applicant }}</td>
          <td>{{ item.state }}</td>
          <td>${{ item.loanAmount }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.created }}</td>
        </tr>

        <!-- Approved -->
        <tr>
          <td>
          <a
            v-show="approved2Btn"
            @click="
              (approved2 = !approved2),
                (approved2Btn = false),
                (approved2Btnn = true)
            "
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-down</v-icon>Approved</a
          >
          <a
            v-show="approved2Btnn"
            @click="
              (approved2 = !approved2),
                (approved2Btn = true),
                (approved2Btnn = false)
            "
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-right</v-icon>Approved</a
          >
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr v-for="item in approved" :key="item.name" v-show="approved2">
          <td><span class="mr-2">{{ item.id }}</span> <v-icon class="green--text">mdi-check-circle-outline</v-icon> {{ item.applicant }}</td>
          <td>{{ item.state }}</td>
          <td>${{ item.loanAmount }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.created }}</td>
        </tr>

        <!-- Declined -->
        <tr>
          <td>
          <a
            v-show="declined2Btn"
            @click="
              (declined2 = !declined2),
                (declined2Btn = false),
                (declined2Btnn = true)
            "
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-down</v-icon>Declined</a
          >
          <a
            v-show="declined1Btnn"
            @click="
              (declined2 = !declined2),
                (declined2Btn = true),
                (declined2Btnn = false)
            "
            text
            class="mt-2 teal--text"
            ><v-icon>mdi-chevron-right</v-icon>Declined</a
          >
          </td>
           <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr v-for="item in declined" :key="item.name" v-show="declined2">
          <td><span class="mr-2">{{ item.id }}</span> <v-icon class="red--text">mdi-close-circle</v-icon> {{ item.applicant }}</td>
          <td>{{ item.state }}</td>
          <td>${{ item.loanAmount }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.created }}</td>
        </tr>
      </tbody>
    </template>
  </v-simple-table>
</template>
<script>
export default {
  data() {
    return {
      data2: true,
      data2Btn: true,
      data2Btnn: false,
      pending2: true,
      pending2Btn: true,
      pending2Btnn: false,
      approved2: true,
      approved2Btn: true,
      approved2Btnn: false,
      declined2: true,
      declined2Btn: true,
      declined2Btnn: false,

      applications: [
        {
          id:1,
          applicant: "Henry Johnson",
          state: "Evaluating Application",
          loanAmount: "9,000.00",
          email: "Henry@example.com",
          created: "8/4/2022",
        },
        {
          id:2,
          applicant: "Danny Johnson",
          state: "Evaluating Application",
          loanAmount: "5,000.00",
          email: "Henry@example.com",
          created: "8/4/2022",
        },
      ],
      pending: [
        {
          id:3,
          applicant: "Jane Doe",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "8/4/2022",
        },
      ],
      approved: [
        {
          id:4,
          applicant: "Jane Doe",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "8/4/2022",
        },
      ],
      declined: [
        {
          id:5,
          applicant: "Jane Doe",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "8/4/2022",
        },
        {
          id:6,
          applicant: "Mary Jane",
          state: "Pending Approval",
          loanAmount: "6,000.00",
          email: "Jane@example.com",
          created: "8/4/2022",
        },
      ],
    };
  },
};
</script>
