<template>
  <div>
    <NavDao />
    <v-container>
      <v-row class="mt-5">
        <v-spacer />
        <v-col cols="12" lg="6" xl="5">
          <v-row>
            <v-col cols="12" lg="12" xl="12">
              <v-btn to="/dao/app/discussions" text class="text-capitalize"
                ><v-icon class="mr-3">mdi-arrow-left</v-icon> Back to
                Discussions</v-btn
              >
            </v-col>
          </v-row>
          <v-card class="pa-5" outlined>
            <v-card-title>New Post</v-card-title>
            <v-row class="px-4">
              <v-col cols="12" lg="12" xl="12">
                <v-row>
                  <v-col cols="12" lg="3" xl="3" class="mt-2">
                    <h5>Title</h5>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="12" lg="3" xl="3" class="text-right">
                    <v-btn
                      v-show="showBanner"
                      @click="banner = true, showBanner = false"
                      text
                      class="text-capitalize blue--text"
                      >Set Banner</v-btn
                    >
                    <v-btn
                      text
                      class="text-capitalize blue--text"
                      v-show="banner"
                      @click="(banner = false), (showBanner = true)"
                      >Cancel</v-btn
                    >
                  </v-col>

                </v-row>
                <v-text-field
                  placeholder="Please fill the title"
                  dense
                  outlined
                ></v-text-field>
                <!-- Set Banner Section -->
                  <div v-show="banner">
                    <v-card
                          class="pa-5"
                          outlined
                          style="border: dashed 2px grey;"
                          height="200"
                        >
                          <h4
                            class="grey--text font-weight-medium text-center mt-3"
                          >
                            PNG, JPEG or GIF. Max 100mb.
                          </h4>
                          <input
                            type="file"
                            ref="file"
                            @change="handleImageUpload($event)"
                            id="file-input"
                            style="display: none;"
                          />
                          <p class="text-center ma-10">
                            <v-btn
                              @click="$refs.file.click()"
                              text
                              class="text-capitalize blue--text text--darken-3 blue lighten-4"
                              style="border-radius: 25px;"
                            >
                              choose file
                            </v-btn>
                          </p>
                        </v-card>
                        <div class="grey--text mt-5">
                        <ul>
                            <li>We recommend  a 16:9 image.</li>
                            <li>The banner will be displayed in the post list and as a shared preview on social media.</li>
                        </ul>
                        </div>
                  </div>
              </v-col>
              <v-col cols="12" lg="12" xl="12">
                <v-row>
                  <v-col cols="12" lg="3" xl="3" class="mt-2">
                    <h5>Issue</h5>
                  </v-col>
                </v-row>
                <v-textarea
                  placeholder="Please add the title"
                  dense
                  outlined
                ></v-textarea>
                <v-row>
                  <v-col cols="12" lg="3" xl="3" class="mt-2">
                    <h5>Advanced</h5>
                  </v-col>
                  <v-spacer></v-spacer>
                  <v-col cols="12" lg="3" xl="3" class="text-right">
                    <v-btn
                      text
                      class="text-capitalize blue--text"
                      v-show="create"
                      @click="(poll = true), (create = false)"
                      >Create a poll</v-btn
                    >
                    <v-btn
                      text
                      class="text-capitalize blue--text"
                      v-show="poll"
                      @click="(poll = false), (create = true)"
                      >Cancel</v-btn
                    >
                  </v-col>
                </v-row>
                <!-- Create Poll Section -->
                <div v-show="poll">
                  <v-row>
                    <v-col cols="12" lg="12" xl="12">
                      <h5>Title</h5>
                      <v-text-field
                        placeholder="Please fill the title"
                        outlined
                        dense
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row class="pr-5">
                    <v-col cols="12" lg="3" xl="3" class="mt-2">
                      <h5>Option</h5>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="3" xl="3" class="text-right">
                      <v-btn text class="text-capitalize blue--text"
                        >Add an option</v-btn
                      >
                    </v-col>
                  </v-row>
                  <v-text-field
                    placeholder="Option 1 (required)"
                    outlined
                    dense
                  ></v-text-field>
                  <v-text-field
                    placeholder="Option 2 (required)"
                    outlined
                    dense
                  ></v-text-field>
                  <h5>Voting length</h5>
                  <v-select v-model="select" :items="items" outlined dense></v-select>
                  <v-row class="pr-5">
                    <v-col cols="12" lg="6" xl="6">
                      <h5>Setting</h5>
                      <h5 class="font-weight-regular">
                        Anonymous (Voter's names will not be displayed)
                      </h5>
                    </v-col>
                    <v-spacer></v-spacer>
                    <v-col cols="12" lg="1" xl="1">
                      <v-switch v-model="e1"></v-switch>
                    </v-col>
                  </v-row>
                </div>

                <v-row class="pr-3 mt-5 mb-5">
                  <v-spacer></v-spacer>
                  <v-btn text class="text-capitalize" outlined>Preview</v-btn>
                  <v-btn text class="text-capitalize grey ml-3 lighten-1" dark
                    >Create</v-btn
                  >
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-spacer />
      </v-row>
    </v-container>
  </div>
</template>

<script>
import NavDao from "../../../../components/NavDao.vue";
export default {
  components: { NavDao },
  data() {
    return {
      items: ['7 days', '15 days', '30 days'],
      select: '15 days',
      banner: false,
      showBanner: true,
      poll: false,
      create: true,
      e1: true,
    };
  },
};
</script>

<style></style>
