<template>
  <div>
    <CustomerNav class="d-none d-md-flex .d-lg-none" />
     <SystemBar class="d-none d-md-flex .d-lg-none" />
    <MobNav class="d-sm-none .d-md-flex" />
    <v-row>
      <v-col cols="12" lg="1" xl="1">
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" lg="1" xl="1"> </v-col>
      <v-col cols="12" lg="5" xl="5" class="pa-5">
        <v-container class="mt-8">
          <div class="pa-14 grey lighten-3">
            <v-row>
              <v-col cols="12" lg="4" xl="4" class="mt-3">
                <h1 class="text-h4 mb-5">Openlending</h1>
                <a
                  @click="(profile = !profile), (profileBtn = !profileBtn)"
                  class="text-h6"
                  >Your Loan Profile</a
                ><v-icon
                  v-show="profile"
                  @click="(profile = false), (profileBtn = true)"
                  class="blue--text"
                  >mdi-chevron-up</v-icon
                ><v-icon
                  v-show="profileBtn"
                  @click="(profile = true), (profileBtn = false)"
                  class="blue--text"
                  >mdi-chevron-down</v-icon
                >
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4" class="text-center">
                <v-row>
                  <v-col cols="12" lg="4" xl="4">
                    <v-icon size="50" class="blue--text"
                      >mdi-blur-radial</v-icon
                    >
                    <h6 class="font-weight-regular">Get more out of Openlending</h6>
                  </v-col>
                  <v-col cols="12" lg="4" xl="4">
                    <v-icon size="50" class="blue--text"
                      >mdi-access-point</v-icon
                    >
                    <h6 class="font-weight-regular">Connect with the best</h6>
                  </v-col>
                  <v-col cols="12" lg="4" xl="4">
                    <v-icon size="50" class="blue--text"
                      >mdi-arrow-all</v-icon
                    >
                    <h6 class="font-weight-regular">Plan your next move</h6>
                  </v-col>
                </v-row>
              </v-col>
              <!-- <v-col cols="12" lg="2" xl="2">

              </v-col> -->
            </v-row>
          </div>

          <!-- Loan profile -->
          <div v-show="profile" class="mt-16 pa-3">
            <v-row>
              <v-col cols="12" lg="1" xl="1">
                <v-avatar><v-img src="@/assets/avatar.png"></v-img></v-avatar>
              </v-col>
              <v-col cols="12" lg="3" xl="3">
                <h3>Welcome Back!</h3>
                <h5 class="font-weight-regular mb-5">
                  We're happy to help you grow your business with Openlending
                  Working Capital.
                </h5>
                <a text class="blue--text">View loan history</a>
              </v-col>
              <v-col cols="12" lg="2" xl="2" class="grey lighten-3 pa-7">
                <h2 class="text-h3 mt-3">1</h2>
                <h4 class="font-weight-regular">Loan(s)</h4>
              </v-col>
              <v-col cols="12" lg="6" xl="6">
                <v-row class="grey lighten-3 pa-7 ml-2">
                  <v-col cols="12" lg="7" xl="7">
                    <h2 class="text-h3">$ 6,000</h2>
                    <h4 class="font-weight-regular">Total Borrowed</h4>
                  </v-col>
                  <v-col cols="12" lg="5" xl="5" class="text-left">
                    <h6 class="font-weight-regular">
                      Last Payment on 26th September 2022
                    </h6>
                    <p></p>
                    <a text class="blue--text text-h7 font-weight-light"
                      >View Monthly Details</a
                    >
                    <p></p>
                    <a text class="blue--text text-h7 font-weight-light"
                      >View Yearly Details</a
                    >
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </div>
          <v-divider class="mt-8"></v-divider>

          <!-- Loan Chart -->
          <div class="mt-16">
            <v-row
              class="mt-16"
              @click="(chart = !chart), (chartBtn = !chartBtn)"
            >
              <v-col cols="12" lg="6" xl="6" class="mt-5">
                <h2 class="font-weight-regular">LOAN PROGRESS CHARTS</h2>
              </v-col>
              <v-divider v-show="chart" vertical></v-divider>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="4" xl="4">
                <v-card class="transparent ml-10" flat v-show="chart">
                  <v-row>
                    <v-progress-circular
                      width="5"
                      size="100"
                      :value="78"
                      color="green lighten-2"
                    >
                      <h1 class="black--text">78%</h1>
                    </v-progress-circular>
                    <v-img
                      height="150"
                      contain
                      src="@/assets/chart.png"
                    ></v-img>
                  </v-row>
                </v-card>
              </v-col>
              <v-spacer></v-spacer>
              <v-col cols="12" lg="2" xl="2" class="text-right">
                <v-icon large v-show="chartBtn" class="blue--text mt-5"
                  >mdi-chevron-up</v-icon
                >
                <v-icon large v-show="chart" class="blue--text mt-5"
                  >mdi-chevron-down</v-icon
                >
              </v-col>
            </v-row>
            <!-- Charts -->
            <div v-show="chartBtn" class="mt-16">
              <v-row class="">
                <v-col cols="12" lg="6" xl="6" class="text-center">
                  <h3 class="text-center">Repayment Progress</h3>
                  <v-row>
                    <v-col cols="12" lg="8" xl="8" class="text-right">
                      <v-progress-circular
                        class="mt-10"
                        width="8"
                        size="200"
                        :value="78"
                        color="green lighten-2"
                      >
                        <h1 class="black--text">78%</h1>
                      </v-progress-circular>
                    </v-col>
                    <v-col cols="12" lg="4" xl="4" class="mt-16 text-left">
                      <h5 class="font-weight-regular">$ 10,000</h5>
                      <h5 class="font-weight-regular">Outstanding balance</h5>
                      <h5 class="font-weight-regular mt-7">$ 1,257</h5>
                      <h5 class="font-weight-regular">Paid to date</h5>
                    </v-col>
                  </v-row>
                </v-col>
                <v-divider vertical></v-divider>

                <v-col cols="12" lg="6" xl="6">
                  <h3 class="text-center">Repayment Tracking</h3>
                  <v-row>
                    <v-col cols="12" lg="7" xl="7" class="text-right">
                      <v-img
                        height="300"
                        contain
                        src="@/assets/chart.png"
                      ></v-img>
                    </v-col>
                    <v-col cols="12" lg="5" xl="5" class="mt-16 text-left">
                      <h5 class="font-weight-regular">Average Payment</h5>
                      <h5 class="font-weight-regular">$ 57,975</h5>
                      <h5 class="font-weight-regular mt-7">
                        Estimated time to repay
                      </h5>
                      <h5 class="font-weight-regular">1 month(s)</h5>
                    </v-col>
                  </v-row>
                </v-col>
              </v-row>
            </div>
          </div>
          <v-divider v-show="chartBtn" class="mt-10"></v-divider>

          
          <div class="mt-8">
            <v-row>
                <!-- Loan Details Column-->
              <v-col cols="12" lg="4" xl="4" class="mt-3">
                <h2 class="font-weight-regular mb-5">Loan Details</h2>
                <h5>$ 10,000</h5>
                <h5 class="grey--text mb-5">Outstanding balance</h5>
                <h5>$ 1,257</h5>
                <h5 class="grey--text">Paid to date</h5>
                <v-btn
                  large
                  tile
                  outlined
                  class="blue--text text--darken-3 text-capitalize mt-3"
                  >Make Payment</v-btn
                >
                <v-divider class="mt-7"></v-divider>
                <h5 class="mt-5">$ 10,000</h5>
                <h5 class="grey--text mb-5">Initial loan amount</h5>
                <h5>$ 1,257</h5>
                <h5 class="grey--text">Loan Fee</h5>
                <h5 class="mt-4">30%</h5>
                <h5 class="grey--text">Repayment percentage</h5>
                <h5 class="mt-4">$ 4,500</h5>
                <h5 class="grey--text mb-3">Minimum due every 90 days</h5>
                <a
                  large
                  tile
                  text
                  class="blue--text text--darken-3 text-capitalize mt-3"
                  ><v-icon class="blue--text">mdi-download</v-icon> Download
                  contract</a
                >
                <v-divider class="mt-7"></v-divider>

                <h2 class="font-weight-regular mb-5 mt-5">How are we doing?</h2>
                <h5 class="mb-4">Your feedback is always appreciated.</h5>
                <a
                  large
                  tile
                  text
                  class="blue--text text--darken-3 text-capitalize mt-3"
                  >Take our satisfaction survey</a
                >
                <v-divider class="mt-7"></v-divider>

                <h2 class="font-weight-regular mb-5 mt-5">Loan Tips</h2>
                <h5 class="mb-4">Meet the minimum requirement</h5>
                <h5 class="mb-4 grey--text font-weight-regular">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </h5>
                <a
                  large
                  tile
                  text
                  class="blue--text text--darken-3 text-capitalize mt-3"
                  >Learn about the minimum requirement</a
                >
              </v-col>

              <!-- Scheduled Payment Column -->
              <v-col cols="12" lg="8" xl="8">
                <LoanTab />
              </v-col>
            <MobBottomNav class="d-sm-none .d-md-flex" />
            </v-row>
          </div>  
        </v-container>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="12" lg="2" xl="2"> </v-col>
    </v-row>
  </div>
</template>

<script>
import LoanTab from '../../components/LoanTab.vue';
import CustomerNav from "../../components/CustomerNav.vue";
import MobNav from "../../components/pwa/MobNav.vue";
import SystemBar from '../../components/SystemBar.vue';
import MobBottomNav from '../../components/pwa/MobBottomNav.vue';

export default {
  components: { LoanTab, SystemBar, CustomerNav, MobNav, MobBottomNav },
  data() {
    return {
      dialog: false,
      profile: true,
      profileBtn: false,
      chart: false,
      chartBtn: true,
    };
  },
};
</script>

<style></style>
