<template>
  <div>
    <CustomerNav class="d-none d-md-flex .d-lg-none" />
    <SystemBar class="d-none d-md-flex .d-lg-none" />
    <MobNav class="d-sm-none .d-md-flex" />
    <!-- <MobHome class="d-sm-none .d-md-flex" /> -->
    <div class="pb-10">
      <v-container>
        <v-row>
          <v-col cols="12" xs="12" xl="12" lg="12">
            <!-- Stepper -->
            <div class="">
              <v-stepper tile v-model="e1" class="transparent" flat alt-labels>
                <v-stepper-header class="">
                  <v-stepper-step :complete="e1 > 1" step="1">
                    CALCULATION
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="e1 > 2" step="2">
                    PERSONAL INFO
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="e1 > 3" step="3">
                    SUBMIT
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="e1 > 4" step="4">
                    DOC UPLOAD
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step :complete="e1 > 5" step="5">
                    COMPLETE
                  </v-stepper-step>
                </v-stepper-header>

                <!-- stepper Items -->
                <v-stepper-items>
                  <!-- Calculations -->
                  <v-stepper-content step="1">
                    <v-card flat class="ma-12 transparent">
                      <v-form>
                        <v-row>
                          <v-spacer />
                          <v-col cols="12" lg="9" xl="9" class="text-left">
                            <v-row>
                              <v-spacer />
                              <v-col cols="12" lg="6" xl="6">
                                <h2>Calculate your loan</h2>
                                <h5 class="mt-5">Total amount</h5>
                                <v-text-field
                                  prepend-inner-icon="mdi-currency-usd"
                                  v-model="totalAmount"
                                  filled
                                ></v-text-field>
                                <v-slider
                                  max="10000"
                                  min="0"
                                  v-model="totalAmount"
                                ></v-slider>

                                <h5 class="mt-5">Term</h5>
                                <v-text-field
                                  v-model="term"
                                  filled
                                ></v-text-field>
                                <v-slider
                                  max="48"
                                  min="0"
                                  v-model="term"
                                ></v-slider>

                                <!-- <h5 class="mt-5">Monthly payment</h5>
                                <v-text-field
                                  v-model="installment"
                                  filled
                                ></v-text-field>
                                <v-slider v-model="installment"></v-slider> -->
                              </v-col>
                              <v-spacer />
                            </v-row>
                          </v-col>
                          <v-spacer />
                        </v-row>
                        <v-divider class="mt-10" />
                        <v-row>
                          <v-col
                            cols="12"
                            lg="12"
                            xl="12"
                            class="text-right pa-5"
                          >
                            <v-btn
                              class="mt-5"
                              x-large
                              color="primary"
                              @click="e1 = 2"
                            >
                              continue to personal information
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-card>
                  </v-stepper-content>

                  <!-- Personal Info  stepper-->
                  <v-stepper-content step="2">
                    <v-card flat class="mt-5 transparent">
                      <v-form>
                        <v-row>
                          <v-col cols="12" lg="6" xl="6">
                            <!-- Personnal Info Form -->
                            <v-row>
                              <v-col
                                cols="12"
                                xl="2"
                                lg="3"
                                class="text-right mt-15"
                              >
                                <h4 class="font-weight-medium">First Name:</h4>
                                <h4 class="mt-12 font-weight-medium">
                                  Last Name:
                                </h4>
                                <h4 class="mt-10 font-weight-medium">
                                  Address:
                                </h4>
                                <h4 class="mt-10 font-weight-medium">City:</h4>
                                <h4 class="mt-10 font-weight-medium">State:</h4>
                                <h4 class="mt-10 font-weight-medium">
                                  ZIP Code:
                                </h4>
                                <h4 class="mt-10 font-weight-medium">
                                  Phone Number:
                                </h4>
                                <h3 class="mt-10 font-weight-medium">Email:</h3>
                              </v-col>
                              <v-col cols="12" xl="9" lg="9">
                                <h2
                                  class="text-center mb-5 font-weight-regular"
                                >
                                  Personal Information
                                </h2>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="firstName"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="lastName"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="address"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="city"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="state"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="zipCode"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="phoneNumber"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="email"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-col>

                          <!-- Financial Info Form -->
                          <v-col cols="12" lg="6" xl="6">
                            <v-row>
                              <v-col
                                cols="12"
                                xl="3"
                                lg="5"
                                class="text-right mt-15"
                              >
                                <h4 class="font-weight-medium">
                                  Social Security Number:
                                </h4>
                                <h4 class="mt-12 font-weight-medium">
                                  Date of Birth:
                                </h4>
                                <h4 class="mt-10 font-weight-medium">
                                  Employment Status:
                                </h4>
                                <h4 class="mt-10 font-weight-medium">
                                  Employer Name:
                                </h4>
                                <h4 class="mt-10 font-weight-medium">
                                  Years at this Employer:
                                </h4>
                                <h4 class="mt-10 font-weight-medium">
                                  Monthly Gross Income:
                                </h4>
                              </v-col>
                              <v-col cols="12" xl="9" lg="7">
                                <h2
                                  class="text-center mb-5 font-weight-regular"
                                >
                                  Financial Information
                                </h2>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="securityNumber"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="dob"
                                  type="date"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="employmentStatus"
                                ></v-text-field>
                                <v-text-field
                                  placeholder="Employer Name or NA"
                                  outlined
                                  dense
                                  v-model="employerName"
                                ></v-text-field>
                                <v-text-field
                                  outlined
                                  dense
                                  v-model="years"
                                  type="number"
                                ></v-text-field>
                                <v-text-field
                                  prepend-inner-icon="mdi-currency-usd"
                                  outlined
                                  dense
                                  v-model="gross"
                                ></v-text-field>
                              </v-col>
                            </v-row>
                          </v-col>
                          <v-spacer />
                        </v-row>
                        <v-divider class="mt-10" />
                        <v-row>
                          <v-col cols="12" lg="3" xl="3" class="pa-5">
                            <v-btn
                              icon
                              class="mt-5"
                              x-large
                              color="primary"
                              @click="negativeSuggestion"
                            >
                              <v-icon class="red--text"
                                >mdi-close-circle</v-icon
                              >
                            </v-btn>
                          </v-col>
                          <v-col cols="12" lg="3" xl="3" class="pa-5">
                            <v-btn
                              icon
                              class="mt-5"
                              x-large
                              color="primary"
                              @click="positiveSuggestion"
                            >
                              <v-icon class="green--text"
                                >mdi-check-circle</v-icon
                              >
                            </v-btn>
                          </v-col>
                          <v-col cols="12" lg="3" xl="3" class="pa-5">
                            <v-btn
                              icon
                              class="mt-5"
                              x-large
                              color="primary"
                              @click="restore"
                            >
                              <v-icon class="blue--text">mdi-restore</v-icon>
                            </v-btn>
                          </v-col>
                          <v-spacer />
                          <v-col
                            cols="12"
                            lg="3"
                            xl="3"
                            class="text-right pa-5"
                          >
                            <v-btn
                              :disabled="disabled"
                              class="mt-5"
                              x-large
                              color="primary"
                              @click="e1 = 3"
                            >
                              Submit
                            </v-btn>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-card>
                  </v-stepper-content>

                  <!-- Submit -->
                  <v-stepper-content step="3">
                    <v-card flat class="transparent">
                      <v-form>
                        <v-row>
                          <v-spacer />
                          <v-col cols="12" lg="9" xl="9" class="text-left">
                            <v-row>
                              <v-spacer />
                              <!-- Positive Result -->
                              <v-col v-show="accepted" cols="12" lg="8" xl="8">
                                <h2 class="font-weight-regular">Loan Offer</h2>
                                <v-card class="pa-5 mt-2" flat>
                                  <v-row>
                                    <v-col cols="12" lg="9" xl="9">
                                      <h3 class="font-weight-regular">
                                        <v-icon class="green--text mr-2"
                                          >mdi-circle</v-icon
                                        >
                                        Annual Percentage Rate
                                      </h3>
                                      <h3 class="font-weight-regular ml-9">
                                        The cost of your credit as a yearly rate
                                      </h3>
                                      <h3 class="ml-9 mt-2">4.90%</h3>
                                    </v-col>
                                    <v-col cols="12" lg="9" xl="9">
                                      <h3 class="font-weight-regular">
                                        <v-icon class="green--text mr-2"
                                          >mdi-circle</v-icon
                                        >
                                        Amount Financed
                                      </h3>
                                      <h3 class="font-weight-regular ml-9">
                                        The principal amount of the loan being
                                        provided.
                                      </h3>
                                      <h3 class="ml-9 mt-2">$6,000</h3>
                                    </v-col>
                                    <v-col cols="12" lg="9" xl="9">
                                      <h3 class="font-weight-regular">
                                        <v-icon class="green--text mr-2"
                                          >mdi-circle</v-icon
                                        >
                                        Finance Charge
                                      </h3>
                                      <h3 class="font-weight-regular ml-9">
                                        The amount the loan will cost you
                                      </h3>
                                      <h3 class="ml-9 mt-2">$464.02</h3>
                                    </v-col>
                                    <v-col cols="12" lg="9" xl="9">
                                      <h3 class="font-weight-regular">
                                        <v-icon class="green--text mr-2"
                                          >mdi-circle</v-icon
                                        >
                                        Total of Payments
                                      </h3>
                                      <h3 class="font-weight-regular ml-9">
                                        The total amount paid after all
                                        scheduled payments.
                                      </h3>
                                      <h3 class="ml-9 mt-2">$6,464.02</h3>
                                    </v-col>
                                    <v-col cols="12" lg="9" xl="9">
                                      <h3 class="font-weight-regular">
                                        <v-icon class="green--text mr-2"
                                          >mdi-circle</v-icon
                                        >
                                        Number of Pyments
                                      </h3>
                                      <h3 class="font-weight-regular ml-9">
                                        Equal Monthly Payments
                                      </h3>
                                      <h3 class="ml-9 mt-2">36</h3>
                                    </v-col>
                                    <v-col cols="12" lg="9" xl="9">
                                      <h3 class="font-weight-regular">
                                        <v-icon class="green--text mr-2"
                                          >mdi-circle</v-icon
                                        >
                                        Amount of Each Payment
                                      </h3>
                                      <h3 class="font-weight-regular ml-9">
                                        Per Month
                                      </h3>
                                      <h3 class="ml-9 mt-2">$179.56</h3>
                                    </v-col>
                                    <v-col cols="12" lg="9" xl="9">
                                      <h3 class="font-weight-regular">
                                        <v-icon class="green--text mr-2"
                                          >mdi-circle</v-icon
                                        >
                                        When Payments are Due
                                      </h3>
                                      <h3 class="ml-9">15th of each month</h3>
                                      <h3 class="ml-9 mt-2 font-weight-regular">
                                        You may request a different date by
                                        calling Customer Service on (512)
                                        999-7777
                                      </h3>
                                    </v-col>
                                  </v-row>
                                </v-card>
                              </v-col>
                              <v-spacer />
                            </v-row>
                          </v-col>
                          <v-spacer />
                        </v-row>
                        <!-- <v-divider v-show="accepted" class="mt-3" /> -->
                        <v-row>
                          <v-col
                            cols="12"
                            lg="12"
                            xl="12"
                            class="pa-3 text-center"
                          >
                            <v-btn
                              v-show="accepted"
                              class=""
                              x-large
                              color="primary"
                              @click="e1 = 4"
                            >
                              KYC CHECK
                            </v-btn>
                          </v-col>
                          <!-- Approval Dialog -->
                          <v-dialog v-model="dialog" width="800px">
                            <v-card>
                              <v-card-title class="teal darken-4">
                                <v-spacer />
                                <v-btn icon @click="dialog = false"
                                  ><v-icon large class="grey--text"
                                    >mdi-close</v-icon
                                  ></v-btn
                                >
                              </v-card-title>
                              <div class="pa-16">
                                <v-row>
                                  <v-col
                                    cols="12"
                                    lg="12"
                                    xl="12"
                                    class="text-center"
                                  >
                                    <h2
                                      class="font-weight-regular teal--text text--darken-4"
                                    >
                                      Thank you. Your approval of the loan
                                      details is saved and the offer will now be
                                      reviewed by a loan officer. The results
                                      will be emailed to you.
                                    </h2>
                                    <v-btn
                                      dark
                                      x-large
                                      @click="
                                        (dialog = false),
                                          (accepted = false),
                                          (e1 = 4)
                                      "
                                      tile
                                      class="mt-8 teal darken-4"
                                      >Close</v-btn
                                    >
                                  </v-col>
                                </v-row>
                              </div>
                            </v-card>
                          </v-dialog>

                          <!-- Declined Dialog -->
                          <v-card v-show="declined">
                            <v-card-title class="teal darken-4 px-10">
                              <h2 class="white--text">Rejection Notice</h2>
                              <v-spacer />
                            </v-card-title>
                            <div class="pa-16">
                              <v-row>
                                <v-col
                                  cols="12"
                                  lg="12"
                                  xl="12"
                                  class="text-left"
                                >
                                  <h2
                                    class="font-weight-regular teal--text text--darken-4"
                                  >
                                    Thank you for your loan application. After
                                    evaluation, we regret to inform you that
                                    your loan application is no longer under
                                    consideration, due to the below reason. A
                                    copy of this notice and any further details
                                    have been sent to the email address you
                                    provided.
                                  </h2>
                                  <h2
                                    class="font-weight-light teal--text text--darken-4 mt-16"
                                  >
                                    Rejection Reasons:
                                  </h2>
                                  <h2
                                    class="font-weight-regular teal--text text--darken-4"
                                  >
                                    Income insufficient for amount of credit
                                    requested
                                  </h2>
                                  <v-btn
                                    dark
                                    x-large
                                    @click="(declined = false), (e1 = 1)"
                                    tile
                                    class="mt-8 teal darken-4"
                                    >Close</v-btn
                                  >
                                </v-col>
                              </v-row>
                            </div>
                          </v-card>
                        </v-row>
                      </v-form>
                    </v-card>
                  </v-stepper-content>

                  <!-- Doc Upload -->
                  <v-stepper-content step="4">
                    <v-card flat class="ma-12 transparent">
                      <v-form>
                        <v-row>
                          <v-spacer />
                          <v-col cols="12" lg="12" xl="9" class="">
                            <h2>Document upload</h2>
                            <h5 class="font-weight-regular mt-4">
                              Please upload the following documents to your loan
                              application.
                            </h5>

                            <!-- Identify Proof Card -->
                            <v-card class="pa-8 pb-16 mt-5">
                              <h3>Identify proof</h3>
                              <h5 class="font-weight-regular">
                                (ID card, passport)
                              </h5>
                              <v-card
                                outlined
                                style="border: 1px grey dashed"
                                class="mt-3 pa-7"
                              >
                                <v-row>
                                  <v-col cols="12" lg="1" xl="1">
                                    <v-icon size="70px"
                                      >mdi-cloud-upload-outline</v-icon
                                    >
                                  </v-col>
                                  <v-col cols="12" lg="5" xl="3">
                                    <h2 class="grey--text text--darken-2 mt-5">
                                      DRAG AND DROP HERE
                                    </h2>
                                    <input
                                      type="file"
                                      ref="file"
                                      @change="handleImageUpload($event)"
                                      id="file-input"
                                      style="display: none"
                                    />
                                  </v-col>
                                  <v-spacer />
                                  <v-col cols="12" lg="2" xl="2">
                                    <v-btn
                                      @click="
                                        $refs.file.click(),
                                          (showPreview1 = true)
                                      "
                                      outlined
                                      x-large
                                      block
                                      class="mt-3"
                                      >Upload</v-btn
                                    >
                                  </v-col>
                                </v-row>
                              </v-card>
                              <v-row>
                                <v-col
                                  cols="12"
                                  xl="4"
                                  lg="4"
                                  v-show="showPreview1"
                                  class="text-center"
                                >
                                  <h3
                                    class="font-weight-regular mt-10 text-left"
                                  >
                                    READY TO SEND
                                  </h3>
                                  <v-card
                                    v-show="showPreview1"
                                    flat
                                    class="pa-2 grey lighten-3 mt-5"
                                    text
                                    height="250"
                                  >
                                    <v-img
                                      :src="imagePreview1"
                                      v-show="showPreview1"
                                      height="235px"
                                      justify="center"
                                      contain
                                    ></v-img>
                                  </v-card>
                                  <v-btn
                                    class="mt-5"
                                    text
                                    @click="showPreview1 = false"
                                    >Delete</v-btn
                                  >
                                </v-col>
                              </v-row>
                            </v-card>

                            <!-- Income Proof Card -->
                            <v-card class="pa-8 pb-16 mt-8">
                              <h3>Income proof</h3>
                              <h5 class="font-weight-regular">
                                (bank statement, letter of imployment or salary
                                slip)
                              </h5>
                              <v-card
                                outlined
                                style="border: 1px grey dashed"
                                class="mt-3 pa-7"
                              >
                                <v-row>
                                  <v-col cols="12" lg="1" xl="1">
                                    <v-icon size="70px"
                                      >mdi-cloud-upload-outline</v-icon
                                    >
                                  </v-col>
                                  <v-col cols="12" lg="5" xl="3">
                                    <h2 class="grey--text text--darken-2 mt-5">
                                      DRAG AND DROP HERE
                                    </h2>
                                    <input
                                      type="file"
                                      ref="file2"
                                      @change="handleImageUpload2($event)"
                                      id="file-input"
                                      style="display: none"
                                    />
                                  </v-col>
                                  <v-spacer />
                                  <v-col cols="12" lg="2" xl="2">
                                    <v-btn
                                      @click="
                                        $refs.file2.click(),
                                          (showPreview2 = true)
                                      "
                                      outlined
                                      x-large
                                      block
                                      class="mt-3"
                                      >Upload</v-btn
                                    >
                                  </v-col>
                                </v-row>
                              </v-card>
                              <v-row>
                                <v-col
                                  cols="12"
                                  xl="4"
                                  lg="4"
                                  v-show="showPreview2"
                                  class="text-center"
                                >
                                  <h3
                                    class="font-weight-regular mt-10 text-left"
                                  >
                                    READY TO SEND
                                  </h3>
                                  <v-card
                                    v-show="showPreview2"
                                    flat
                                    class="pa-2 grey lighten-3 mt-5"
                                    text
                                    height="250"
                                  >
                                    <v-img
                                      :src="imagePreview2"
                                      v-show="showPreview2"
                                      height="235px"
                                      justify="center"
                                      contain
                                    ></v-img>
                                  </v-card>
                                  <v-btn
                                    class="mt-5"
                                    text
                                    @click="showPreview2 = false"
                                    >Delete</v-btn
                                  >
                                </v-col>
                              </v-row>
                            </v-card>
                            <div class="mt-8" v-show="showPreview1">
                              <h3 class="font-weight-regular text-center">
                                Ready to send the documents for approval
                                <v-btn class="blue ml-5" dark @click="e1 = 5"
                                  >Yes, Send</v-btn
                                >
                              </h3>
                            </div>
                          </v-col>
                          <v-spacer />
                        </v-row>
                      </v-form>
                    </v-card>
                  </v-stepper-content>

                  <!-- Agreement -->
                  <v-stepper-content step="5">
                    <v-card flat class="ma-12 transparent">
                      <v-form>
                        <v-row>
                          <v-col cols="12" lg="12" xl="12" class="text-center">
                            <v-card
                color="primary darken-1 white--text text-center"
                class="mb-12 d-flex align-center justify-center"
                height="200px"
                ><p class="text-h3">Thank you for filling this form</p></v-card
              >
              <v-btn color="primary" to="/customer/loans">Go to loans page</v-btn>
                          </v-col>
                        </v-row>
                      </v-form>
                    </v-card>
                  </v-stepper-content>
                </v-stepper-items>
              </v-stepper>
            </div>
          </v-col>
        </v-row>
        <MobBottomNav class="d-sm-none .d-md-flex" />
      </v-container>
    </div>
  </div>
</template>

<script>
import MobHome from "@/components/pwa/MobHome.vue";
import MobNav from "@/components/pwa/MobNav.vue";
import CustomerNav from "../../components/CustomerNav.vue";
import SystemBar from "../../components/SystemBar.vue";
import MobBottomNav from "../../components/pwa/MobBottomNav.vue";
export default {
  name: "Home",
  components: {
    MobNav,
    MobHome,
    CustomerNav,
    SystemBar,
    MobBottomNav,
  },
  data() {
    return {
      dialog: false,
      dialog2: false,
      installment: "",
      totalAmount: "",
      term: "",
      card: true,
      firstName: "",
      lastName: "",
      address: "",
      city: "",
      state: "",
      zipCode: "",
      phoneNumber: "",
      email: "example@email.com",
      securityNumber: "",
      dob: "",
      employmentStatus: "",
      employerName: "",
      years: 0,
      gross: "0.00",
      showPreview1: false,
      imagePreview1: "",
      showPreview2: false,
      imagePreview2: "",
      image: "",
      accepted: false,
      declined: false,
      disabled: true,
      approved: false,

      e1: 1,
      privatePractice: [
        {
          id: 1,
          title: "Openlending",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/customer",
        },
      ],
      pwa: [
        {
          id: 3,
          title: "Clearprice",
          src: require("@/assets/mark.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/pwa/patient",
        },
      ],
      admin: [
        {
          id: 2,
          title: "Admin",
          src: require("@/assets/admin.png"),
          description:
            "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatibus iusto molestiae molestias corporis reiciendis aut, architecto, error, modi odit dolor eaque fuga incidunt quasi veritatis eius labore cum ab ea!",
          link: "/admin",
        },
      ],
    };
  },
  methods: {
    handleImageUpload(event) {
      this.file = event.target.files[0];

      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.showPreview1 = true;
          this.imagePreview1 = reader.result;
        }.bind(this),
        false
      );

      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
        }
      }
    },

    handleImageUpload2(event) {
      this.file2 = event.target.files[0];

      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.showPreview2 = true;
          this.imagePreview2 = reader.result;
        }.bind(this),
        false
      );

      if (this.file2) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file2.name)) {
          reader.readAsDataURL(this.file2);
        }
      }
    },

    positiveSuggestion() {
      this.firstName = "Curly";
      this.lastName = "Howard";
      this.address = "529 North Highland";
      this.city = "Hollywood";
      this.state = "CA";
      this.zipCode = "91510";
      this.phoneNumber = "617-244-3672";
      this.email = "curly@gmail.com";
      this.securityNumber = "123456789";
      this.dob = "10/22/1903";
      this.employmentStatus = "Employed";
      this.employerName = "Warner Bros";
      this.years = "5";
      this.gross = "4500";
      (this.accepted = true), (this.declined = false), (this.disabled = false);
    },

    negativeSuggestion() {
      this.firstName = "Curly";
      this.lastName = "Howard";
      this.address = "529 North Highland";
      this.city = "Hollywood";
      this.state = "CA";
      this.zipCode = "91510";
      this.phoneNumber = "617-244-3672";
      this.email = "curly@gmail.com";
      this.securityNumber = "123456789";
      this.dob = "10/22/1903";
      this.employmentStatus = "Employed";
      this.employerName = "Warner Bros";
      this.years = "5";
      this.gross = "4500";
      (this.accepted = false), (this.declined = true), (this.disabled = false);
    },

    restore() {
      this.firstName = "";
      this.lastName = "";
      this.address = "";
      this.city = "";
      this.state = "";
      this.zipCode = "";
      this.phoneNumber = "";
      this.email = "";
      this.securityNumber = "";
      this.dob = "";
      this.employmentStatus = "";
      this.employerName = "";
      this.years = "";
      this.gross = "";
      (this.accepted = false), (this.declined = false);
    },
  },
};
</script>
