<template>
  <div>
    <LendBar />
    <NavLending />
    <div class="pa-14">
      <v-row class="pa-5">
        <v-col cols="12" xs="2" sm="2" md="2" lg="2" xl="2"></v-col>
        <v-col cols="12" xs="8" sm="8" md="8" lg="8" xl="8">
          <h1 class="text-h font-weight-bold text-center">
            Create a New Proposal - Start a Loan on Raiseblock CrowdLoan
          </h1>
        </v-col>
        <v-col cols="12" xs="2" sm="2" md="2" lg="2" xl="2"></v-col>
      </v-row>

      <v-container>
        <v-card outlined>
          <v-container>
            <v-row class="pa-5">
              <v-col cols="12" xs="1" sm="1" md="1" lg="1" xl="1"></v-col>
              <v-col cols="12" xs="1" sm="1" md="1" lg="1" xl="1"></v-col>
              <v-col xs="12" sm="12" md="12" xl="12" lg="12">
                <v-card class="blue pa-4 lighten-4 mt-3" flat>
                  <v-row>
                    <v-icon class="blue--text ml-5">mdi-information</v-icon>
                    <h4
                      class="blue--text text--darken-3 font-weight-light ml-3"
                    >
                      Individuals may apply to raise with Raiseblock CrowdLoan more than once.
                      If your application is not accepted, we recommend waiting
                      2-4 months before applying again.
                    </h4>
                  </v-row>
                </v-card>

                <v-card class="orange lighten-4 mt-5" flat>
                  <v-row>
                    <v-col xs="1" sm="1" md="1" xl="1" lg="1">
                      <v-icon class="orange--text ml-5">mdi-information</v-icon>
                    </v-col>
                    <v-col xs="11" sm="11" md="11" xl="11" lg="11">
                      <h4
                        class="orange--text text--darken-3 font-weight-light ml-3"
                      >
                        Add 0.0 CUSD to create a proposal. If proposal is
                        accepted, you will be refunded 0.0 CUSD and if proposal
                        is rejected, 0.0 CUSD will go to the DAO treasury.
                      </h4>
                    </v-col>
                  </v-row>
                </v-card>
                <v-card class="orange pa-4 lighten-4 mt-5" flat>
                  <v-row>
                    <v-icon class="orange--text">mdi-information</v-icon>
                    <h4
                      class="orange--text text--darken-3 font-weight-light ml-3"
                    >
                      Parameters cannot be changed by text proposals
                    </h4>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
          </v-container>

          <v-form class="pa-10" ref="form" @submit.prevent="onSubmit">
            <v-row class="pa-5">
              <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                <v-row class="pa-5">
                  <v-col cols="12" xs="6" sm="6" md="6" lg="6" xl="6">
                    <h2>Borrower Creator Name</h2>
                    <v-text-field class="mt-2" outlined></v-text-field>
                  </v-col>
                  <v-col cols="12" xs="6" sm="6" md="6" lg="6" xl="6">
                    <h2>Borrower Title</h2>
                    <v-text-field class="mt-2" outlined></v-text-field>
                  </v-col>
                </v-row>

                <v-row class="pa-5 pt-0">
                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Borrower Tagline</h2>
                    <h4 class="font-weight-regular">
                      Provide a short description that best describes your
                      borrowing purpose.
                    </h4>
                    <v-textarea outlined></v-textarea>
                  </v-col>

                  <!-- Company banner -->
                  <v-col cols="12" sm="12">
                    <v-row>
                      <v-col cols="12" sm="6">
                        <h3 class="my-3">Borrower Banner</h3>
                        <v-card
                          class="pa-5"
                          outlined
                          style="border: dashed 2px grey"
                          height="250"
                        >
                          <h4
                            class="grey--text font-weight-medium text-center mt-3"
                          >
                            PNG, JPEG or GIF. Max 100mb.
                          </h4>
                          <input
                            type="file"
                            ref="file"
                            @change="handleImageUpload($event)"
                            id="file-input"
                            style="display: none"
                          />
                          <p class="text-center ma-10">
                            <v-btn
                              @click="$refs.file.click()"
                              text
                              class="text-capitalize blue--text text--darken-3 blue lighten-4"
                              style="border-radius: 25px"
                            >
                              choose file
                            </v-btn>
                          </p>
                        </v-card>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <h3 class="my-3">Preview</h3>
                        <v-card
                          flat
                          class="pa-2"
                          text
                          style="border: dashed 2px grey"
                          height="250"
                        >
                          <v-img
                            :src="imagePreview1"
                            v-show="showPreview1"
                            height="230"
                            align="center"
                            justify="center"
                            contain
                          ></v-img>
                        </v-card>
                      </v-col>
                    </v-row>
                  </v-col>
                </v-row>

                <v-row class="pa-5">
                  <!-- <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Recipient Address</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      placeholder="500 Madison ave, New York"
                    ></v-text-field>
                  </v-col> -->

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Proposal Type</h2>

                    <v-combobox
                      class="mt-5"
                      v-model="chips"
                      :items="items"
                      chips
                      clearable
                      multiple
                      solo
                    >
                      <template
                        v-slot:selection="{ attrs, item, select, selected }"
                      >
                        <v-chip
                          v-bind="attrs"
                          :input-value="selected"
                          close
                          @click="select"
                          @click:close="remove(item)"
                        >
                          <strong>{{ item }}</strong>
                          &nbsp;
                          <!-- <span>(interest)</span> -->
                        </v-chip>
                      </template>
                    </v-combobox>
                  </v-col>

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Borrower Project Link</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      placeholder="Enter link to the campaign project"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Loan Amount (CUSD)</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      value="0"
                    ></v-text-field>
                  </v-col>

                  <v-col cols="12" xs="12" sm="12" md="12" lg="12" xl="12">
                    <h2>Duration (Days)</h2>
                    <v-text-field
                      class="mt-2"
                      outlined
                      placeholder="Enter the duration for raising the loan"
                      type="Number"
                    ></v-text-field>
                  </v-col>

                </v-row>
                <div class="pa-5">
                  <p class="text-end">
                    <v-btn
                      to="/lending"
                      type="submit"
                      text
                      large
                      class="green mt-5"
                      dark
                      :loading="loading"
                    >
                      Create Proposal
                    </v-btn>
                  </p>
                </div>
              </v-col>
            </v-row>
          </v-form>
        </v-card>
      </v-container>
    </div>
    <Float />
  </div>
</template>

<script>
import Float from '../../../components/Float.vue';
import LendBar from '../../../components/LendBar.vue';
export default {
  components: { Float, LendBar },
  data: () => ({
    items: [
      "Education",
      "Refugees",
      "Women",
      "Shelter",
      "Agriculture",
      "Technology",
      "Health",
    ],
    chips: ["Education" ],
    showPreview1: false,
    imagePreview1: "",
    showPreview: false,
    musicPreview: "",
    creatorName: '',
    charityName: '',
    fileName: '',
    nftPrincipal: '',
    loading: false,
  }),
  methods: {
    remove(item) {
      this.chips.splice(this.chips.indexOf(item), 1);
      this.chips = [...this.chips];
    },
    handleImageUpload(event) {
      this.file = event.target.files[0];

      let reader = new FileReader();

      reader.addEventListener(
        "load",
        function () {
          this.showPreview1 = true;
          this.imagePreview1 = reader.result;
        }.bind(this),
        false
      );

      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
        }
      }
    },
    async onSubmit() {
      try {
        this.loading = true
        const name = this.charityName
        const image = this.file
        const imageArray = await image.arrayBuffer()
        const imageByteData = [...new Uint8Array(imageArray)]

        const newNFTID = await fundblock.mint(imageByteData, name)
        this.loading = false
        console.log(`Proposal - #303: New NFT ID is ${newNFTID.toText()}`)
        this.nftPrincipal = newNFTID.toText()
      } catch (error) {
        console.error(error)
      }
    },
  },
};
</script>

<style></style>
